[2021-07-26 18:45] ramya-rao-a opened #1121 "Readme title and description does not talk about the service in auto generated mgmt plane packages"
Taking Azure Compute as an example, the auto generated ARM package has the below title in the generated readme

And the below 1 line description

For someone landing on this readme either in this repo or on npm, there is no indication as to what this package is used for.

Can we extract these two lines from the readme file with metadata that accompanies the swagger files used to generate these pac

[2021-07-26 20:54] ramya-rao-a commented on #1121
@sarangan12 I moved this issue from the azure-sdk-for-js repo. This is a language agnostic problem and is worth discussing in the auto rest crew with other language teams

[2021-07-27 23:24] deyaaeldeen commented on #1015
You can follow up with @lmazuel for any questions regarding the document.

[2021-07-28 19:53] sarangan12 opened #1124 "Issue with smoke-test"
This issue has been reported by @qiaozha through teams channel.

When you run the command `npm run smoke-test` command in the `autorest.typescript` repository, you get the following error:

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/602456/127387002-702f2f33-4545-4153-92c8-2a5220af7983.png)

@ramya-rao-a FYI...

[2021-07-28 20:04] sarangan12 commented on #1124
I have verified this and confirmed that this issue is indeed happening. This happens only in the Windows machine. Since, Jose, Deyaa and myself are working on mac/linux machines this did not happen to us.

[2021-07-28 21:29] sarangan12 commented on #1124
This is related to Autorest and I have created an issue with https://github.com/Azure/autorest/issues/4236. Will follow up and update here.

[2021-07-28 21:55] deyaaeldeen opened #1125 "factor out package version in user-agent header"
The user-agent header is being set in the context class, e.g. https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/attestation/attestation/src/generated/generatedClientContext.ts#L34-L38

However, the post-release bot should be able to update the version in the `packageDetails` variable but I do not think it is possible as it is. So we should factor the version part into its own variable and re

[2021-07-28 22:35] deyaaeldeen commented on #1125
I was told `packageDetails` could be added to constantsPath directly so I will close this issue.

[2021-07-28 22:35] #1125 closed

[2021-08-02 21:46] xirzec opened #1127 "Support for multiple swagger input (multiple clients in one package)"
Commonly services will describe their API surface using multiple swagger files, but we often wish to still ship this out of one JS package.

Minimal work here would be to figure out a way to have the generator run multiple times and export both clients from a root folder (we do this manually in convenience clients today)

[2021-08-02 21:48] xirzec opened #1128 "Clarify multi api-version support requirements"
Today we don't have a good understanding of what it means to support multiple api versions in Track 2.

Most data-plane packages sidestep this problem by only supporting the latest apiversion when they are generated. Some convenience clients have carefully crafted models by hand to be version resilient. We need a code-generatable default approach to this.

[2021-08-02 21:50] xirzec opened #1129 "Profile support - custom packages with models from many services"
First step is to clarify customer requirements before scoping the design/implementation work. Previous SDKs had a custom configuration where we ran the generator serially to compose profiles.

[2021-08-02 21:53] xirzec opened #1130 "Metadata generated by `generate-metadata: true` is old/stale"
To be track 2 compatible we should update the versions of dependencies, as well as make sure tsconfig and npm scripts are matching. Basically we should compare against the template and fix what needs to be fixed. This should also help with integrating fully generated packages into rush.

[2021-08-02 21:55] xirzec opened #1131 "Better heuristics for generated names"
We often end up with bad names, like:

- names with suffixes with incrementally higher numbers
-  things like ApiVersion20200630Preview
- Acronyms looking bad: #430

We should come up with better heuristics or invent syntax to address these issues where we can't resolve them automatically

[2021-08-02 21:58] xirzec opened #1132 "Fix issue with modeling inheritence"
Cat and Dog have an Animal base model but we generate `type AnimalUnion = Animal | Cat | Dog` instead of `type Animal = Cat | Dog`

In these cases the base model (e.g. Animal) contains common properties from the server, but never is actually returned. This is a workaround for the lack of `anyOf` and `oneOf` in the modeler.

For now an `x-ms-` property that omits the base type would be sufficient.

[2021-08-02 22:02] xirzec opened #1133 "Support for clientlets (partial application of common parameters in operation groups)"
Today when we create operation groups, it might look something like

[code]

Often, it would be more convenient to allow the consumer to pass `param1` and `param2` when retrieving the operation group, such as:

[code]

[2021-08-02 22:04] xirzec opened #1134 "Merge generated Client and ClientContext together"
Today generated clients have two levels of inheritance to them, but we really don't need to be doing this. By flattening now we will make it easier for convenience clients to extend the generated client without it getting too deep.

As part of this work, we should make sure the generated client doesn't expose any properties that we wouldn't want convenience clients to inherit.

[2021-08-02 22:05] xirzec opened #1135 "Corev2: client options types should extend `CommonClientOptions` instead of `ServiceClientOptions`"
Small tweak to make sure we're extending the correct public interface.

[2021-08-02 22:08] xirzec opened #1136 "Add Swagger syntax for configuring LROs"
Specifically things like tying together two separate paths for creating and polling an LRO and any other non-inferable configuration.

[2021-08-02 23:43] lmazuel commented on #1015
@sarangan12 talk to @iscai-msft and if still unclear, let's discuss in scrum

[2021-08-03 04:41] sarangan12 commented on #1015
@lmazuel Thanks. I will discuss with @iscai-msft

[2021-08-03 08:15] qiaozha opened #1137 "readme.md client construction for mgmt SDK client is incorrect"
https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/compute/arm-compute#create-and-authenticate-a-computemanagementclient

in the generated mgmt SDK readme.md. It suggests
[code]

but the correct way to create a mgmt client is
[code]

originally comes from https://github.com/Azure/azure-sdk-for-js/issues/16702

[2021-08-03 08:20] qiaozha opened #1138 "readme.md should add a link to how to use app registration docs."
In the readme.md there's a section about how to use app registration in @azure/identity.
Customer suggeests us to put a docs link on how to set up app registration https://github.com/Azure/azure-sdk-for-js/issues/16702#issuecomment-891474532

[2021-08-03 23:50] qiaozha commented on #1091
close it as pr merged.

[2021-08-04 05:48] sarangan12 commented on #1137
@qiaozha Thanks for raising this issue. I have looked into this issue and here is my opinion:

1. I agree with your analysis that for the `ComputeManagementClient`, the sample code `const client = new ComputeManagementClient("<endpoint>", new DefaultAzureCredential());` is incorrect. It has to be `const client = new ComputeManagementClient(new DefaultAzureCredential(), subscriptionId);`.
2. But, i

[2021-08-05 02:34] qiaozha commented on #1137
@sarangan12 Thanks for your detailed suggestion. I will discuss with @nickzhums and @lirenhe about it and get back to you.

[2021-08-05 05:57] sarangan12 opened #1140 "Enum Value with only one option is always present in the request"
In the Storage Blob Data Plane SDK - [file](https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-10-02/blob.json), we have the following swagger definition:

[code]

With the above swagger definition, the parameter definition looks as:

[code]

With the above code, the request always has this encryptionAlgo

[2021-08-05 06:04] sarangan12 opened #1141 "xmlName property is set incorrectly"
In the Storage Blob Data Plane SDK - [file](https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-10-02/blob.json), we have the following swagger definition:

[code]

With the above definition, the generated SDK looks like:

[code]

As you can see with the above code, the `xmlName` must be `OrMetadata`. But,

[2021-08-05 06:13] sarangan12 opened #1142 "`Operations` appear in param values"
For the Storage Data Lake [Swagger](https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.StorageDataLake/stable/2020-06-12/DataLakeStorage.json#L602), there is swagger definition as:

[code]

With the previous generator, the params name is `PathCreateOptionalParams`. Now the name is changed to `PathOperationsCreateOptionalParams` w

[2021-08-05 06:13] sarangan12 opened #1143 "`Operations` appear in param values"
For the Storage Data Lake [Swagger](https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.StorageDataLake/stable/2020-06-12/DataLakeStorage.json#L602), there is swagger definition as:

[code]

With the previous generator, the params name is `PathCreateOptionalParams`. Now the name is changed to `PathOperationsCreateOptionalParams` w

[2021-08-05 06:17] sarangan12 opened #1144 "isXml Value is incorrect"
In the storage-file [Swagger](https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.FileStorage/preview/2020-10-02/file.json#L1263), we have the following definition:

[code]

The generated code looks like:

[code]

Before migration, the code is

[code]

As you can see `isXML` is incorrect. (Also `mediaType` needs to be checked)

CC

[2021-08-05 06:20] #1142 closed

[2021-08-06 20:02] #1091 closed

[2021-08-06 20:29] JonathanCrd commented on #1138
Fixed in https://github.com/Azure/autorest.typescript/pull/1146

[2021-08-06 20:29] #1138 closed

[2021-08-09 17:41] sarangan12 commented on #1133
[code]

[code]

With the above design, I agree the code to call `doBar` & `doXyz` are optmized. But, the code to call `doXyz` does not achieve much. Also, the code to call `doAbc` does not achieve anything. Am I missing something?

Also, let me take a specific example of [`skillsets.ts`](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/search/search-documents/src/generated/service/operation

[2021-08-09 17:52] sarangan12 commented on #1129
@xirzec I have discussed this feature with Laurent on last Thursday. This feature does not have any customer requirement now and would not be worth pursuing investigation. If you are Ok, this issue could be closed.

[2021-08-10 04:19] qiaozha opened #1148 "Generate management plane SDK with test framework"
The current generated management plane SDK doesn't have any tests. We plan to change the code generators to generate the test frameworks so that manually added tests won't be overwritten once regenerating the code.
for test framework details, we can refer to https://github.com/Azure/azure-sdk-for-js/pull/16693

[2021-08-10 19:30] sarangan12 commented on #847
@fgreinacher Could you please elaborate on the requirement? What is the output you would require in the generated client?

[2021-08-11 18:34] xirzec commented on #1129
I'm happy to not support profiles if we don't have to. /cc @mayurid @ramya-rao-a

[2021-08-11 18:41] sarangan12 commented on #1141
I have looked into this issue and found the following. On looking into the `codeModel` object, the `xmlName` property (with the value of `OrMetaData` is not passed to the generator code. So, it is not possible for the generator to use that property.

It used to work before a few months. I am not sure why this is not working now.

So, in order to fix this issue, there has to be 2 steps:

1. Autores

[2021-08-11 18:52] sarangan12 commented on #1141
I have created an issue with autorest https://github.com/Azure/autorest/issues/4256 I will follow it up and update this issue.

[2021-08-11 21:12] xirzec commented on #1133
I agree that this doesn't help much for listing/manipulating resources. I think I see it more as a way to bind state for operations that are all scoped to a particular resource.

So to me a better analogue would be if say `SearchClient` didn't take an index name, but looked more like:

[code]

So instead of splitting operation groups into multiple clients, we simply parameterize them into dynamic

[2021-08-11 21:13] xirzec commented on #1133
Also curious what @bterlson and @joheredi think

[2021-08-11 22:42] #847 closed

[2021-08-11 22:47] sarangan12 commented on #683
@joheredi Currently, The Operation Class Does not depend on the Client Class. But there is a dependency on ClientContext Class (which is a parent of client class). Do you still think this issue is valid? i.e. Do you think even this dependency chain should be broken?

[2021-08-11 23:34] deyaaeldeen opened #1152 "Add a test case for patch lros"
once this PR is merged https://github.com/Azure/autorest.testserver/pull/298.

[2021-08-12 05:47] sarangan12 commented on #1133
Also, with the latest suggestion from Brian and Michael Nash in the Arch Board review, We could achieve the same functionality that Jeff mentioned in his last comment. But, in order to achieve this, we should do the code changes in in Modelerfour. I am working with autorest crew and will provide updates on the expected timelines soon.

[2021-08-12 16:44] joheredi commented on #1133
I like the idea of having these `clientlets` one thing I would like to set clear before we start working on this, is how we plan to gather the information about which parameters the `clientlets` would get.

Do we expect these `clientlet` parameters to be called out in the swagger explicitly? Or do we want to be smart in the generators and try to find the common parameters to hoist?

I think having

[2021-08-12 17:00] joheredi commented on #1133
This is cool! If there are methods in the operation group that don't need any of the "common" parameters, we could have a clientlet override that takes no parameters and only has the methods that don't take those parameters, when passing common parameters you get all.

for example:
[code]

would turn into:

Typescript Playground ([link](https://www.typescriptlang.org/play?ssl=19&ssc=22&pln=1&pc=1#

[2021-08-12 17:11] joheredi commented on #683
Yeah I think the circular dependency was fixed when implementing the operation interfaces. This is how dependency looks now

- PagingClient:
   - Paging
   - PagingImpl
       - Paging
       - PagingClientContext
   - PagingClientContext
- PagingImpl
       - Paging
       - PagingClientContext

I don't think there are dependency loops anymore. We can close this issue 😄

[2021-08-12 18:09] deyaaeldeen opened #1153 "[V4] Make the support for TokenCredentials behind a flag"
v4 generates client constructors which takes a credential as input if the `--add-credentials` parameter was used. This credential is an alternate between the old cred type and the `@azure/identity`'s `TokenCredential`. However the implementation for `TokenCredential` in `@azure/ms-rest-js` does not support AAD for all packages because the scope is hard coded for management-plane packages only. Thi

[2021-08-12 18:40] xirzec commented on #1133
I think we definitely need configurability in any case, so we should have good x-ms properties to support it.

Out of the box I think we could maybe default to using the operation group pattern with this and do a simple greedy algorithm like:

1. Take the first operation in the group and record its parameters as candidate group parameters
2. For the remaining 2..n operations in the group, look at

[2021-08-12 18:41] xirzec commented on #1133
The above will at worst give us what we have today (an operation group with no parameters) and at best give us some easy wins. We can construct overloads like you show above by using special directives

[2021-08-12 19:18] bterlson commented on #1133
I agree that we will likely want overrides, but I believe C# is being successful inferring this kind of thing based on parameters. I think their algorithm is similar to what Jeff suggests.

For the overall shape, for:

[code]

IIUC the C# approach is something like:

[code]

The drawback of this approach is that, when these are subresources, the operations like `create` and `list` conflict with pr

[2021-08-12 20:07] xirzec commented on #1133
+1 on the second more nuanced approach

[2021-08-12 22:19] deyaaeldeen commented on #944
This could be done by taking advantage of the `processResult` function in the options bag in the `LroEngine` class. Text Analytics has an example for such function that processes a pageable results here: https://github.com/Azure/azure-sdk-for-js/blob/b8f21fc9ca3675c73f6eea6ba0942eeb8084309d/sdk/textanalytics/ai-text-analytics/src/healthLro.ts#L182-L227

[2021-08-12 22:22] deyaaeldeen opened #1154 "[V6] Use getPagedAsyncIterator to implement paging"
All the code we generate for paging could be replaced by a call to [`getPagedAsyncIterator`](https://github.com/Azure/azure-sdk-for-js/blob/b8f21fc9ca3675c73f6eea6ba0942eeb8084309d/sdk/core/core-paging/src/getPagedAsyncIterator.ts#L13).

[2021-08-13 18:18] sarangan12 commented on #683
Based on the comment from @joheredi Closing this issue

[2021-08-13 18:18] #683 closed

[2021-08-13 18:20] ramya-rao-a opened #1156 "The package.json file should have metadata required by the automation to increment package version after release"
In the azure-sdk-for-js repo, we have automated PRs that increment the package version after an update for the package is released. This automation updates the version in package.json and changelog files by default. Any other places that hard codes the package version needs to be listed as metadata in the package.json. For example: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/k

[2021-08-13 19:55] sarangan12 commented on #874
@jeremymeng I have looked into this issue. Here are my observations:

The `dataSourceType` looks like this in the swagger:

[code]

As you can see, in the above case, specifically, the `modelAsString` is set to `true`. But, the old generator generated the following code:

[code]

Now, this is a bug. There has to be a `| string` at the end. Now, if you add that the compiler will just turn it to `st

[2021-08-13 19:55] #874 closed

[2021-08-16 16:59] sarangan12 commented on #759
This is a good issue for you to work on. Please let me or Jose know if you have any specific questions.

[2021-08-16 17:07] deyaaeldeen commented on #759
@sarangan12 and @JonathanCrd there is more context on validation in https://github.com/Azure/azure-sdk-for-js/pull/14278

[2021-08-16 17:47] #291 closed

[2021-08-17 07:46] qiaozha opened #1159 "Generated Code fails to build on Container Service management plane."
We found the current v6 code generator fails to generate container service management plane package.
To repo:
1. use the latest v6 code generator 6.0.0-alpha.8.20210816.1 and checkout the rest api specs main branch.
2. use this readme.md https://github.com/Azure/azure-rest-api-specs/blob/main/specification/containerservice/resource-manager/readme.md

This is because there's a numeric enum in conta

[2021-08-17 18:08] sarangan12 commented on #1159
Thanks @qiaozha for reporting this issue. As you have mentioned that this might be a GA Blocker Issue (in the email), I will take this as high priority and started working on this issue. Will update my progress on this issue soon.

[2021-08-18 03:21] sarangan12 commented on #1159
The Code Changes are completed and merged. The changes are available in https://www.npmjs.com/package/@autorest/typescript/v/6.0.0-alpha.8.20210817.4

[2021-08-18 04:58] sarangan12 commented on #1159
A new version https://www.npmjs.com/package/@autorest/typescript/v/6.0.0-beta.9 has been released with this fix. Please check and feel free to reopen this issue if you still face any more issue. Thanks

[2021-08-18 04:58] #1159 closed

[2021-08-18 10:53] ffMathy opened #1163 "Critical bug within the last 24 hours"
We had a build that succeeded around 5 PM GMT + 1 yesterday, but now that very same build fails, after regenerating our Autorest client.

It looks like the `package.json` of the Autorest package generated has a `types` property, which points to a file `./types/client.d.ts` which isn't there.

That's causing issues in VS Code and at compile-time:

Also, it looks like it's trying to look for typings

[2021-08-18 11:41] ffMathy commented on #1163
It appears the issue was introduced in #1123.

Not sure what the intent was.

[2021-08-18 18:53] sarangan12 commented on #1163
@ffMathy

Thanks for reporting this issue. Yes. We have modified the `main`, `module`, & `types` properties in the `package.json` file. We have done this change so the generated libraries align closely with our existing data plane JS SDKs.

Now, I have verified the same using the following commands (from the `Azure/autorest.typescript` repository):

[code]

At this point, I could see `dist`, `dist

[2021-08-20 03:09] qiaozha opened #1166 "unintentional clear output folder"
Autorest will clear output folder when I don't specify --clear-output-folder in command line or anywhere.
Even I try to use --clear-output-folder=false to force it not to clear the output folder, it won't work.

To repro:
1. run this command `autorest --typescript --version=3.1.3 --use=@autorest/typescript@6.0.0-beta.9 --modelerfour.lenient-model-deduplication --license-header=MICROSOFT_MIT_NO_VER

[2021-08-20 21:51] sarangan12 commented on #1166
Hi @qiaozha Actually the command does have clear-output-folder. It is available in the readme.typescript.md. If you remove it there, then it will not be overriding any values.

Is there anything else you need from me?

[2021-08-20 22:28] craigsmitham commented on #1132
There is an additional problem if you just omit the base type (`Animal`) from the union, because the sub-types are defined as an intersection between their properties and the base class properties (`type Cat = Animal & { kind: 'cat'; meows: boolean; }`). This is problematic for type narrowing, because it results in a `type Cat = { kind: 'animal' | 'cat' | 'dog', meows: boolean; }`.

If it's modele

[2021-08-23 03:11] qiaozha commented on #1166
@sarangan12 Hi, Thanks for the info, we added this option a long time ago due to https://github.com/Azure/azure-rest-api-specs/pull/7676  this pr. If we simply remove it, the older issue will still be there, especially when we generate track2 SDK for existing track1 SDK for the first time as track2 code generator has removed the *Mappers.ts in src/models folder.
![image](https://user-images.github

[2021-08-23 07:00] willemda opened #1170 "x-nullable / nullable / x-ms-nullable support with $ref in response schema"
AutoRest doesn't seem to support the following documented use-case (https://github.com/Azure/autorest/blob/main/docs/extensions/readme.md#x-nullable)

We've tried several variations of this (using `nullable`, `x-nullable` or `x-ms-nullable` next to `$ref` and/or without the `allOf`) with no luck.

Looking through existing autorest.typescript issues for nullable this looks like it should have been

[2021-08-23 16:26] jmaillet commented on #588
I am currently running into this issue.

accessing ```.body``` allows the code to compile, but throws at runtime, because it is undefined.

Is there a recommended workaround short of casting the response as ```any```?

[2021-08-23 18:37] sarangan12 commented on #1163
Closing this issue as there are no pending action items. If you still face this issue, Please reopen it. Thanks

[2021-08-23 18:37] #1163 closed

[2021-08-23 21:03] xirzec commented on #1132
Inheritance doesn't exist in JSON, so there's no reason to model it in our interfaces, we can inline shared properties:

[code]

This is the cleanest and most obvious conversion that is fully compatible with `oneOf`. If we really want to re-use model shapes as a form of inheritance, I think it would look like this:

[code]

This avoids the problems you specify above and doesn't pollute the "Animal

[2021-08-23 21:23] craigsmitham commented on #1132
I agree the `type Animal = Cat | Dog;` would be appropriate when seeking to model `oneOf/anyOf`. I wish we had `oneOf/anyOf` support, but that doesn't seem to be the scope of this issue.

If we are going to infer an inheritance hierarchy using `allOf`, to be consistent I think one of the options that can be returned in the union type should be the base class. It may or may not be abstract, dependi

[2021-08-23 22:07] xirzec commented on #1132
Fair. I think the heart of my comments (despite my poor issue title) is I would like to support service devs who are working around the lack of `anyOf`/`oneOf`. So I want them to be able to write a swagger (with what we support today) that produces output that looks like they weren't working around a lack of support on our end. 😄

I agree that we are abusing the way `allOf` works today. I think it

[2021-08-23 22:24] bterlson commented on #1132
I believe that allOf is explicitly not inheritance. The spec at least strongly implies this in a few cases.

I call what is being proposed here Johanian inheritance, as it's distinct from pure OA3 semantics and is designed to e.g. make adding variants to a union a non-breaking change. FWIW I'm not yet convinced this that good of a practice considering its deleterious effects on e.g. control flow n

[2021-08-23 22:50] johanste commented on #1132
There is a class of APIs where new "kinds" of a given abstract resource type are added over time. In the pet store example, that is the type of pets. In Azure, such examples include the type of data source that you ingest data to for anomaly detector. In ARM, that is new resource types. Or a new system event in event grid. And so on. The canonical pattern for this is a discriminated (tagged) type

[2021-08-23 23:01] bterlson commented on #1132
The `other` idea is interesting... Rather than generating either `type AnimalUnion = Animal | Cat | Dog` or `type Animal = Cat | Dog`, we can generate `type Animal = Cat | Dog | OtherAnimal;` where `type OtherAnimal = BaseAnimal & { additionalProperties: Record<string, unknown> }`? I might be ok with this kind of projection only in cases where we come across an unknown discriminant...

[2021-08-23 23:09] bterlson commented on #1132
Unfortunately the challenge with this approach is that if `BaseAnimal` has a `type: string` property, then this approach still breaks control flow based narrowing because `if (animal.type === 'cat')` matches the `'cat'` and `string` case. I wonder if we could get away with reserving a discriminant value of `other` to use in this case, so we can have `animal.type === 'other'` and define `type Other

[2021-08-23 23:35] johanste commented on #1132
An additional requirement that I'd like to see met is that, as you upgrade to a new version of your library - e.g. one that understands the new animal, your code would not break. Otherwise, we'd have to be careful about addition of new model types being considered breaking changes. Hopefully that doesn't bring us all the way back to the event grid style type fences that @bterlson dislikes...

[2021-08-23 23:58] bterlson commented on #1132
Ahh yeah, this ruins the entire proposal. Hmm.

[2021-08-24 00:26] sarangan12 commented on #1170
I have analyzed the issue. The generator is handling the `x-nullable` when it is present within an object. But, when it is mentioned on the response, it does not have any effect.

Now, @willemda I am wondering how you are expecting this to be handled? Because, the response could be null. Now, even without any further code modifications, it could be null. So, what do you actually expect in this cas

[2021-08-24 01:42] willemda commented on #1170
@sarangan12 We're love for this GET operation to explicitely define it can return a null response so that it reflects in the return type definition (`Widget | null`)

The use-case is that for this GET operation a 200 or a 404 status code would share the same schema, but 404 would always be handled as `null`.

This would make it cleaner to handle non-existing objects when retrieving from an API (in

[2021-08-24 10:11] willemda commented on #1170
@sarangan12 If I manually update the body mapper to set the `nullable` property to true, then this works as expected and my response doesn't get wrapped into a `body` property

[code]

It looks like this body mapper property is supported & used by the core-client library to determine if the response should be wrapped into a `body` property or not:

https://github.com/Azure/azure-sdk-for-js/blob/ma

[2021-08-24 13:10] craigsmitham commented on #1132
I think the definition of "breaking change" depends here. A remote API could introduce a new model type that didn't break the semantics of the API, but if the addition type to a union  could "break" when the users upgrade to a new version of the client library.

I'd pushback a little that this is a "breaking" change.
1) it doesn't break the run-time behavior of existing code and
2) in the scenario

[2021-08-24 18:28] bterlson commented on #1132
In a world where we don't have the base type participating in the union in some way (e.g. as an item in the union, or the `other` approach I sketched), adding an item to a union that is an output type is potentially breaking to runtime code. Consider:

[code]

If we add 'lizard', the else block will think a lizard is a cat.

In general, if a user needs to take code changes in order to adopt a new

[2021-08-24 19:10] craigsmitham commented on #1132
Your example makes sense. I can see how a simply adding a member to a union type would break existing code, and it's reasonable to consider any required code fixes to be a breaking change requiring a semver major version bump.

In my case, I'm simply concerned more about developer ergonomics for a continuously (non-versioned) internal API, so I want type narrowing provided by simple TypeScript uni

[2021-08-24 19:36] bterlson commented on #1132
The type guards approach is what @johanste alluded to above with

My main issue with this approach is what you called out - without documentation and probably explicit samples showing it, I don't see people realizing they can do this, and so they'd just hobble along with the less-than-ideal but version tolerant API they are given.

[2021-08-24 23:05] sarangan12 commented on #1166
So, I am assuming your statement is:

1. Clear the src folder
2. Then generate the code (irrespective of clear-output-folder/generate-metadata option)

That looks like a reasonable thing to do. Let me send the PR soon for this. Let me know if my understanding is correct

[2021-08-24 23:53] qiaozha commented on #1166
Exactly what I meant. Thanks

[2021-08-26 10:37] ffMathy opened #1175 "Error: modelProperties cannot be null or undefined in the mapper"
I am getting the following error. I am on the latest version.

Any idea on how to solve this?

[2021-08-26 18:36] sadasant opened #1176 "Remove prebuild from the generated package.json files"
We recently realized that neither `rush build` nor `rush rebuild` call to `prebuild`. For this reason, we’ve opted for removing `prebuild` from the package.json files on the JS SDK, and now we run `npm run clean &&` at the beginning of the `build` script.

Please help us make this change happen in the code generator, so that newly generated packages can take this change as well!

More information

[2021-08-27 21:20] puscasu-ion-daniel opened #1179 "Error: Cannot find module 'fs-extra'"
I am getting the following error. I am on the latest version.

`1>   Loading AutoRest core      'C:\Users\MysticMe\.autorest\@autorest_core@3.1.3\node_modules\@autorest\core\dist' (3.1.3)
1>INFORMATION: > Loading AutoRest extension '@autorest/typescript' (latest->6.0.0-beta.11)
1>INFORMATION: > Loading AutoRest extension '@autorest/modelerfour' (4.19.3->4.19.3)
1>node:internal/modules/cjs/loader:9

[2021-08-28 02:21] sarangan12 commented on #1179
Thanks @puscasu-ion-daniel for raising this issue. Yes. The fs-exta should have been added to dependencies. The issue has been fixed with the latest release of https://www.npmjs.com/package/@autorest/typescript/v/6.0.0-beta.12.

Feel free to reopen this issue if you still face any more issues.

[2021-08-28 02:21] #1179 closed

[2021-08-28 02:22] sarangan12 commented on #1175
@ffMathy Could you please share the swagger/snippet of the swagger that you are using that is causing this error?

[2021-08-30 06:44] ffMathy commented on #1175
It is this: https://app.reshopper.com/swagger/v1/swagger.json

[2021-09-01 23:19] #1143 closed

[2021-09-06 03:24] qiaozha opened #1183 "Add reference to track1 SDK homepage in track2 readme.md"
Per the discussion here, we should add a link in track2 readme.md that points to track1 sdk homepage for track1 sdk customers.
https://github.com/Azure/azure-sdk-for-js/pull/16719

[2021-09-07 05:59] ramya-rao-a commented on #1183
@qiaozha Isnt this a temporary solution until the Track 2 packages go GA? If so, I would recommend adding the link manually rather than update the code generator for it.

[2021-09-07 07:03] qiaozha commented on #1183
I think as long as we have customers who are using track1 sdk. we should have this link here to avoid confusion. Not sure how long it will take for customers to migrate to track2. but it did take us more than two years for them migrate from node SDK to js SDK. I prefer not to add that link each time when generate the package between now and then.

[2021-09-07 10:28] ffMathy commented on #1175
@sarangan12 is the information provided sufficient?

[2021-09-07 18:07] sarangan12 commented on #1175
@ffMathy Thanks. Yes. That is the information I need. If I need any more information, I will update the issue. I am still working on the issue.

[2021-09-07 18:26] ffMathy commented on #1175
Ah perfect then 🙏

Sorry, I was unsure if you had seen the message. Great to hear you are already working on it! You guys are awesome!

[2021-09-07 22:22] sarangan12 commented on #1175
Hi @ffMathy

I have used the following command(with the latest version of the generator):

[code]

I was able to  generate the SDK and build it without any errors. Could you please tell me the command, version that you use? Also, in which step are you getting the error, generation/build?

Could you please try it with the latest version of the generator?

[2021-09-08 07:39] qiaozha commented on #1137
close it as PR merged. Thanks

[2021-09-08 07:39] #1137 closed

[2021-09-08 07:40] qiaozha commented on #1148
close it as PR merged #1162

[2021-09-08 07:40] #1148 closed

[2021-09-08 09:56] qiaozha commented on #1183
@ramya-rao-a to clarify the details of this issue.
1. previously, we get an issue from our customer, that complains about the document about JS SDK is out-of-date. which turns out he get the document from the homepage link, and we have changed the homepage link to main branch and this customer is using track1 sdk.
2. I asked sigang to update all the packages' homepage in feature/v4 branch to point

[2021-09-09 03:15] qiaozha opened #1185 "arm-containerregistry. fail to build."
After we generation packages for arm-containerregistry, we found it's unable to build and report errors like this
![image](https://user-images.githubusercontent.com/55688292/132615741-89e487da-ec9a-4603-9f70-16e00a9d3361.png)

To repro, please checkout latest swagger repo and using code generation command like
`autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-

[2021-09-10 03:40] qiaozha opened #1187 "core rest pipeline package causing AzureSpecialProperties test failure"
Some of the error info is like
[code]

currently we have to skip all the test in azureSpecialProperties.spec.ts to by pass this issue. and we need to release a new package for @azure/core-rest-pipeline to address this issue.

[2021-09-10 05:41] sarangan12 commented on #1185
I have found a possible solution for this issue. The test suite is currently running. Once it is complete, I will update the issue with the PR.

[2021-09-10 05:59] qiaozha opened #1188 "latest autorest core seems to have some problem"
[code]
I have changed the test in run.ts to specify --version=3.5.1 in PR #1186  for now.

[2021-09-10 20:51] #860 closed

[2021-09-13 23:40] ramya-rao-a commented on #1183
If you want Track 1 customers to have information on the Track 1 packages even after Track 2 goes live, then you not only need the link to the right readme, but also the link to the right API reference docs. This is because if they organically search for it, they will land on the docs for Track 2

To resolve the confusion for the customer, we cannot just add the link to the feature/v4 branch. You

[2021-09-14 17:57] sadasant commented on #1176
Important: Do not add `npm run clean &&` to the build script. See: https://github.com/Azure/azure-sdk-for-js/pull/17540

[2021-09-14 18:14] sarangan12 commented on #1175
Closing this issue for now. If you still face this issue, feel free to reopen this issue.

[2021-09-14 20:32] ffMathy commented on #1175
Did you try with my swagger file, the one I sent? Still getting an error with the same command-line. Sorry, didn't see your original message, but please re-open :pray:

[2021-09-14 20:48] sarangan12 commented on #1175
Reopening based on the comments from @ffMathy

[2021-09-14 20:50] sarangan12 commented on #1175
@ffMathy Yes. I have tried with the same swagger file that you have sent. Did you use the command that I have provided? Which step gives you error? Is it during the generation? Or Is it during the build after the generation? (I do not receive errors in either steps)

[2021-09-14 23:23] sadasant commented on #1176
wait, we are still discussing whether to remove “clean” from the build script

[2021-09-15 00:09] #1001 closed

[2021-09-15 00:09] #1000 closed

[2021-09-15 00:09] #1060 closed

[2021-09-15 00:09] #1061 closed

[2021-09-16 00:12] joheredi commented on #1057
We need to define what's the UX we want to provide for this scenario where the BaseURL is parametrized:

It takes as a client parameter the `{host}` part and as a method parameter the `{accountName}` part.

In HCL we call it like this

[code]

And ends up building http://localhost:3000 as base url.

In RLC I was thinking we can still take the `{host}` part in the client. And the {accountName} as a

[2021-09-16 17:01] sarangan12 commented on #1175
@ffMathy Could you please respond to my previous question?

[2021-09-16 17:06] sarangan12 commented on #1185
@qiaozha The Code changes have been merged for this issue and included in the latest release. It is a corner case where we need to combine modeler overrides + code changes to achieve the desired results. (The code changes are already released) You should use the following override: https://github.com/Azure/autorest.typescript/pull/1193/files#diff-28b3ac85ae60b4ff8454c28fa52401c334e96c650770033a468

[2021-09-16 19:07] sadasant commented on #1176
Ok, after chatting with @mikeharder and @xirzec we’ve decided to keep `npm run clean &&` inside of the build step. Thank you for working on this, @JonathanCrd

[2021-09-17 01:11] sarangan12 commented on #1047
After further deliberation, it has been decided that this flag will not be added back. Resolving this issue

[2021-09-17 01:11] #1047 closed

[2021-09-17 07:06] ffMathy commented on #1175
Ah well I should elaborate... It doesn't crash at compile-time. It crashes at runtime.

[2021-09-17 15:03] #997 closed

[2021-09-17 17:17] sarangan12 commented on #1175
@ffMathy Ok. Now it is clear. The SDK generation is fine. Build is fine. It happens during the runtime.

1. Which API are you calling?
2. What is the input to that API?
3. What is the expected output?

I think the error is happening during the deserialization. So, what is the serialized input that you are sending? What is the Service expecting?

Since this is an external API, I cannot debug it fro

[2021-09-17 17:20] sarangan12 commented on #383
We already have a test case that covers this scenario. Closing this issue

[2021-09-17 17:20] #383 closed

[2021-09-17 18:53] sarangan12 commented on #887
https://github.com/Azure/autorest.typescript/wiki/Usage-of-Custom-HTTP-Client-&-Pipeline-Policies

[2021-09-17 18:53] #887 closed

[2021-09-18 05:24] qiaozha commented on #1058
#1168 has been merged. I think we probably can close this PR now?

[2021-09-20 16:24] craigsmitham commented on #1132
@bterlson @xirzec  any thoughts on above approach for modeling inheritance when using `allOf`? It allows for idiomatic use of type narrowing with union types and doesn't break when additional types are added as possible subtypes, while avoiding the verbose event grid style type fences.

[2021-09-21 21:24] #1176 closed

[2021-09-23 10:48] ffMathy commented on #1175
Wait, I updated from version 10 to 13, and now it seems to work.

Was this fixed in the meantime?

[2021-09-23 16:49] danielgerlag opened #1199 "Paging support: byPage not exposing settings parameter"
When generating an operation with paging, it mostly works well, except the `byPage` method that is generated does not pass the settings parameter down as defined on the `PagedAsyncIterableIterator` interface.

[code]
Generate code:
[code]

[2021-09-23 19:54] joheredi opened #1200 "[RLC] - Handling different body content types"
## Context

`@azure/core-rest-pipeline` supports several  types for the body

[code]

## Input
Its `PipelineRequest` has 2 properties to represent the body, `body` and `formData`. With the help of `formDataPolicy` ([link](https://github.com/Azure/azure-sdk-for-js/blob/667e8bf04eb8ed9fb9102566d9a6d8757dc7e7a7/sdk/core/core-rest-pipeline/src/policies/formDataPolicy.ts#L41)) `core-rest-pipeline` tran

[2021-09-23 23:39] bterlson commented on #1200
I think being smart based on content type makes sense in general! Seems like the Rest Way (tm).

[2021-09-24 01:49] joheredi commented on #1057
@bterlson, @xirzec do you have any preference on the above. I think I like the urlParameters option.

[2021-09-24 18:08] xirzec commented on #1200
I also like being smart, and perhaps for the "I want to get this as a stream" we have a simpler way to ask for this? e.g. "give it to me as a stream if it's a successful response code, rather than making me specify precise codes"

[2021-09-24 18:11] xirzec commented on #1057
I also like the `urlParameters` option, since it feels more explicit

[2021-09-24 18:56] bterlson commented on #1057
I like the option approach, but I think `pathParameters` is a more recognizable name for this, if I'm not misunderstanding anything?

[2021-09-24 21:20] danielgerlag opened #1203 "Broken Documentation Link"
The `typescript-specific docs` link in https://github.com/Azure/autorest.typescript/tree/main/docs seems to be broken

[2021-09-29 17:19] maorleger opened #1204 "Generated packages should use the latest version of @microsoft/api-extractor"
Please update the code gen for package.json to pull in the latest version of @microsoft/api-extractor (currently ^7.18.11).

[This PR](https://github.com/Azure/azure-sdk-for-js/pull/17917) is handling updating existing packages.

Suggestion: consider reading and parsing the dependencies / devDependencies sections in https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/template/template/package.

[2021-09-30 15:50] ffMathy opened #1205 "Don't error on unexpected status codes"
I have the following policy:

[code]

It tries to make a request, and if it's an unauthorized request (401), it asks for login credentials, and tries again afterwards.

However, this policy doesn't even get hit at all (see attached screenshot).

![image](https://user-images.githubusercontent.com/2824010/135488437-de64b3b2-2d5b-4836-b549-780bec84795c.png)

I think this happens because I haven't spe

[2021-09-30 16:20] ramya-rao-a commented on #1204
Hey @JonathanCrd

Can you pick this one up?
We need this to ensure that new packages that get added to the azure-sdk-for-js repo do not end up using older version of the api extractor

cc @sarangan12

[2021-09-30 16:42] maorleger commented on #1204
Feel free to create a separate issue for my suggestion if you think it's worth exploring or ignore it if you think it's a terrible idea 😄

[2021-09-30 18:10] ramya-rao-a commented on #1054
This applies not only to core packages, but also to any other dependencies.

[2021-09-30 18:12] ramya-rao-a commented on #1204
Let's use this issue to just update the dependency version for api extractor
https://github.com/Azure/autorest.typescript/issues/1054 tracks the generic need to keep the code generator in sync with the dependencies we use in azure-sdk-for-js. @maorleger You can add your suggestion there :)

[2021-09-30 18:12] ramya-rao-a commented on #1054
Older discussion on this topic: #600

[2021-09-30 18:35] maorleger commented on #1204
I noticed in passing that there are a bunch of outdated dependencies assuming I'm looking at the right file https://github.com/Azure/autorest.typescript/blob/cf844d942632fcb2571cebb9228596d536195bd5/src/generators/static/packageFileGenerator.ts#L153-L166

Like core-tracing should be preview.13, core-http should be 2.x etc - should we update those as well in this change? I can edit the issue if so

[2021-09-30 19:41] ramya-rao-a commented on #815
This is done as part of #846

[2021-09-30 19:41] #815 closed

[2021-09-30 19:41] ramya-rao-a commented on #762
@deyaaeldeen Can you share if this is still a problem?

[2021-09-30 19:43] ramya-rao-a commented on #472
Thanks for bringing this up @aranoe

We recently added a contributing guide in #1096

Please take a look and share any feedback you have

[2021-09-30 19:43] #472 closed

[2021-09-30 19:45] ramya-rao-a commented on #1081
Closing this issue as the latest version of the code generator does not have this bug. We will limit investments in the v4 code gen for critical bugs only. We will be open to taking a PR if anyone is interested to fix this though.

[2021-09-30 19:45] #1081 closed

[2021-09-30 19:48] ramya-rao-a commented on #1038
We do not need the autoPublish field in Track 2 packages.

@dw511214992 Are you still seeing the issue of missing autoPublish field for Track 1 packages?

[2021-09-30 20:38] deyaaeldeen commented on #762
I did not see it happen since so we can probably close this and we can always re-open if it happens again.

[2021-09-30 20:38] #762 closed

[2021-09-30 22:24] sarangan12 commented on #1131
@sarangan12 Discuss with Autorest crew about naming issues?

[2021-10-01 06:48] sarangan12 commented on #1131
[Example 1](https://github.com/Azure/autorest.typescript/blob/main/test/integration/generated/appconfiguration/src/models/index.ts)
KnownGet6ItemsItem, Get6ItemsItem, Head6ItemsItem, Get7ItemsItem, Head7ItemsItem

[Example 2](https://github.com/Azure/autorest.typescript/blob/main/test/integration/generated/arrayConstraints/src/models/index.ts)
Enum0, ArrayConstraintsClientApiV1ValueGetOptionalPara

[2021-10-01 06:51] sarangan12 commented on #1129
This issue can be resolved.

[2021-10-01 06:51] #1129 closed

[2021-10-01 09:45] ffMathy commented on #1205
Correction - it happens even if the 401 status code is specified in the `swagger.json` file.

What could be the cause of this?

[2021-10-01 23:16] lmazuel opened #1206 "LLC Quickstart"
Assuming a service team has done (_and only done that_):
- A Swagger with a Readme with input-file (I don't assume any autorest flags)
- Done a git clone of azure-sdk-for-js

We a complete documentation on how this service team can:
- Generate runnable code with RLC
- Write tests
- Write samples
- Create packaging information to get a shippable package
- Write main Readme including quickstart

Thi

[2021-10-05 19:03] ramya-rao-a commented on #1204
@JonathanCrd Yes, please use the same PR to make the updates for the other outdated dependencies.
For reference, you can use the dependency versions in the [template](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/template/template/package.json#L80) and [text analytics](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/textanalytics/ai-text-analytics/package.json#L90) packages

[2021-10-06 18:14] joheredi commented on #1131
Names in Example #1 are coming from Modeler Four that way, so there is not much we can do in the Autorest.typescript plugin. This seems to happen whenever the enum doesn't have a x-ms-enum extension defining the name.

In Example #2 We have the same issue with the enums, the other names are also coming from the swagger names. We need to give unique names to the parameters, to do this we name them

[2021-10-07 20:56] xirzec commented on #1131
@joheredi for the ones that are coming from modeler four, do you have any idea of the cost to tweaking them there or should we pull someone else in for that? Also I wonder how other languages are looking in this space.

For the ones where we need service devs to better annotate their swaggers, could we maybe put together a set of checks that we could add to the swagger linting CI jobs? I'm fine sa

[2021-10-11 01:12] qiaozha commented on #604
If it's possible to have a default T = [property: string]: any; otherwise it probably has some problems if customer can only know the additionalProperties at runtime or if there's multiple different way of using addtionalProperties in one single type.

[2021-10-11 01:17] qiaozha commented on #1136
Is this a requirement for swagger team instead of code generator?

[2021-10-12 01:47] qiaozha commented on #604
@xirzec That way looks good, then I have no other concerns about support this.

cc @ramya-rao-a

[2021-10-12 02:29] qiaozha commented on #1136
@deyaaeldeen I wonder why you need the polling url to be pre-defined in swagger from codegen side ?  I agree that if we have them pre-defined in swagger, we can add some validation on them to make sure lro really works. but for the client side, it still needs to get the value from long running operation final-state-via header, right?
cc @ramya-rao-a

[2021-10-12 09:28] qiaozha commented on #1185
@sarangan12 I just tried the latest code generator both beta and alpha build, the containerregistry issue still exists. Could you help take a look at it when you are back.

[2021-10-13 00:50] deyaaeldeen commented on #1136
@leni-msft yes I am familiar with the extension and it does not specify all the information needed (e.g., when to stop polling in dataplane services LROs).

@qiaozha we actually need the path to poll, a spec for when to stop polling, a list of places that need to be updated after each poll, and the location of the result. Otherwise, I will have to determine all these information either dynamically

[2021-10-13 03:23] qiaozha commented on #1136
Get your point.

[2021-10-13 03:32] leni-msft commented on #1136
@deyaaeldeen In this case, I'd suggest to submit PR for your extension proposal, e.g., https://github.com/Azure/autorest/pull/4150

[2021-10-18 23:24] sarangan12 commented on #1203
Broken link has been fixed. The content has not been added. But the link has been fixed. The content will be added on a later date

[2021-10-18 23:24] #1203 closed

[2021-10-19 05:39] sarangan12 commented on #1185
@qiaozha I have verified again today. The scenario is working fine. I think you have missed the override part that I have mentioned in my last comment. Here are the steps that I followed for regeneration:

1. Clone `azure-rest-api-specs` repository.
2. In the path `azure-rest-api-specs\specification\containerregistry\resource-manager\readme.typescript.md`, add the override mentioned at: https://gi

[2021-10-19 23:22] sarangan12 commented on #1185
Based on the offline discussion, @qiaozha has informed that the issue has been resolved. Closing this issue.

[2021-10-19 23:22] #1185 closed

[2021-10-20 21:22] #1204 closed

[2021-10-21 02:26] ramya-rao-a opened #1210 "Generated code should be linter error free"
The output for the lint script in the generated package.json file is `echo skipped` as the generated code today is not linter error free.
This issue is to ensure that the generated code is indeed linter error free

The linter to use is the plugin `@azure/eslint-plugin-azure-sdk` that can be found in https://github.com/Azure/azure-sdk-for-js/tree/main/common/tools/eslint-plugin-azure-sdk.

[2021-10-21 02:26] ramya-rao-a commented on #358
Closing in favor of #1210

[2021-10-21 02:26] #358 closed

[2021-10-21 02:32] ramya-rao-a commented on #398
@joheredi, @sarangan12 Is this to test that these files are generated by the code generator or to test that the test to do so should be included in one of the generated npm scripts?

If it is the former, then don't we have unit tests in this project to test that these files are generated?

[2021-10-21 02:34] ramya-rao-a commented on #412
@sarangan12 Is there anything pending to do in the autorest.typescript project to consume the changes from autorest?

[2021-10-21 02:41] ramya-rao-a commented on #465
@sarangan12 Do any of the other [Storage issues](https://github.com/Azure/autorest.typescript/issues?q=is%3Aopen+is%3Aissue+label%3AStorage) cover this scenario?

[2021-10-21 15:31] joheredi commented on #398
I think this is referring to generating a check for those files so that the generated sdk has a `npm prepack` script that checks for this.

I'm not sure how much value this adds though, this seems to be very specific depending on where the SDK would live. And having this may be very opinionated on our side.

For example, in azure-sdk-for-js a lint rule is used to verify this. Other repos may be us

[2021-10-21 17:15] #398 closed, assigned to nobody

[2021-10-21 17:23] joheredi commented on #467
Yes this sounds like a candidate use case for Rest Clients. `--rest-level-client` should output a rest client sdk

[2021-10-21 17:35] joheredi commented on #814
Yes this is fixed already #954 added rollup config and  #790 the dependency in package

[2021-10-21 17:35] #814 closed

[2021-10-21 17:38] joheredi commented on #797
We already test Node 10, 12 and 14 in CI.  We may need to update to include node 16.
@sarangan12 do you think we still need to port these to v4x as well, now that management is migrating to v6?

[2021-10-21 17:41] #295 closed

[2021-10-21 17:47] joheredi commented on #404
There is currenlty logic in the README generation that checks if the package is in the @azure scope or generation was marked as azureArm to include Azure or Management specific content.

There is just one small thing in the current READMe that needs to be put unde the the Azure check which is the link to Samples that is pointing to Azure-Samples. Other than that everything is unrealted to azure if

[2021-10-21 17:52] sarangan12 commented on #412
Nope. This issue no longer exists. Closing this issue

[2021-10-21 17:52] #412 closed

[2021-10-21 18:45] #506 closed

[2021-10-21 19:15] joheredi commented on #1170
@sarangan12 if we go with option 2, don't we also need to implement a change in the return type to tell that it can be `null` (option 1)?

[2021-10-22 14:48] joheredi opened #1211 "[v6] Declarative way to avoid name case conversion"
Currently, if we need to keep a name as described in the swagger that doesn't conform to modeler four namer config, for example if we want a property `key_ops` in the generated code, to avoid the generator making it `keyOps` we'd need to set a complex transform (see [example](https://github.com/Azure/azure-sdk-for-js/pull/18295/files#diff-770c887a4f045e358c30cc825b93714817615bf9ca234005e42858fe4ce

[2021-10-22 20:29] ramya-rao-a opened #1212 "Fix API reference docs links generated in v4 code generator"
As reported in https://github.com/Azure/azure-sdk-for-js/issues/18316, we are linking to the ref docs main landing page instead of linking to the ref docs of the particular package.

This can be either resolved manually by updating the readme after it is generated or it can be fixed in the code generator. This is not a problem in v6 of the code generator.

Assigning to @qiaozha to take the final c

[2021-10-22 20:36] ramya-rao-a opened #1213 "API reference docs links for preview packages should point to the preview docs"
The API reference docs link generated in the readme for the beta version of a package should point to the preview version of the docs.

For example, see the [readme for @azure/arm-eventhub version 5.0.0-beta.1](https://www.npmjs.com/package/@azure/arm-eventhub/v/5.0.0-beta.1). The API reference docs link point to the docs corresponding to the stable version of this package. Adding the query parame

[2021-10-22 22:35] ramya-rao-a opened #1214 "Provide link to bundling docs when talking about browser support"
As being discussed in https://github.com/Azure/azure-sdk-for-js/issues/18326, we need to provide a link to the [bundling docs](http://aka.ms/AzureSDKBundling) in the generated readme.

This applies to both v4 and v6 of the code generator

For v4, it can be another bullet point in the below shown section

![image](https://user-images.githubusercontent.com/16890566/138530015-7b43cf1e-375b-4559-8f7d-

[2021-10-25 02:55] qiaozha opened #1216 "[Epic] Code generator issues for several mgmt plane RPs."
## Code generator fails to  generate the code
- [x] CDN https://github.com/Azure/autorest.typescript/issues/1217
- [x] softwareplan, could be resolve by remove duplicate tag definition in their readme.md
- [x] blueprint https://github.com/Azure/autorest.typescript/issues/1218
- [x] monitor https://github.com/Azure/autorest.typescript/issues/1221
- [x] elastic https://github.com/Azure/autorest.type

[2021-10-25 03:42] qiaozha opened #1217 "[CDN] generation cdn SDK failed with latest @autorest/typescript beta release."
Here's the repo steps:
1. use the latest rest api specs as input
2. run the code generation command: `autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/cdn/resource-manager/readm

[2021-10-25 04:58] qiaozha opened #1218 "[BluePrint] generate blueprint SDK failed with latest code generator beta release"
Here's the repro steps:
1. use the latest swagger as input.
2. run the code generation command `autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/blueprint/resource-manager/readm

[2021-10-25 05:06] qiaozha opened #1219 "[Elastic] generation elastic SDK failed with latest @autorest/typescript beta release."
Here's the repro steps:
1. use the latest rest api specs as input
2. run the code generation command: `autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/elastic/resource-manager/

[2021-10-25 05:27] qiaozha opened #1220 "Generator does not support 'text/powershell' option"
Here're the repro steps:
1. use the latest swagger as input.
2. run the code generation command: `autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/automation/resource-manager/re

[2021-10-25 05:41] qiaozha opened #1221 "[Monitor] generate monitor SDK failed with latest @autorest/typescript@6.0.0-beta.13"
Here's the autorest command `autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/monitor/resource-manager/readme.md --use=@autorest/typescript@6.0.0-beta.13`

Here's the result I a

[2021-10-25 05:56] qiaozha opened #1222 "[DataFactory] fail to build the code after generation with @autorest/typescript@6.0.0-beta.13"
Here's the autorest command I am using:
autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/datafactory/resource-manager/readme.md --use=@autorest/typescript@6.0.0-beta.13

here's

[2021-10-25 06:14] qiaozha opened #1223 "[deviceprovisioningservices] fail to build the code after generate it with @autorest/typescript@6.0.0-beta.13"
Here's the command I am using:
`autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/deviceprovisioningservices/resource-manager/readme.md --use=@autorest/typescript@6.0.0-beta.13`

[2021-10-25 06:30] qiaozha opened #1224 "[resourceconnector] fail to build the code after generate it with @autorest/typescript@6.0.0-beta.13"
Here's the autorest command I am using:
`autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/resourceconnector/resource-manager/readme.md --use=@autorest/typescript@6.0.0-beta.13`

[2021-10-25 06:42] qiaozha opened #1225 "[domainservices] fail to build the code after generate it with @autorest/typescript@6.0.0-beta.13"
Here's the autorest command I am using:
`autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/domainservices/resource-manager/readme.md --use=@autorest/typescript@6.0.0-beta.13`

He

[2021-10-25 06:56] qiaozha opened #1226 "[Healthcareapis] fail to build the code after generate it with @autorest/typescript@6.0.0-beta.13"
Here's the autorest command I am using:
`autorest --version=3.1.3 --typescript --modelerfour.lenient-model-deduplication --head-as-boolean=true --license-header=MICROSOFT_MIT_NO_VERSION --generate-test --typescript-sdks-folder=/Users/zhangqiaoqiao/work/code/azure-sdk-for-js ../azure-rest-api-specs/specification/healthcareapis/resource-manager/readme.md --use=@autorest/typescript@6.0.0-beta.13`

He

[2021-10-27 23:48] jsangco opened #1228 "How do you abort a request? (typescript)"
Is there a way to abort an ongoing client request?

I noticed the ServiceClient has the ability to specify RequestPrepareOptions, but I'm unclear how to pass the request options to the outgoing request method.

[2021-10-29 08:59] ffMathy opened #1230 "estree/index has no exported member named ChainExpression"
When trying to build my package, I get the following error:

[code]

[2021-11-01 08:56] ffMathy commented on #1175
@sarangan12 this is now happening again, but I think it has something to do with the data.

Here's the full error, including a data example:

[code]

The Swagger it is using is still the same link as before.

[2021-11-01 09:05] ffMathy commented on #1175
The line at which this happens on is:

`Error in function deserializeResponseBody in ./node_modules/@azure/core-client/dist-esm/src/deserializationPolicy.js:101`

[2021-11-01 17:38] sarangan12 commented on #876
@ramya-rao-a Let me explain:

1. Currently we have a flag `--hide-client` in the generator. If you use this option, there will be a `@internal` tag added for generated client and client context classes. When there is a custom layer, we do not export the generated client and client context classes. So, this abides by the point 1 mentioned in the issue description.
2. Also, we do not use `@hidden` t

[2021-11-01 17:49] #819 closed

[2021-11-01 18:27] ramya-rao-a commented on #876
Wouldnt that be the responsibility of the person handwriting the custom layer i.e. to add the internal tag to the generated code?

[2021-11-01 18:33] sarangan12 commented on #876
Yes. That was my first thought. I was wondering if there is any other way. But, now I see you are also thinking the same. We can close this issue.

[2021-11-01 18:33] #876 closed

[2021-11-02 06:26] qiaozha commented on #1222
verified and fixed. @sarangan12 Thanks

[2021-11-02 06:26] #1222 closed

[2021-11-02 06:33] qiaozha commented on #1223
verified and fixed. @sarangan12 Thanks

[2021-11-02 06:33] #1223 closed

[2021-11-02 06:37] qiaozha commented on #1225
Verified and fixed. @sarangan12 Thanks

[2021-11-02 06:37] #1225 closed

[2021-11-02 06:45] qiaozha commented on #1226
verified and fixed. @sarangan12  Thanks

[2021-11-02 06:45] #1226 closed

[2021-11-02 17:25] sarangan12 commented on #1188
@qiaozha Could you please confirm if you still have this problem?

[2021-11-02 17:26] sarangan12 commented on #1124
Closing this issue as this does not happen now

[2021-11-02 17:26] #1124 closed

[2021-11-04 22:45] #1213 closed

[2021-11-09 07:22] sarangan12 commented on #1218
@qiaozha This error can be fixed in two ways:

1. If you search for the `docs: ` in the `src` section, you will find roughly 40 places. Basically, we need to put the comments through a method such as `sanitizeComments` method. In the new `sanitizeComments` method, we just need to replace `*/` with `*\/`. Then this issue will be resolved.
2. Alternatively, you can do a swagger override for this ser

[2021-11-09 07:39] sarangan12 commented on #1224
@qiaozha I have checked this issue. This needs a command line option `--title=AppliancesClient` which will resolve the issue. This is a really remote corner case and the client name is also not standard. So, we do not want any code fix for this issue. The command line option is sufficient. (Or you can update the title in the readme.typescript.md file also)

[2021-11-09 07:45] sarangan12 commented on #1230
@ffMathy,

This looks like an issue that is specific to your package/project. I do not see how this could be related to the generator project.

[2021-11-09 07:46] ffMathy commented on #1230
@sarangan12 upgrading to the latest generator solved the issue :shrug:

[2021-11-09 07:47] ffMathy commented on #1175
@sarangan12 can you reopen this? :pray:

[2021-11-09 08:01] sarangan12 commented on #1199
This looks like a valid bug. We need to pass the settings in the generated byPage method.

[2021-11-09 08:02] sarangan12 commented on #1188
I have tested the latest core and no issue is found. I am resolving this issue

[2021-11-09 08:02] #1188 closed

[2021-11-09 08:08] sarangan12 commented on #1170
Yes. Both the options need to be implemented to make the solution complete.

[2021-11-09 08:18] sarangan12 commented on #1134
Yes. This will be a breaking change (to a certain extent). But, we could implement it with deprecate flag/removing its functionality in steps and eventually remove it without much impact to the customer.

[2021-11-09 08:20] sarangan12 commented on #1128
At this point, it is in very early design phase. But, there might be a possibility that this might result in a breaking change

[2021-11-09 08:22] sarangan12 commented on #1127
`monitor` SDK is one of the examples for this scenario

[2021-11-09 08:34] sarangan12 commented on #1015
I have not discussed this with iscai. we need to discuss with her to move further with this task

[2021-11-09 08:37] sarangan12 commented on #1008
At that time, this was not taken as a feature by the crew. I will confirm again this week and decide the next steps on this issue

[2021-11-09 08:41] sarangan12 commented on #1121
I will discuss with the crew and update this issue

[2021-11-09 09:20] qiaozha commented on #1188
okay. Thanks

[2021-11-09 09:38] bobalong79 commented on #1008
Hi @sarangan12 I suspect many would find this SDK useful. At my company we're using a version we generated ourselves to integrate Azure cost insights into our internal developer platform's service catalog and lots of folks find that info very useful, from developers to programme managers.

[2021-11-09 19:07] ramya-rao-a commented on #931
Let's see if the problem persists in v6, otherwise we can close this issue as we are ramping down investments in v4

[2021-11-09 19:36] ramya-rao-a commented on #791
Don't we do this by now?

[2021-11-09 19:37] ramya-rao-a commented on #798
How are scopes being set today in the generated code?

[2021-11-09 19:38] ramya-rao-a commented on #766
@joheredi, Is this covered in your recent discussions with @dw511214992 ?

[2021-11-09 19:41] ramya-rao-a commented on #737
#1156 tracks the need to generate the //metadata/constantPaths in the package.json file which should cover the 3rd point in the notes above

With that and the automation in place, we should be good here.

[2021-11-09 19:41] #737 closed

[2021-11-09 19:45] sarangan12 commented on #931
I have verified that this issue does not happen in V6. Can close this issue

[2021-11-09 19:45] #931 closed

[2021-11-09 19:45] ramya-rao-a commented on #829
@sarangan12 Please check back with the autorest feature crew about this. Do we have cases where this flag was useful? From what I recall the recommendation was always to avoid client side validation and expect the service to throw proper errors for wrong input

[2021-11-09 19:47] ramya-rao-a commented on #1134
Any use cases where having these two separate is actually better?

[2021-11-09 20:03] sarangan12 commented on #1038
I have checked and able to confirm autoPublish is getting generated correctly for Track 1 packages. Closing the issue

[2021-11-09 20:03] #1038 closed

[2021-11-09 22:47] xirzec commented on #1134
I honestly don't understand why they are separate today. It doesn't appear to offer any tangible benefit to developers. What would someone use ClientContext for? Maybe I'm missing a use-case?

[2021-11-09 23:56] ramya-rao-a commented on #1134
It is definitely something we inherited from track 1 code gen. If this was something that was followed in other languages, then maybe @sarangan12 would know from his ruby times?

[2021-11-10 00:00] ramya-rao-a commented on #797
@joheredi, At this point, we can skip v4 as mgmt plane packages will move to v6 in the next few months.

@sarangan12, We can remove Node.js 10 now as it is out of support scope now. And we should add Node.js 16

[2021-11-10 02:28] dw511214992 commented on #766
@deyaaeldeen In https://github.com/Azure/autorest.typescript/pull/1215, I think I also generate some basic test in HLC. Could you please check whether it meets your requirements? thanks

[2021-11-10 07:20] sarangan12 commented on #824
I can confirm that outside swaggers are supported and there are no restrictions. But, for that the swagger must follow the autorest guidance suggested at https://github.com/Azure/autorest/tree/main/docs. Closing this issue

[2021-11-10 07:20] #824 closed

[2021-11-10 07:25] sarangan12 commented on #872
With the latest v6 generator this issue has been fixed and the signature looks as:

[code]

Closing this issue

[2021-11-10 07:25] #872 closed

[2021-11-10 07:37] sarangan12 commented on #930
With the latest version, the code is working fine. Closing this issue for now. Feel free to reopen if you still face the issue. Thanks

[2021-11-10 07:40] sarangan12 commented on #396
Closing this in favor of https://github.com/Azure/autorest.typescript/issues/1128

[2021-11-10 07:40] #396 closed

[2021-11-10 07:42] sarangan12 commented on #467
The actual requirement has been satisfied with the Rest Level Client by using the argument `--rest-level-client`. No more pending action items on this task. Closing this issue

[2021-11-10 07:42] #467 closed

[2021-11-10 07:44] sarangan12 commented on #553
@joheredi

Could you please add more context on this issue? Is this still valid?

[2021-11-10 07:45] sarangan12 commented on #572
Closing this in favor of https://github.com/Azure/autorest.typescript/issues/1128

[2021-11-10 07:45] #572 closed

[2021-11-10 07:52] sarangan12 commented on #639
I agree with @joheredi git diff has not caused any issues until now. We could close this issue

[2021-11-10 07:52] #639 closed

[2021-11-10 08:05] sarangan12 commented on #791
@ramya-rao-a No. We do not update anything related to rush. Actually, I doubt if we will ever support this feature directly in the generator. As a stand alone task, this requirement is outside the generator. I would recommend using a script which does this requirement + invoking the generator command.

[2021-11-10 08:06] sarangan12 commented on #793
Refer issue https://github.com/Azure/autorest.typescript/issues/1199.  This can be closed

[2021-11-10 08:06] #793 closed

[2021-11-10 08:15] sarangan12 commented on #798
@ramya-rao-a I am assuming you are asking about `credentialScopes`. It is a property of `ServiceClientOptions` which is extended by optional params of the Client class. Eg:

[code]

[2021-11-10 08:16] sarangan12 commented on #798
@joheredi Could you please clarify the requirement here? What is the actual ask?

[2021-11-10 17:22] ramya-rao-a commented on #702
@sarangan12 Please discuss this with the feature crew as well. What are the names being used by our friends in other languages?

[2021-11-10 18:17] ramya-rao-a commented on #791
I don't think this task is about updating rush.json files, perhaps this was about rush related things in the generated code?
@joheredi Can you clarify?

[2021-11-10 21:52] ramya-rao-a commented on #776
This would apply to all content in the package right? How would a user make the decision to enable this flag? Will they need to review all of their generated docs to see what is broken and then opt-in?

Can we make this a default behavior and apply it to only when we see special content like tables?
Also, am guessing this affects other languages too right?

[2021-11-10 21:52] ramya-rao-a commented on #776
I guess what I am saying is that I vote for Option 2 which is to make line wrapping smarter and to check with other languages as to how they are solving this

cc @sarangan12

[2021-11-10 21:54] ramya-rao-a commented on #703
Closing in favor of #1121 which is related

[2021-11-10 21:54] #703 closed

[2021-11-10 21:54] ramya-rao-a commented on #1121
Recommendation from @joheredi in #703

`{Name}` and `{Name}Context` we should include Client in the suffix so that the name of the library doesn't have to contain the word Client `{Name}Client` and `{Name}ClientContext`

[2021-11-10 22:25] joheredi commented on #791
Yeah I think this was originally created to update rush.json. However, I agree with Sarangan that this is probably out of the scope of the generator.

@dw511214992 is currently working on an automation tool to onboard generated packages, which updates the rush.json file. I'll close this issue, but feel free to re open if you disagree or would like to discuss further.

[2021-11-10 22:25] #791 closed

[2021-11-10 22:27] joheredi commented on #791
This is the issue tracking the tooling work: https://github.com/Azure/azure-sdk-for-js/issues/18060

[2021-11-10 22:42] joheredi commented on #798
Currently, we use --credential-scopes flag. However M4 recently started supporting defining it in the swagger. The work tracked by this issue would be to support getting this from the swagger. Here's the docs from M4: https://github.com/Azure/autorest/blob/main/docs/generate/authentication.md#authentication-in-generated-sdks

[2021-11-10 22:50] joheredi commented on #553
I think this goes back to an assumption we make when trying to extract a global BaseURL ([see here](https://github.com/Azure/autorest.typescript/blob/f7448a0c800f7fd3b84e37e4e4e02fd85f737075/src/transforms/urlTransforms.ts#L29)), which assumes that we'll just find a single value. Other languages are also doing this assumption: https://github.com/Azure/autorest.python/blob/2ce2c4e88306d8f4bf62b7b14

[2021-11-10 22:51] sarangan12 commented on #702
@joheredi Let me get some clarification on this issue. Please let me know if my understanding is correct.Let me start with an example.

1. In the `SearchServiceClientContext` class file, we have the constructor as:
[code]

2. In the above code, if you look at the `SearchServiceClientOptionalParams` object, it looks like:
[code]

3. Now, the SDK user can set this endpoint while calling the client c

[2021-11-10 22:57] joheredi commented on #766
I think this is in the scope of either the issue that @dw511214992 mentioned above or the package onboarding work tracked by https://github.com/Azure/azure-sdk-for-js/issues/18060.

[2021-11-10 23:02] joheredi commented on #1134
Yeah, this is definitely inherited from track1 codegen. I can't think of a scenario where using the context class directly would be useful, it wouldn't even have any operations on it as they are added in the Client class which inherits the Context.

[2021-11-10 23:03] ramya-rao-a commented on #766
Either way, we can close this then :)

[2021-11-10 23:03] #766 closed

[2021-11-10 23:09] joheredi commented on #404
We also check if the package scope is @azure

https://github.com/Azure/autorest.typescript/blob/f7448a0c800f7fd3b84e37e4e4e02fd85f737075/src/generators/static/readmeFileGenerator.ts#L70

https://github.com/Azure/autorest.typescript/blob/f7448a0c800f7fd3b84e37e4e4e02fd85f737075/src/generators/static/readmeFileGenerator.ts#L113

https://github.com/Azure/autorest.typescript/blob/f7448a0c800f7fd3b84e3

[2021-11-10 23:36] joheredi commented on #1131
@xirzec, I'm not sure about the effort in M4, I think both issues are related as both are inline nameless definitions, in both cases, it seems like a swagger issue, but I agree that validation and enforcement would be great!

I've iled https://github.com/Azure/autorest/issues/4358 asking if there is a way that M4 can enforce these inline schemas to have a `x-ms-client-name`

[2021-11-10 23:38] joheredi commented on #1131
@qiaozha I think the Autogenerated suffix comes from enabling `lenient-model-deduplication`, which is a workaround for a buggy swagger that shouldn't have duplicate names in the first place.

[2021-11-11 02:10] qiaozha commented on #1131
Totally agree, but the effort to ask them to change is very huge, Also, we don't have a clear guideline for the model name yet.

[2021-11-11 16:24] joheredi commented on #1131
@qiaozha  the problem is that without a non-unique names provided in the swagger, the best thing that the generator can do is calculate a unique name. So I guess for cases where `lenient-model-deduplication` it would probablt be reasonable to be okay with the calculated names until the swagger is fixed. What do you think?

[2021-11-11 16:53] joheredi commented on #702
I think we want to avoid the `URI` suffix as it is semantically (slightly) different to `URL`.

Today, we generate `options.endpoint`, and in the the generated client we take that value (if present) and assign it to core-client's ServiceClientOptions `baseUri`.

[code]

The problem with this is that while we create an alias for core-client's `baseUri` we are still exposing `baseUri` in the generat

[2021-11-11 16:55] bterlson commented on #702
+1 to `endpoint` from me.

[2021-11-11 17:43] joheredi commented on #776
@ramya-rao-a I agree!

[2021-11-12 01:26] joheredi opened #1242 "[RLC] mediaTypes PDF test scenario is failing"
It looks like the string is being double wrapped by quotes.

[2021-11-12 18:02] deyaaeldeen commented on #829
I checked with @lmazuel on this and he said Python has validation behind a flag which defaults to not validate. I also was told that .NET and Java do not do validation.

Validation by default is problematic because the swagger may not be accurate or the service behavior can change for whatever reason anytime.

JS is the outlier here and it does not follow the guidelines.

[2021-11-12 18:51] sarangan12 opened #1245 "Provide link to bundling docs when talking about browser support - V4"
This is the duplicate of issue https://github.com/Azure/autorest.typescript/issues/1214 but only specific to the v4x branch.

Why am I creating a new issue for v4x alone?
The v4x branch is having some issues and needs deeper investigation.
1. The VM image for the CI has been deleted. Jose is fixing it in the PR https://github.com/Azure/autorest.typescript/pull/1244
2. The `npm install` command is

[2021-11-12 19:02] JonathanCrd commented on #1214
This has been solved for v6.
There are some issues with v4 that need a deeper investigation. Issue https://github.com/Azure/autorest.typescript/issues/1245 keeps track of this.

[2021-11-12 19:02] #1214 closed

[2021-11-12 19:08] joheredi commented on #829
Thanks for following up @deyaaeldeen! I agree we should disable validation, not even sure if it is worth keeping a flag.
Also, I was trying to find the guideline about no client-side validation but couldn't find it, it may be worth taking the time to add it in the General Guidelines as this seems to apply to all languages

[2021-11-12 19:26] deyaaeldeen commented on #829
@joheredi I believe it is this one: https://azure.github.io/azure-sdk/general_implementation.html#general-params-server-validation

[2021-11-12 19:51] joheredi commented on #829
Awesome! Thanks Deyaa

[2021-11-12 23:00] jsangco commented on #1228
Can someone provide guidance on this? The C# libraries support the use of `CancellationToken`, so I hope someone can provide guidance on how to do this correctly using Typescript.

[2021-11-15 06:04] ramya-rao-a commented on #702
Am guessing to avoid making a major version update to core-client, we will be marking `baseUri` as deprecated and add `endPoint` to `ServiceClientOptions` and then update the code generator to set the endPoint instead of baseUri?

If so, then we don't need the breaking change label on this issue right?

[2021-11-16 21:38] xirzec commented on #1132
I'm still a little confused by the above example since my understanding is that the server never sends `kind: 'animal'` - it instead will start sending some new type (e.g. `kind: 'lizard'`) and if we have AutoRest map this unknown kind into something generic (like 'animal'), that won't help us when AutoRest regenerates later with proper `lizard` support (the dev will need to change their code to d

[2021-11-17 10:56] Dolphinsimon opened #1425 "autorest generated client always requests for credentials"

[2021-11-17 15:09] ffMathy commented on #1230
@sarangan12 I was wrong - I was doing this for the wrong project. This is still relevant.

It happens even if I go directly into the generated code and run `npm run build`, so it shouldn't have anything to do with my project.

I am running Node `16.13.0` and npm `8.1.0`.

[2021-11-18 16:17] craignicol commented on #930
Just retrying on the latest and getting the same:

`autorest --input-file=Data.yaml --typescript`

[code]

[code]

i.e. it's trying to resolve bodyMapper into an EnumMapperType when it should be resolving bodyMapper as a string type, as defined in the schema.

[2021-11-26 09:42] ffMathy commented on #1230
@sarangan12 any news on this? It even happens if I move the generated project out of the main project. In other words, it seems to have nothing to do with my own code.

[2021-11-26 09:49] ffMathy commented on #1230
More info on why it might be happening - I think estree needs to be changed in the project Autorest generates.

https://stackoverflow.com/questions/67806963/types-eslint-error-chainexpression-and-importexpression-members-of-estree-not

[2021-11-26 11:57] craignicol commented on #930
@sarangan12 How do I re-open the issue based on the above?

[2021-11-29 18:43] sarangan12 commented on #930
I am reopening the issue based on the latest response from @craignicol.

[2021-11-29 18:43] sarangan12 commented on #930
Will check the issue and update soon

[2021-11-29 18:53] sarangan12 commented on #930
@craignicol

I have just verified it and everything is generating fine for me. Here is the output:

[code]

Could you please check again and update the issue?

[2021-11-30 09:21] craignicol commented on #930
@sarangan12 the autorest generation completes for me, but when I `npm install` and `npm build` the output, I get the typescript compiler error shown above. Apologies for not being clearer in my previous comment.

[2021-12-02 09:41] qiaozha opened #1256 "Should subscriptionId be required for some path that don't need subscriptionId at all"
Take RP resources package-policy as an example.

Their path are looking like this
![image](https://user-images.githubusercontent.com/55688292/144395905-76c79b23-333b-47d9-9415-a9bdb7c991c0.png)

And the Client constructor is looking like this
https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/policy/arm-policy/src/policyClient.ts#L34-L37

For the operation path "/{scope}/providers/Microsoft.A

[2021-12-02 18:05] sarangan12 commented on #1256
This is expected. If you check the older code at https://github.com/colawwj/azure-sdk-for-js/blob/9684a273e8b9143bf2c5b7bef48ac2466a6638df/sdk/policy/arm-policy/src/policyClient.ts#L30, you could see the same behavior. (and has the reference to the same [path](https://github.com/colawwj/azure-sdk-for-js/blob/9684a273e8b9143bf2c5b7bef48ac2466a6638df/sdk/policy/arm-policy/src/operations/policyAssign

[2021-12-04 01:17] sarangan12 commented on #1256
@qiaozha If you are Ok, Please close this issue

[2021-12-04 01:17] #1256 closed

[2021-12-07 00:13] #1062 closed

[2021-12-07 00:13] #1063 closed

[2021-12-07 19:10] sarangan12 opened #1257 "Add Documentation for the Usage of the Typescript Generator"
We need the documentation for the Usage of the Typescript Generator and it should cover the following scenarios:

1. Creating SDK for a new Service
2. Migrating SDK to latest code generator from V4 Generator
3. Migrating SDK to latest code generator from latest code generator + `core-http` combination
4. Releasing new version of the existing packages, generated with the latest code generator

[2021-12-08 06:23] ramya-rao-a commented on #1245
By the end of January 2022, almost all mgmt plane packages would have moved to using v6 code generator. Therefore, it is not worth our time to fix this for the v4 code generator

@sarangan12 Do you want to have a separate issue to investigate any pending issues in the v4 branch related to build or install?

[2021-12-08 18:09] maorleger opened #1259 "Use shared rollup config when generated rollup files"
As you can see [here](https://github.com/Azure/azure-sdk-for-js/blob/main/common/tools/dev-tool/src/config/rollup.base.config.ts) and in the usage of it [here](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/formrecognizer/ai-form-recognizer/rollup.config.js) we have a shared rollup config that packages should use within the monorepo. This issue tracks updating the generated code to use th

[2021-12-08 21:43] deyaaeldeen commented on #1259
@maorleger thanks for opening this. Currently, code gen generates a rollup config that mirrors what is in the shared one in the mono repo.

Once you merge your PR, feel free to open a PR here against the rollupConfigFileGenerator.ts module with your changes.

[2021-12-09 21:05] sarangan12 commented on #829
@deyaaeldeen Thanks for the investigation on this issue.

@joheredi I understand that we do not have to support client side validation. I know Python take a slightly different approach of supporting it based on flag) I would recommend that we follow the .NET/Java approach and not implement any validation.

But, I am little confused about the statement: `JS is the outlier here and it does not follo

[2021-12-09 21:27] #1245 closed

[2021-12-09 22:53] joheredi commented on #829
@sarangan12 I `core-client` does some client-side validation based on the mappers. For example:

https://github.com/Azure/azure-sdk-for-js/blob/c3136d6b83dcb2d2e105451499404891082bf16d/sdk/core/core-client/src/serializer.ts#L28

I think there are a few client-side validations we do similar to this

[2021-12-09 23:44] sarangan12 commented on #829
@joheredi Thanks for pointing that. I concur with you that validations should be removed. The correct place for the issue will be the JS repository. I have created an issue https://github.com/Azure/azure-sdk-for-js/issues/19089 for the same (and linked this there). Closing this issue.

[2021-12-09 23:44] #829 closed

[2021-12-09 23:46] sarangan12 commented on #1259
@maorleger Am I correct in assuming that you want the rollup to be generated as "https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/formrecognizer/ai-form-recognizer/rollup.config.js"? Could you please confirm?

[2021-12-09 23:52] sarangan12 commented on #1224
As there are no pending action items, I am closing this issue

[2021-12-09 23:52] #1224 closed

[2021-12-09 23:53] deyaaeldeen commented on #829
@sarangan12 Thanks for following up on this issue. I think one question remains which is do we still want the auto-generated mappers to include the constraints and is it worth it to remove them?

[2021-12-09 23:54] sarangan12 commented on #1187
@qiaozha Is this issue still valid? If so, Could you please provide the repro scenarios? Thanks

[2021-12-09 23:56] sarangan12 commented on #1187
Actually, I see https://github.com/Azure/autorest.typescript/blob/main/test/integration/azureSpecialProperties.spec.ts#L18 and this still seems to be valid. Let me work on this and get back to you.

[2021-12-10 02:27] sarangan12 commented on #829
@deyaaeldeen My vote is yes. We are translating everything that is provided in the swagger. So, we could continue the same. However, we have made a org decision that we will not *act* upon it i.e. not validate it. I am open to alternative viewpoints too

[2021-12-10 08:01] qiaozha opened #1261 "track1 code generator is generating weird method name for arm-policyinsights"
We  are trying to generate the mgmt plane track1 sdk for policyinsights RP. The command we are using is
`autorest --typescript --typescript-sdks-folder=../azure-sdk-for-js --license-header=MICROSOFT_MIT_NO_VERSION ../azure-rest-api-specs/specification/postgresql/resource-manager/readme.md --use=@microsoft.azure/autorest.typescript@4.7.0`

And we get some weird method names like nextLink1, nextLink

[2021-12-10 18:16] sarangan12 commented on #1261
@qiaozha The title and description mentions policyInsights RP. But, the command references the file `../azure-rest-api-specs/specification/postgresql/resource-manager/readme.md` which is related to `postgresql`. Is the command added by mistake?

I am going to try both the SDKs and update this issue.

[2021-12-10 18:25] sarangan12 commented on #1261
First, I have tried the postgresql SDK using the following command:

[code]

The generation was successful. Build was successful. There is no reference to any names such as `nextLink2`, `nextLink3', etc. So, there is no problem with postgresql.

I am going to try the policyInsights and update the issue.

[2021-12-10 18:33] sarangan12 commented on #1261
Used the following command to generate `policyInsights` RP:

[code]

I was able to generate and build the SDK. But, I see the `nextLink`, `nextLink2`, `nextLink3` in the generated SDK and this has to be fixed. Let me work on it and update this issue.

[2021-12-10 18:52] maorleger commented on #1259
Yeah, that's what I was thinking originally - would that be a reasonable thing to do here?

[2021-12-10 19:15] deyaaeldeen commented on #1259
@maorleger, currently code gen does not add dev-tool to the devDependencies list because the code gen smoke tests build generated packages and dev-tool is not published. The current approach is to just duplicate the config file until code gen tests gain the ability to checkout the mono repo and install unpublished deps from there. See https://github.com/Azure/autorest.typescript/pull/954.

[2021-12-10 19:17] maorleger commented on #1259
Oh thank you for the context here! Was not aware... do you think it makes sense to keep this issue open but on the backburner or just close it? I'm fine either way, as long as the autogen crew had a chance to opine on it 😄

[2021-12-10 22:19] sarangan12 commented on #1261
I have checked the generated SDK and the swagger provided. Here, this issue started happening from commit id: `b189836eb664ef8d660ccf761a4111bee19ad840` which was committed on May 24, 2021 in this PR: https://github.com/Azure/azure-rest-api-specs/pull/14035

Let me give an example. Take a look at this [file](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/policyinsights/resou

[2021-12-10 23:02] sarangan12 commented on #1259
@maorleger We could do it in other ways too. We could have a flag such as `-mono-repo` which is set to false by default. (This flag could be used for things such as rollup, tsconfig, rush, etc) So, there will not be any impact to test packages and acual production packages also could be generated easily.

[2021-12-11 02:06] ramya-rao-a commented on #1261
If a swagger transform can help here, I would recommend that route given that this issue is for the older generator.

Can we check whether the new generator will have the same problem?

[2021-12-11 02:25] sarangan12 commented on #1261
@ramya-rao-a Forgot to mention that. The error does not happen with the latest generator (However this SDK needs leniant model dupliction flag, which is not unrelated)

[2021-12-11 02:38] ramya-rao-a opened #1262 "Update nyc dependency"
Currently, we are using v14 of nyc that pulls in certain dependencies that have security vulnerabilities. This needs to be updated to use v15 instead

[2021-12-11 02:44] ramya-rao-a commented on #1262
@sarangan12 Please add instructions on how to go about this task and add the `help wanted` label

[2021-12-11 03:21] sarangan12 commented on #1262
Reference: https://dev.azure.com/azure-sdk/internal/_componentGovernance/101977?_a=alerts&typeId=7613604&alerts-view-option=active

[2021-12-13 02:44] qiaozha commented on #1261
@sarangan12 Thanks for such detailed investigation here, let me check with service team about this and get back to you. I think we can hold on the fix for it here until we get more information from service team.

[2021-12-13 22:56] sarangan12 commented on #1262
I have prepared a small wiki page to resolve the compliance issues in general. Once I have the PR ready for this task, I will update the issue. Wiki Link: https://github.com/Azure/azure-sdk-for-js/wiki/Handling-compliance-issues-with-our-packages

[2021-12-14 09:53] janpieterz commented on #475
Issue https://github.com/Azure/azure-sdk-for-js/issues/4917 is closed but another duplicate https://github.com/Azure/azure-sdk-for-js/issues/5771 is a better fit for tracking React Native compatibility.

[2021-12-14 22:07] sarangan12 commented on #1262
1. I have notified Praveen about the compliance job(https://dev.azure.com/azure-sdk/internal/_componentGovernance/146576?_a=alerts&typeId=7649860&alerts-view-option=active). Once he provides me an update, I will update it here
2. Notified other Language owners. They are also not aware of these jobs. They will start working on them based on their proroties

[2021-12-15 00:15] sarangan12 commented on #1262
1.  I have deleted the Wiki page
2. Added a section to the contributing document and created a PR for that. https://github.com/Azure/autorest.typescript/pull/1264 Will merge it after approval
3. `nyc` dependency is no part of the SDK generator itself. So, we do not need more changes for this issue
4.

[2021-12-21 01:59] qiaozha opened #1269 "generate a minimal version of README.md for RLC"
Currently, we don't auto generate a README.md for JS RLC, but for the ten mins shippable package purpose, we will need to support that. I wonder what kind of content should we include here ?
Here's an example of manually written README.md https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/purview/purview-catalog-rest/README.md
But some of the parts are not able to be auto generated. such as t

[2021-12-21 05:10] JonathanCrd opened #1270 "Update prettier dev dependency to version 2.5.1 in package.json"
As @joheredi mention in https://github.com/Azure/azure-sdk-for-js/pull/19475#pullrequestreview-836903000, we should probably change the `prettier` package version to `^2.5.1` (latest right now) in the code generator.

Opening this issue to keep track of this.

[2021-12-21 13:31] mikekistler commented on #1269
If the "description part" refers to the description of the service at the top of the README.md, this could be generated if the text there is put into the `info.description` item in the API definition. I know that is not currently common practice for Azure API definitions but I don't think we will get resistance to changing that.

The resource dependencies are harder.  Is it common that services mu

[2021-12-21 17:47] joheredi commented on #1269
@mikekistler, it is common for human-written sdks. However, for RLC/LLC it would be very hard to get as it is not part of the API definition. I guess a single link to Service Docs would be enough, as they would walk users through creating the resource

I agree that we should just take `info.description` for the description section. It would be great if the API definition included a link to the RES

[2021-12-27 08:57] dw511214992 opened #1272 "[RLC] Use title as client type"
I think we should change the client type to the value of `title`, instead of `{value_of_title} + RestClient`. The reasons of doing this change are:

- It is different from other language as they use `{value_of_title}` as client type directly. We should keep consistent with them.
- The value of  `title` is the name of a function which creates client. Most times, the value of `title` is in pascal, w

[2021-12-27 09:21] dw511214992 opened #1273 "[RLC] Include review/*api.md in publish package"
I have a change log detection tool, and it's based on `review/*api.md`. So I hope to include this file in published package, which is same as mgmt sdk.

[2021-12-28 23:55] ramya-rao-a opened #1274 "Code snippet using @azure/identity should use InteractiveBrowserCredential for browser usage"
Take the [readme for @azure/arm-resources](https://www.npmjs.com/package/@azure/arm-resources/v/5.0.0) for example. It has the below code snippet

[code]

We should add a comment above the second line indicating the need to use a different credential for browser usage

[2022-01-04 00:01] JonathanCrd opened #1275 "Update contributing guide to include info about version tolerance tests"
We should probably update our [contributing guide](https://github.com/Azure/autorest.typescript/blob/6c3b2f9c5ad0ab3aa9ed9b344c21bc950dc9ea34/CONTRIBUTING.md) to include how to regenerate version tolerance tests and other scripts descripted in PR https://github.com/Azure/autorest.typescript/pull/1268

[2022-01-04 17:15] #1262 closed

[2022-01-04 17:17] ramya-rao-a opened #1276 "There are 2 contributing guides in this repo"
There are 2 contributing guides in this repo
- https://github.com/Azure/autorest.typescript/blob/main/docs/contributing.md
- https://github.com/Azure/autorest.typescript/blob/main/CONTRIBUTING.md

[2022-01-04 19:10] sarangan12 commented on #1230
@ffMathy I am starting to look into this issue. Will keep you posted

[2022-01-04 19:18] #1270 closed

[2022-01-04 23:03] JonathanCrd commented on #1156
File `src/sqlManagementClientContext.ts` does not longer exists, now the `packageDetails` constant is inside `src/sqlManagementClient.ts`.

I'm wondering if there are other places where there's a version specified. From what I found after a little research, it looks like `sqlManagementClient.ts` is the only one.

[2022-01-05 00:37] mikekistler commented on #1269
This looks good to me.

If there is specific information we need like the URL to the REST API Docs or Service Documentation, we could create spec extensions for these, or ask that they be specified in the README.

I'm struggling to recover the context for the dependencies issue.  I don't see any mention of resource dependencies in the hand-written readme.  And I also don't know why a _generated_ l

[2022-01-05 04:34] ramya-rao-a commented on #1156
The other place is the swagger/readme.md file, but that is not part of the generated code

[2022-01-05 04:57] qiaozha commented on #1269
@mikekistler here's the dependencies in the purview catelog readme.md
![image](https://user-images.githubusercontent.com/55688292/148162686-cc6799b8-973d-4ff3-bf0e-66bd1d093532.png)
which is unknown to the code generator.

[2022-01-05 05:05] qiaozha commented on #1212
close it as we have released track2 for most RPs.

[2022-01-05 05:05] #1212 closed

[2022-01-05 14:44] mikekistler commented on #1269
Ah, very good.  I think our recommendation should be that this information be included in `info.description`. I think that's reasonable since it applies to the REST API generally.

Note that `info.description` can contain markdown -- we should make sure we don't damage any markdown formatting in the generation process.

[2022-01-06 23:44] sarangan12 commented on #1261
@qiaozha is there any update from the service team?

[2022-01-07 19:54] #1156 closed

[2022-01-08 01:42] noherczeg commented on #1230
The issue is with `@types/eslint` and `@types/estree` incompatibilities. The issue is even worse once one upgrades both to latest...

[2022-01-08 01:55] noherczeg commented on #1230
Not sure if this is an actual fix, but the error goes away, if you add:

[code]

to `@types/estree/index.d.ts`

Given:
- @types/estree: 0.0.39
- @types/eslint: 8.2.2

Obviously this somehow needs to be released an actual fix version in @types/estree.

[2022-01-10 04:01] qiaozha commented on #1269
Does that mean the code generator should put whatever the services team put in the info.description into the readme.md ? and if they don't have such resource dependencies infomation in info.description, then we should not do extra things on it ?

[2022-01-10 19:23] joheredi commented on #1269
Yeah that's my understanding and it also aligns with the mission and scope of RLCs which is to generate SDKs with minimal human intervention. If a swagger doesn't include enough information for the README we should not try to add it, we should ask service teams to include it in the Swagger

[2022-01-14 00:38] joheredi commented on #1272
Thanks for sharing your thoughts @dw511214992. In general, I like to use Pascal casing for these client factory functions as it looks cleaner for example

[code]

It seems to be common in the JavaScript community to Pascal case these functions, and also would feel more familiar for users familiar with classes, just without the `new`.

Though, this wouldn't impact end-users because they are the def

[2022-01-14 00:42] joheredi commented on #1273
@dw511214992 if I understand correctly for this we'd need to include this in package.files right?

I don't see any downsides, @bterlson is there anything we should consider before including the api-extractor file in the package?

[2022-01-14 01:52] dw511214992 commented on #1272
If we still use the `title` as the client factory name, I think it's better to trim `Client` because it's very strange if the `title` ends with `Client`.
For example, if the value of `title` is `FooClient`, then the client name will be `FooClientRestClient` and the client factory name will be `FooClient`. What do you think about it? @joheredi

[2022-01-15 00:10] jeremymeng opened #1281 "Use shared rollup config from dev-tool in generated management libraries"
currently the generated code includes a copy of rollup.config.js.

We should move to take a dependency on dev-tool

[code]

remove dependencies on rollup and its plugins, e.g.,

[code]

and use this code in `rollup.config.js`

[code]

[2022-01-15 00:16] deyaaeldeen commented on #1281
I think this is a duplicate to https://github.com/Azure/autorest.typescript/issues/1259

@joheredi, @sarangan12 I remember we talked before aboyt creating a new tool for adding dev dependencies outside code gen, is that still in the works?

[2022-01-15 00:53] jeremymeng commented on #1281
ah that's right. closing

[2022-01-15 00:53] #1281 closed

[2022-01-15 00:55] jeremymeng commented on #1281
Since shared rollup is still being discussed. I am going to log an issue to remove `openTelemetryCommonJS()` workaround

[2022-01-15 00:56] jeremymeng opened #1282 "Remove the `openTelemetryCommonJS()` workaround in generated rollup config"
after moving to core-tracing preview.13 we no longer need this workaround.

relevant file: https://github.com/Azure/autorest.typescript/blob/main/src/generators/static/rollupConfigFileGenerator.ts

[2022-01-17 01:54] dw511214992 opened #1283 "[MGMT] Maunal written tests leads to build failure of generated codes"
Codegen will not override exisiting manual written tests, which leads to generated codes cannot build.

For example: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1295927&view=logs&j=47092895-c7c8-567a-c7a6-8c88f3ec178e&t=d293a8e8-c6af-5091-cdf7-4c66482dd6f2&l=1846

The generated `package.json` doesn't include the dependency `@azure/arm-network` which is required in manual writte

[2022-01-17 02:16] dw511214992 commented on #1283
clear output option will be reset to true and the exsiting tests will be deleted.

[2022-01-17 02:16] #1283 closed

[2022-01-18 17:39] joheredi commented on #1272
@qiaozha do you remember if we added the `Client` suffix recently? I think it should be fine to not suffix with `Client`. @qiaozha do you know if there would be any issues around multi client if we do this?

[2022-01-19 06:39] dw511214992 opened #1284 "[LLC] Multi type for date format string"
When swagger definition is:
[code]
The generated code is:
[code]
From @xirzec it's weird to not just pick one, either we're deserializing it or not, since it can't be coming over the wire as a Date object.

[2022-01-20 00:03] joheredi opened #1285 "[RLC] Add user agent to generated clients"
We need to add user-agent to REST Clients. We already generate this for regular autorest clients, we should make sure that the User Agent string includes RLC

[2022-01-21 07:38] qiaozha commented on #1272
I don't remember we added this suffix, I think it's fine to remove it if we did.

[2022-01-21 15:38] joheredi commented on #1272
@dw511214992, @qiaozha, we should be fine removing the Client suffix. Feel free to file a PR with the change and I'll be happy to review

[2022-01-21 16:14] joheredi commented on #1284
We are generating this union for Input types only, Output is always a `string` because we cannot safely deserialize without runtime mapping.

The reason these inputs are `string` or `Date` is to give the user a chance to work with them as it is more convenient for their use case.

For example, if they are round-tripping data from and to the service it may be more convenient to just take the date a

[2022-01-21 16:27] joheredi opened #1286 "[RLC] Design open questions"
**Client structure**

**Style**

- [ ] Is there any preference for array types `X[]` and `Array<X>`? Currently RLCs get generated with `Array<X>`

[2022-01-22 00:14] xirzec commented on #1284
Yeah for inputs this is fine! I didn't pick up on the fact it was only used that way.

[2022-01-24 15:15] joheredi commented on #1284
Thanks for the input folks! Closing this issue as I think we have agreement that input types are fine with the union

[2022-01-24 15:15] #1284 closed

[2022-01-25 00:37] #1056 closed

[2022-01-25 00:38] #1057 closed

[2022-01-26 06:38] dw511214992 opened #1293 "[RLC] Unused import in ClientDefinitions"
https://github.com/Azure/autorest.typescript/blob/main/test/smoke/generated/agrifood-data-plane/src/clientDefinitions.ts#L310

The generated unused import leads to build failure in azure-sdk-for-js repository.

[2022-01-26 06:52] dw511214992 opened #1294 "decouple multiclient and batch task"
Currently, multiclient is binded to autorest batch task, and we cannot use batch task to generate multi packages.

For example, if I want to generate codes by using [readme.md](https://github.com/Azure/azure-rest-api-specs/blob/dw/llc-readme/specification/purview/data-plane/readme.md), we cannot generate expected packages.

The reason is that we defined multi-packages in [readme.typescript.md](htt

[2022-01-26 07:37] qiaozha commented on #1220
@sarangan12 Is there any plan to fix this generation failure ?

[2022-01-26 23:35] lmazuel opened #1295 "Generate tests for DP codegen"
As part of the generation of DP codegen, we would like to take advantage of receiving x-ms-examples of m4 to generate tests files.

The idea is:
- Generate one test per method with x-ms-examples (let's skip operations without them yet)
- Generate models as part of the test folder
- Generate test code:
  - Creates models from the input of the x-ms-examples
  - Call the method with that input
  - Ge

[2022-01-28 00:33] lmazuel commented on #1295
Example from @mikekistler :
[code]

TLDR:
- Save the x-ms-examples as-is in a folder loadable from the tests
- Write a test that loads the file and check values

[2022-01-28 08:21] qiaozha opened #1297 "Should Polymorphism base class be able to use as a type directly ?"
In recoveryservicesiterecovery service, there're several base classes that with a discriminator, but in the generated code, it seems only allow the subclass to be used as a type.
For example: in this definition of ReplicationProviderSpecificContainerCreationInput  https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryS

[2022-02-02 00:11] LuChen-Microsoft opened #1299 "Adding Model Mapping Support for Async Iterators Auto Generation"

[2022-02-03 21:33] lmazuel opened #1300 "JS RLC GA blockers"

[2022-02-03 22:36] lmazuel opened #1301 "Experiment Metrics Advisor (developer driven evolution)"
As an experiment to confirm that DPG can grow to a meaningful SDK, we want to experiment on Metrics Advisor:
- Generate DPG of Metrics Advisor
- Grow the SDK to feature equivalence to the current SDK. To confirm feature equivalence, the testsuite needs to be runnable in live.

You _may_ decide to merge this work (as a refactoring), or to keep this work as an experiment that we don't merge.

Expect

[2022-02-03 22:46] lmazuel opened #1302 "Implement DPG core tests"
Implement all testserver mentionned in https://github.com/Azure/autorest.testserver/wiki/Data-plane-codegen-testing in DPG testsuite.

Task is complete when there is a 100% for DPG testing in  http://azure.github.io/autorest/dashboard.html

[2022-02-04 00:16] lmazuel opened #1303 "Writing DPG customizations documentation"
As GA requirement for the project, we want to have explicitly written the documentation for service teams on how to grow-up their DPG into an improved SDK.

Documentation should be written with:
- Basics on customizations for this language
- One scenario, one section. Like a FAQ document

Required sections are (at the minimum):
- Change operation behavior (new signature, or any wrapping)
- Change

[2022-02-04 00:20] lmazuel commented on #1303
In the case of TS, we may make this issue as "how to add some helpers to RLC", per discussion of yesterday. I let @bterlson @xirzec and @joheredi decide, we may close the issue with "N/A" if you think that's the case.

[2022-02-04 16:14] maorleger opened #1304 "Update generated code to use assert from @azure/test-utils"
Once https://github.com/Azure/azure-sdk-for-js/pull/20195 is merged @azure/test-utils will re-export a version of chai preloaded with useful plugins.

This issue tracks updating the generator to use @azure/test-utils instead of chai

1. generated package.json should not have dependencies on chai
2. generated package.json should have a dependency on @azure/test-utils
3. generated test code should `

[2022-02-06 15:39] mikekistler opened #1305 "Support for OASIS Request Repeatability Headers"
**Describe the issue or request**

The Azure API Guidelines say that all operations should be idempotent. This is mainly an issue for POST operations. For situations where a POST needs to be made idempotent, the guidelines recommend

☑️ YOU SHOULD support repeatable requests according as defined in [OASIS Repeatable Requests Version 1.0](https://docs.oasis-open.org/odata/repeatable-requests/v1.0/r

[2022-02-07 19:44] ramya-rao-a opened #1306 "Include pointer to support policy from generated readme"
Today, the generated readme has the below section:

[LTS versions of Node.js](https://nodejs.org/about/releases/)
Latest versions of Safari, Chrome, Edge, and Firefox.

We need to add the line `See our [support policy](https://github.com/Azure/azure-sdk-for-js/blob/main/SUPPORT.md) for more details.` here.

[2022-02-08 04:54] #1293 closed

[2022-02-08 09:03] #1089 closed

[2022-02-09 00:14] ramya-rao-a commented on #1121
@qiaozha Assigning this to you as this is mainly needed for the mgmt plane packages

[2022-02-09 00:19] ramya-rao-a commented on #1274
@JonathanCrd You can pick this up at the same time as #1306 as both are for updating the generated readme

[2022-02-09 00:19] ramya-rao-a commented on #1306
@JonathanCrd You can pick this up at the same time as #1274 as both are for updating the generated readme

[2022-02-09 06:52] sarangan12 commented on #1304
I had on offline chat with @maorleger. The gist of our conversation is:

1. The generator has 2 flavors:
     1. Regular Generator
     2. Rest Generator
2. The Regular generator does not have any chai dependency. Only the Rest generator has chai dependency.
3. We could introduce `@azure/test-utils` dependency to the Rest Generator. (It is Ok to introduce it in the Regular Generator also)
4. We sh

[2022-02-09 06:54] sarangan12 commented on #1305
@mikekistler Thanks for creating this. I will look into the proposal and get back to you on our plan to implement this. Do you have any proposed timeline to complete this?

[2022-02-09 07:00] sarangan12 commented on #1305
Update:

Question posted to the Autorest crew:

[code]

Will update the issue once I receive some updates.

[2022-02-09 07:13] sarangan12 commented on #1303
@lmazuel Is this requirement only specific to Rest Client?

@joheredi Could you please check the question from @lmazuel?

[2022-02-09 23:01] sarangan12 commented on #1305
Looking into this issue further and after discussion with the Autorest crew, the right place for adding these headers would be Azure Core. We could add a policy that checks for the type of the request and the headers accordingly. So, I am transferring this issue to the main JS SDK repository.

@ramya-rao-a FYI....

[2022-02-10 05:31] dw511214992 commented on #1259
@sarangan12 I think `--mono-repo` should be set to true by default, because we don't hope to add `--mono-repo` in generating codes for azure-sdk-for-js.

[2022-02-10 09:45] lirenhe commented on #1297
@sarangan12,  previously, we checked with ARM team that the base class is also valid to use in APIs and I believe service team also support that in service side.
So could you help to double check the implementation in CodeGen?

[2022-02-10 17:39] lmazuel commented on #1303
It's a cross language requirement, though RLC is special, so you should check with @bterlson how to do (or not do) this one

[2022-02-10 19:13] ramya-rao-a commented on #1219
@sarangan12 Has the fix been shipped already? If so, can we close this issue?

[2022-02-10 19:13] ramya-rao-a commented on #1218
@qiaozha Any updates on which approach you would like to go with here?

[2022-02-10 19:15] ramya-rao-a commented on #1217
@qiaozha I see that you have bumped the m4 version in #1234. Can we close this issue?

[2022-02-10 19:16] ramya-rao-a commented on #1183
@qiaozha Any updates here?

[2022-02-10 19:42] sarangan12 commented on #1230
@ffMathy

The issue is with the @types/estree and @types/eslint packages. With the geneator projects, we do not have any default dependency on @types/eslint package. We do depend on @types/estree (0.0.39) package through @rollup/plugin-commonjs(21.0.1).

From the conversation at https://stackoverflow.com/questions/25997519/how-to-view-the-dependency-tree-of-a-given-npm-module, the issue gets fixed

[2022-02-10 19:45] sarangan12 commented on #1175
@ffMathy

Can you please confirm if you still facing this issue?

[2022-02-10 20:51] witemple-msft commented on #1259
@sarangan12 I'm going to pick this up in March or so (maybe sooner if it's very simple). Do you feel we need to have an isolated (non-monorepo) option for Track 2 generated Azure SDK packages? I could pretty simply update the static generator to depend on dev-tool and use its commands but want to make sure that won't break folks who aren't participating in the rush workspace.

[2022-02-10 22:33] sarangan12 commented on #1297
@qiaozha @lirenhe I have checked the implementation in TS and also other languages. All of them are consistent. Actually, Could you explain the ask here? The current code looks as:

[code]

What is your expected output?Do you want it to look like this?

/** Provider specific input for container creation operation. */
export interface ReplicationProviderSpecificContainerCreationInput {
  /** Polymo

[2022-02-10 22:59] sarangan12 commented on #1276
Closing this issue with PR https://github.com/Azure/autorest.typescript/pull/1307

[2022-02-10 22:59] #1276 closed

[2022-02-10 23:00] sarangan12 commented on #1275
Closing this issue with PR https://github.com/Azure/autorest.typescript/pull/1307

[2022-02-10 23:08] sarangan12 commented on #1259
By default we could generate for mono repo. We could have an option introduced to follow the non mono repo

[2022-02-11 02:38] qiaozha commented on #1297
@sarangan12 By the way, if x-ms-discriminator-value is provided, then the class name should be the value of x-ms-discriminator-value, if it's not provided, then the class name should be the type name itself.

[2022-02-11 02:43] qiaozha commented on #1217
yes. we can close it.

[2022-02-11 02:43] #1217 closed

[2022-02-11 02:52] qiaozha commented on #1221
yes.

[2022-02-11 02:52] #1221 closed

[2022-02-11 07:47] sarangan12 commented on #1175
I am going with the assumption that you are not facing the issue anymore :-) . So, I am closing the issue. Let me know if the issue still exist.

[2022-02-11 07:47] #1175 closed

[2022-02-11 07:51] sarangan12 commented on #1297
@qiazhoa I do not see how the base class could be used by the service. Also, the logic seems to be consistent with other language SDKs. Let me discuss with autorest crew and update the issue

[2022-02-13 10:49] wikktor opened #1314 "There is no way to generate Stream mapper type"
Open API specification(https://swagger.io/specification/) states that for ocets - schema should be: type=string format =binary
This is also exactly how swashbuckle generate swager.json file when there is FileContent result:
`"schema": { "type": "string", "format": "binary"}`

With this schema - running autorest typescript: I am getting "There is no known Mapper type for schema type binary"

@autor

[2022-02-14 01:56] dw511214992 commented on #1259
@sarangan12 In @joheredi 's [comment](https://github.com/Azure/autorest.typescript/pull/1309#discussion_r805087508), flag `azure-sdk-for-js` may be preferred. What do you think about it? thanks

[2022-02-14 02:41] qiaozha commented on #1297
@lirenhe Do ARM have any kind of document to explicitly tell us whether base class could be used by the services ?

[2022-02-15 01:15] sarangan12 commented on #1314
The issue comes from this https://github.com/Azure/autorest.typescript/blob/main/src/transforms/mapperTransforms.ts#L770. As of now, we do not support a schema type of Binary. @wikktor Is it possible to check if `Object`/`Any` works for you instead of binary?

[2022-02-15 08:05] sarangan12 commented on #1230
Closing this issue as this one does not need any action item now. If the issue is solved in rollup, feel free to reopen the issue. Thanks

[2022-02-15 08:05] #1230 closed

[2022-02-15 08:09] sarangan12 commented on #1228
@jsangco,

If you are using the older version of v4 code generator, you can find the example [here](https://github.com/Azure/ms-rest-js/blob/f6f0d92d79a1dfa8d92ff0891b88bc6b7a349e69/test/defaultHttpClientTests.ts#L71)

[2022-02-15 10:02] wikktor commented on #1314
What Json would that need?
Tried
` "schema": { "type": "string", "format": "Object"}`
and
`"schema": { "type": "string", "format": "Any"}`
with no luck. I got empty mapper or string mapper depending on content type.

There is a code for binary type, but somehow it is not used:
https://github.com/Azure/autorest.typescript/blob/main/src/transforms/mapperTransforms.ts#L440

[2022-02-15 19:56] joheredi commented on #1302
Spoke with @lmazuel  offline this issue track for Typescript RLC the following work:

- [ ] Service Driven evolution - We already have coverage in RLC, aka version tolerance tests
- [ ] Test coverage listed in this issue https://github.com/Azure/autorest.typescript/issues/1064
- [ ] Developer driven evolution - This is a N/A for Typescript RLC
- [ ] Show up in the dashboard

/cc: @qiaozha

[2022-02-15 22:09] joheredi commented on #1273
@dw511214992 do you want to send a PR for this?

[2022-02-15 22:11] joheredi commented on #1242
This has been fixed now

[2022-02-15 22:15] #1134 closed

[2022-02-15 22:45] xirzec commented on #1134
As we regenerate SDKs will this change now start showing up?

[2022-02-15 23:47] joheredi commented on #1134
Yes! We already have some sdks without the ClientContext class: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/resources/arm-resources/src/resourceManagementClient.ts

[2022-02-16 03:03] qiaozha opened #1316 "Client name set by x-ms-code-generation-settings"
They are still a lot of RPs who set their client name through x-ms-code-generation-settings.name in their swaggers, and our current HLC code generator just completely ignore it which cause a breaking change between the track1 and track2 SDK about the client name for those RPs. As this extension is marked as deprecated in the document
![image](https://user-images.githubusercontent.com/55688292/1541

[2022-02-16 03:05] qiaozha commented on #1316
@sarangan12  @ramya-rao-a Could you take a look at this issue? Thanks
/cc @lirenhe

[2022-02-16 03:44] lirenhe commented on #1316
@qiaozha, could you help to figure out this behaviour for other SDKs?

[2022-02-16 05:00] lirenhe commented on #1297
@sarangan12, @qiaozha ,  I don't think we have the any doc for that. But this issue was discussed to decide the behaviour for Live validation which is used for validating wheather payload is consistent with the Swagger definition.
For 'discriminator', the suggestion from ARM is 'In SDKs if the discriminator value is not found in spec then base class is instantiated, so this would not cause problem

[2022-02-17 02:08] #1274 closed

[2022-02-17 02:08] #1306 closed

[2022-02-17 02:12] sarangan12 commented on #1297
@lirenhe But, how could we represent this in the generated code?

[2022-02-17 22:37] JonathanCrd commented on #1153
Are we still supporting v4? Are there management plane packages that haven't moved to v6 yet?

[2022-02-17 23:41] deyaaeldeen commented on #1153
v4 is still being used by a few data-plane packages (batch comes to mind) but @ramya-rao-a could help giving more context on the current situation.

[2022-02-18 00:53] ramya-rao-a commented on #1153
I agree with @deyaaeldeen
This flag is worth having

[2022-02-18 00:54] ramya-rao-a commented on #1153
The alternative is that such data plane packages that are on Track 1 should not use the latest v4 and will have to use the version of v4 code gen that did not have the TokenCredentials feature

[2022-02-18 02:50] qiaozha commented on #1297
I think if you found a property is discriminator you probably can check if there's a discriminatorValue, if there's no x-ms-discriminator-value in the extension,  you can just put the SchemaName itself into the discriminator union type.

[2022-02-20 05:49] #797 closed

[2022-02-22 02:48] dw511214992 opened #1322 "Change credential-scopes to security-scopes"
`credential-scopes` is defined by ourself. Autorest has provided authentication related definition and it uses `secuirty-scopes`. The details can be found in https://github.com/Azure/autorest/blob/main/docs/generate/authentication.md

[2022-02-22 22:00] #1228 closed

[2022-02-26 01:17] deyaaeldeen opened #1326 "[Paging] Expose nextLink/Continuation Token as part of the returned items"
Some customers need access to it to suspend and resume iterating. See https://github.com/Azure/azure-sdk-for-js/issues/20380#issuecomment-1051410026

[2022-02-28 18:38] sarangan12 commented on #1316
Looking at this issue now. Will update the issue shortly

[2022-02-28 19:22] sarangan12 commented on #1316
1. In the [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) repository, there are 466 instances where this field of `x-ms-code-generation-settings` is used.
2. As mentioned above, this extension is already marked as deprecated as mentioned [here](https://github.com/Azure/autorest/blob/main/docs/extensions/readme.md#generic-extensions)
3. This extension is not supported in

[2022-02-28 19:29] sarangan12 commented on #1297
@qiaozha If I follow that logic, the code will look similar to:

[code]

How will be considered correct? @joheredi Do you have any thoughts in this issue?

[2022-02-28 20:11] joheredi commented on #1297
This feels like a swagger issue to me, I'm interested to understand what the other languages are doing? @qiaozha would you mind talking to the other languages and add some information regarding what is being done across the board, please?

@sarangan12 I'm not sure the representation above would be helpful. If I understand correctly, the requirement is to be able to assign `instanceType` any string

[2022-03-01 05:12] qiaozha opened #1331 "[RLC] Support loggingOption in rest level client contructor"
In high level client, we can add logginOptions like
[code]

I wonder whether we need to add the support in Rest Level Client

[2022-03-01 05:54] qiaozha commented on #1297
@sarangan12 The code will look like this
[code]

[2022-03-01 05:58] qiaozha commented on #1297
But I agree with @joheredi said above, this instanceType should be able to accept any string besides the above certain values.

[2022-03-01 06:03] qiaozha commented on #1316
Thanks @sarangan12 for the investigation. I am fine with add those configuration in readme.typescript.md to avoid breaking change.

[2022-03-01 08:42] #1272 closed

[2022-03-01 08:42] lirenhe commented on #1272
Close as code merged.

[2022-03-01 22:58] sarangan12 commented on #1316
As there are no pending action items for this issue, I am resolving it.

[2022-03-01 22:58] #1316 closed

[2022-03-02 19:27] sarangan12 commented on #1259
Note: We are continuing the conversation in the PR comment.

[2022-03-02 19:33] sarangan12 commented on #1219
This can be closed.

[2022-03-02 19:33] #1219 closed

[2022-03-02 19:34] sarangan12 commented on #1218
I believe there is no pending action items on this issue. Closing it for now.

[2022-03-02 19:34] #1218 closed

[2022-03-02 19:42] sarangan12 commented on #1220
Since the GA has been released, I am moving this issue to a stand alone issue and removing it from the epic. The powershell support is not a priority at present. I will be moving this issue to backlog. Will discuss with Autorest crew and reprioritize this task soon.

[2022-03-02 19:43] sarangan12 commented on #1216
Except the 'text/powershell' support for the automation SDK, all the issues have been resolved. I do not expect any more pending action items for this issue. Resolving it.

[2022-03-02 19:43] #1216 closed

[2022-03-03 03:18] #1294 closed

[2022-03-03 03:18] dw511214992 commented on #1294
https://github.com/Azure/autorest.typescript/pull/1319

[2022-03-03 03:22] dw511214992 opened #1334 "[RLC] Clear generated output folder in regenerating codes"
Currently, codegen doesn't clear src folder in regenerating codes. If there is an existed client file named `AClient.ts`, and the latest swagger changes the client name to `BClient`. Then the new generated client file will be named `BClient.ts`. However, codegen doesn't delete file `AClient.ts`, which leads to build failure.

[2022-03-03 03:55] qiaozha commented on #1059
I think this one is finished, we could close this one

[2022-03-03 03:55] #1059 closed

[2022-03-03 03:55] qiaozha commented on #1285
Close this one as PR get merged.

[2022-03-03 03:55] #1285 closed

[2022-03-03 07:09] sarangan12 commented on #1261
@qiaozha As there are no pending action items, I am closing this task. If you find anything new from the Service Team and would like to update the generator, feel free to reopen this task.

[2022-03-03 07:09] #1261 closed

[2022-03-03 07:30] qiaozha commented on #1261
Yes, it's okay to close it, We decide to release track2 SDK directly for this RP which works as expected. Thanks

[2022-03-07 08:12] qiaozha commented on #1303
@joheredi @bterlson @xirzec  As we don't have grow up story in JS RLC. I don't think we should have DPG customization document either, right ?  Can we close this issue ?

[2022-03-07 20:53] joheredi commented on #1303
We will need some customization sometimes. For example, the Metrics Advisor SDK that would need a custom paging helper would be considered a package with customization, we'll need to document the process of writing custom stuff for RLCs. The main strategy for RLCs customization would be to:

* Never try to abstract REST details.
* Any functionality we need to expose as part of customization, would

[2022-03-09 07:19] qiaozha commented on #1326
@deyaaeldeen are you going to fix this issue soon ? as this is blocking customer migrate from track1 to track2 https://github.com/Azure/azure-sdk-for-js/issues/17499#issuecomment-1050548699

[2022-03-09 08:14] qiaozha opened #1337 "[Mgmt] Add baseUrl customization for track2 SDK"
Currently we are using
`baseUri: options.endpoint || "https://management.azure.com/" `
 in mgmt plane track2 SDK [track2 link](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/keyvault/arm-keyvault/src/keyVaultManagementClient.ts#L83). which is different from what we did in the [track1 SDK link](https://github.com/Azure/azure-sdk-for-js/blob/feature/v4/sdk/keyvault/arm-keyvault/src/keyVault

[2022-03-09 08:15] qiaozha commented on #1337
@sarangan12 and @joheredi do you have any comments about this issue ?

[2022-03-09 18:09] joheredi commented on #1337
It is unfortunate that we have `baseUri` in core-client's [ServiceClientOptions](https://github.com/Azure/azure-sdk-for-js/blob/3a5d82089d2458ed21c37c572142e80f3561e27b/sdk/core/core-client/src/serviceClient.ts#L33). As it stands right now I think this would be the right fix to do since we are providing an option that we are ignoring.

However, I wonder if we should mark baseUri as deprecated in c

[2022-03-09 18:23] deyaaeldeen commented on #1326
@qiaozha I will defer to @sarangan12 and the code gen crew to address this issue but I agree it should take high priority. Also, https://github.com/Azure/autorest.typescript/issues/1199 is related and is equally if not more important since it enables customers to get pages from specific continuation tokens.

I am happy to offer guidance and to participate in any design discussions for it.

[2022-03-09 19:54] bterlson commented on #1337
Having two properties for the same thing seems bad, but agree that step 1 in this situation is to make sure baseUri isn't ignored. The customer's fix makes sense to me (endpoint wins if it's set). Deprecating makes sense to me for longer term.  How did we end up with two properties for the same thing?

[2022-03-10 01:24] qiaozha commented on #1337
@bterlson  I guess this is probably because data plane is using endpoint since track1 and mgmt plane on the other hand is using baseUri. @joheredi feel free to correct me if I am wrong. Thanks

[2022-03-10 19:18] sarangan12 commented on #1326
@deyaaeldeen Thanks for the response (ofcourse I need your input in design :-)) . @qiaozha As this is blocking customer, I will take this as high priority and start working on this.

[2022-03-10 19:27] joheredi commented on #1337
@bterlson, I think `baseUri` was inherited from `core-http` and we didn't get rid of it 😞 in favor of endpoint. I think the way we can proceed right now is with 3 changes:

1. Fix the generated code so that it honors `baseUri`, as Brian mentioned, `endpoint` should win over `baseUri` if both are present.
2. Add `endpoint` to the ServiceClientOptions in `core-client` next to `baseUri`, also mark `b

[2022-03-10 22:40] sarangan12 commented on #1199
I had a teams meeting with @deyaaeldeen. Here is the gist of the conversation:

1. Today, we have a  paging public API implementation such as:
[code]
2. In the above code, the `byPage` method does not take any parameters. But, according to the definition of `PagedAsyncIterableIterator` defined in the `core-paging` [package](https://github.com/Azure/azure-sdk-for-js/blob/549b60359ed4dac672f8204c494

[2022-03-10 22:44] deyaaeldeen commented on #1199
Yes! thanks for summarizing!

one nit:

for getting the next page, typically named `nextLink`.

[2022-03-14 07:40] qiaozha opened #1338 "[Mgmt] Long running operation activate the poller before we return it to the customer."
currently we don't generate the poller activate code in beginXXX method which is inconsistent with our track1 SDK.
This can be fix by adding await poller.poll() line after this line
https://github.com/Azure/autorest.typescript/blob/7e4f45c0092e565780d81a62e3df42332e20a183/src/generators/operationGenerator.ts#L982-L985

[2022-03-14 08:16] dw511214992 commented on #1259
@sarangan12 @joheredi
@qiaozha find there is another option `is-test-package`, and not sure whether it meets this issue's requirement. thanks

[2022-03-16 15:21] timotheeguerin opened #1340 "Pin the autorest dependencies with `~` instead of `^`"
![image](https://user-images.githubusercontent.com/1031227/158624836-4061a9b9-c1cc-4b14-9910-2b0f43fe2a3c.png)

For codemodel and extension-base because those dependencies major version is tied to autorest major version those package might have some breaking changes in the minor version bumps. For example if  the codemodel change a bit. This cause the typescript generator to stop working completel

[2022-03-16 16:23] xiangyan99 opened #1341 "Update code generator to utilize new auxiliary authorization header policy"
This is a tracking issue.

After https://github.com/Azure/azure-sdk-for-js/issues/20147 is implemented, we need to update our code generator to utilize the new policy.

[2022-03-17 10:00] qiaozha opened #1342 "[Mgmt][HLC] doesn't generate correct mapper for those renamed parameter because of reserved words."
For example the parameter we have for this checkNameAvailibitity is
[code]
Here the typeParam is renamed from the reserved word type. but in the generated Mappers.
[code]
we are still seeing type as the key, which cause the generated code can't work
<img width="1267" alt="image" src="https://user-images.githubusercontent.com/55688292/158784461-d40fc5bd-2c7a-4a66-b0ff-f68972a74978.png">

This is or

[2022-03-17 21:27] maorleger opened #1343 "Update code generator to use @azure/core-tracing 1.0.0"
As soon as 1.0.0 is released for @azure/core-tracing, we should update the codegen to use the new version instead.

[2022-03-17 22:00] sarangan12 opened #1344 "Core Compatibility Package is not added correctly"
The `@azure/core-http-compat` package is not included correctly in the client file. For example, in the Search swagger, the package is not included correctly

[2022-03-18 22:55] danielortega-msft opened #1347 "[Paging] `OperationSpec` for next page of collections should not include `top` and `skip` parameters"
In API endpoints that return pageable collections, the `nextLink` property generated by the server already includes the `top` and `skip` query parameters that correspond to the next page in the collection. However, the generated `OperationSpec` for retrieving the next page of a collection does include them as query parameters. See example: https://github.com/Azure/azure-sdk-for-js/blob/26d973dba9f

[2022-03-23 00:26] joheredi commented on #1347
@sarangan12 would you mind taking a look at this issue. See the related issue in azure-sdk-for-js for more context

[2022-03-23 07:19] qiaozha commented on #1326
@sarangan12 is there any updates for this ? Thanks

[2022-03-23 07:25] sarangan12 commented on #1326
The Prototype code is available at https://github.com/Azure/azure-sdk-for-js/pull/20809/files. But, I can focus on this and test it and deploy it only after the completion of storage task that I am working on. I will soon start implementing the solution. Once I am done, I will update this issue.

Regards
Sarangan Rajamanickam

Sent from Outlook<http://aka.ms/weboutlook>

__________________________

[2022-03-24 08:27] dw511214992 commented on #1273
This issue is handled in https://github.com/Azure/autorest.typescript/pull/1309. So close it.

[2022-03-24 08:27] #1273 closed

[2022-03-28 00:44] MaryGao opened #1351 "Experiment LRO operation"

[2022-03-28 00:46] MaryGao opened #1352 "Migrate the test record in code generation"
Make RLC code generator work with new test recorder, please follow the detailed [doc](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/test-utils/recorder/MIGRATION.md).

[2022-03-28 00:48] MaryGao opened #1353 "Refresh the all packages"
Refresh the all packages

[2022-03-28 00:48] MaryGao opened #1354 "RLC quickstart update and generated metadata fix"
When we follow the [doc](https://github.com/Azure/azure-sdk-for-js/blob/main/documentation/RLC-quickstart.md) to generate RLC SDK we found that some descriptions in doc are out-of-date and also there exists some small bugs in generated code so we need to fix them.

[2022-03-28 00:50] MaryGao commented on #1300
Add the todo items that we need to be done before RLC GA

[2022-03-28 02:35] qiaozha commented on #1302
I think the last one has been resolved now. see http://azure.github.io/autorest/dashboard.html. @joheredi @lmazuel can we close this issue now ?

[2022-03-28 02:54] MaryGao commented on #1351
Close it due only verification work

[2022-03-28 02:54] #1351 closed

[2022-03-28 04:10] MaryGao commented on #1353
Close due to no effort

[2022-03-28 04:10] #1353 closed

[2022-03-28 06:24] qiaozha commented on #1242
currently blocking by some core client error.

[2022-03-28 06:24] qiaozha commented on #1334
see  pr #1355

[2022-03-28 17:42] #1302 closed

[2022-03-29 10:34] #1334 closed

[2022-03-30 03:24] MaryGao opened #1356 "Support the KeyCredential in generatedClient.ts"
In RLC we support three types of authentications:

- Only token credential ==> supported
- Only key credential  ==> issue found
- Both key credential and token credential ==> supported

We have bugs in the second case which if user defined the `credential-key-header-name: x-api-key` the generated factory
would miss the parameter `credentials`.

[code]

Should be like:
[code]

[2022-03-30 16:57] sarangan12 commented on #1344
Issue has been fixed

[2022-03-30 16:57] #1344 closed

[2022-03-30 16:58] maorleger opened #1357 "Update codegen to use `Node.JS` where applicable"
This is a follow-up to https://github.com/Azure/azure-sdk-for-js/issues/21038

For example: https://github.com/Azure/autorest.typescript/blob/766e65635070a5aea404b210334bbf50bb85cb81/src/generators/modelsGenerator.ts#L322

Should instead be consistent with the rest of the docs by using "ONLY AVAILABLE IN NODE.JS RUNTIME"

For browser-only, we should use "ONLY AVAILABLE IN BROWSERS"

Finally, anywh

[2022-03-30 17:09] sarangan12 commented on #1135
The `ServiceClientOptions` interface defined in `core-client` package as:

[code]

@xirzec

As you can see, `ServiceClientOptions` extends from `CommonClientOptions`. This issue requests for client options types should extend `CommonClientOptions`. Does this mean we have to modify CommonClientOptions and move the properties such as credential, pipeline, etc to it?

[2022-03-30 20:34] xirzec commented on #1135
I have mixed feelings about this, right now `ServiceClientOptions` is mostly useful for us to configure generated clients, but we don't expose it from convenience clients... in a purely generated story I'm not sure what the best answer is. As a grow-up we can't remove things, so if we start from ServiceClientOptions, we're stuck with it when we later create convenience.

Would there be an option t

[2022-03-30 20:49] joheredi commented on #1135
I think it is a good idea to expose CommonClientOptions only, even for purely generated clients. Since CommonClientOptions is assignable to ServiceClientOptions we could use ServiceClientOptions internally in the generated client constructor.

[code]

Also in the convenience layer, we should be able to pass a ServiceClientOptions to the constructor if it takes `CommonClientOptions`

[code]

So may

[2022-03-30 21:20] JonathanCrd commented on #1153
After spending some time with this task and having a couple of discussions regarding this task and the version 4 of the generator, I have concluded that this issue should be closed for the following reasons:

- V4 is now deprecated, we are not introducing new features to it.
  - The development with v4x has become particularly problematic since many of its dependencies are now deprecated, not avai

[2022-03-30 23:16] deyaaeldeen commented on #1135
One notable thing in `ServiceClientOptions` is the `credentialScopes`, that is used to mainly specify the cloud to authenticate into. This has been discussed in archboards before (see https://github.com/Azure/azure-sdk/issues/663, https://github.com/Azure/azure-sdk/issues/2905, and https://github.com/Azure/azure-sdk/issues/3353) but no concrete design emerged yet. So, I would rather we work out a

[2022-04-06 07:09] qiaozha commented on #1326
@sarangan12 do you need me to review the prototype PR ? or is the design still in discussion ?

[2022-04-06 17:31] joheredi opened #1359 "Fix the smoke test issues for generated samples both in RLC & HLC"
The smoke test task will try to dynamically load all the samples in the repo and makes some assumptions on the format of all samples, which are no longer valid.

To make it work we need to update our generated sample align with these assumptions in smoke test. Currently we found we have serveral inconsistencies we need to fix them in this issue.

- [ ]  subscription ids should extract from env var

[2022-04-06 22:17] sarangan12 commented on #1326
@qiaozha The coding for the generator is still in progress. The scenarios are complicated and I am new to this paging operation. So, it is taking more time (This is the third day I am working on it) So, any help you could provide in that area if you have time would be appreciated,

Alternatively, you could test the change in any of the SDKs and confirm the code changes will work

[2022-04-08 13:24] Pipeliner opened #1362 "Expected a boolean but got object"
[code]

Minimized Swagger definition:
https://gist.github.com/Pipeliner/0ce99648cf721987262e5579909d7df9

If I remove `info` object from the definition, I get the following error instead:
[code]

[2022-04-11 09:27] Pipeliner commented on #1362
Same as https://github.com/Azure/autorest/issues/4424
`--input-file=`

[2022-04-13 01:32] MaryGao opened #1367 "The autorest option `azureArm` will return true if no azure-arm or openapi-type defined"
# Bug
The autorest option `azureArm` extracting from method `getIsAzureArm` in `autorestOptions.ts` will return true if no azure-arm or openapi-type defined with below code snippet:
[code]

# Expected Behavior

The calling `await host.getValue("azure-arm")` should not be true if no `azure-arm` provided as input.

[2022-04-13 01:43] #1352 closed

[2022-04-13 05:32] deyaaeldeen opened #1368 "Generate docstrings for undocumented enum items"
Some swagger enums do not contain description for each item:
[code]
Current generated code for the "Known" enum would look like:
[code]
The problem is that the API extractor will generate an API view where the items of the enum are labelled as "undocumented":
[code]

The ask here is to generate:
[code]
so that the API extractor can generate instead:
[code]

[2022-04-19 08:22] #1354 closed

[2022-04-20 00:08] JonathanCrd commented on #1367
Following on this:
@joheredi and I faced this issue to while regenerating `keyvault-certificates` a couple of days ago. We debugged the generator and found that if the `openapi-type` flag is not present in the config file, the default value would be "arm".

Specifying `openapi-type = "data-plane"` fixes this behavior. Changing `azure-arm` to false didn't change the openapi type default value.

Thi

[2022-04-20 00:15] joheredi commented on #1367
@timotheeguerin do you recall if M4 has "arm" as default value for `openapi-type`?

[2022-04-20 05:37] sarangan12 opened #1373 "Samples Generation Feature in @autorest/typescript package"
In the `@autorest/typescript` package, there was a module to generate samples. This feature was added recently before few months. But, for this feature to work, there is a dependency on the `@autorest/testmodeler` package. Unfortunately, this has caused a security Component Governance issue that needs to be resolved immediately.

So, I have removed that feature with the PR: https://github.com/Azur

[2022-04-20 14:59] timotheeguerin commented on #1367
Autorest core has `openapi-type` set to `arm` by default. Not really sure why those 2 flags exist really but not sure what we can change without breaking all uses now.

[2022-04-20 20:32] joheredi commented on #1367
Thanks, @timotheeguerin. @sarangan12 I see that checking `openapi-type` was introduced in [this change](https://github.com/Azure/autorest.typescript/commit/e272f492b8b35dcaf1e27ee3deb303df37427a69). Do you recall why `azure-arm` was not sufficient and we need to check `openapi-type`

[2022-04-21 02:51] qiaozha commented on #1338
close this issue as PR merged.

[2022-04-21 02:51] #1338 closed

[2022-04-21 06:21] qiaozha commented on #1373
@sarangan12 @joheredi Would you mind share some information how the test modeler is violating the component governance issue ? we will work on the fix.
cc @changlong-liu  @lirenhe

[2022-04-21 23:11] sarangan12 commented on #1373
There are dependencies such as `async`, `validator`, `ansi-regex`, `yargs-parser` package dependencies which have Audit violations. You could go to a previous commit and run `npm audit` which will give you a complete list

[2022-04-25 05:33] lirenhe opened #1379 "[RLC]: Provide api description for route for better intelli-sense"
When we call an path in RLC, the intellisense for the specific path looks like below:

path(path: "/deviceupdate/{instanceId}/updates/providers/{provider}/names", instanceId: string, provider: string): DeviceUpdateListNames

Resource for '/deviceupdate/{instanceId}/updates/providers/{provider}/names' has methods for the following verbs:

It doesn't provide enough information about the detail of th

[2022-04-26 12:01] craignicol opened #1380 "credentials are required when no security is an option alongside a security pattern"
Take the following valid spec:

[code]

And run the following command line:

`autorest --input-file=mixed-security.yaml --v3 --clear-output-folder --output-folder=mixed-security-client --typescript`

And observe that the resultant client has the following constructor:

[code]

i.e. that `credentials` is a required field, despite the security for that endpoint including the *none* authentication op

[2022-04-28 21:31] jeremymeng opened #1381 "Update generated package to use typescript ~4.6.0"
Currently it is ~4.2.0

- [ ] resolve breaking changes in generated code if there are any.

[2022-05-10 07:29] dw511214992 opened #1382 "[RLC]generate date format string as string type"
When the swagger is:
[code]
The generated codes is:
[code]
However, it werid to not just pick one, either we're deserializing it or not, since it can't be coming over the wire as a Date object. So it should be changed to:
[code]

[2022-05-11 00:55] mikekistler opened #1385 "Generate authentication support from REST API security definitions"
**Describe the solution you'd like**

The TypeScript/JavaScript generator should support generation of authentication support based on the security definitions in the REST API document.

**Additional context**

In the March 2022 release, Autorest generalized its support for recognizing security schemes:

https://github.com/Azure/autorest/blob/main/docs/releases/march-2022.md#modelerfour-security-s

[2022-05-11 07:14] qiaozha commented on #1326
@sarangan12 any updates with the coding change in the code generator ? I am currently working on adding back the sample generation because of audit fix don't have much time to take a look at this feature. Thanks

[2022-05-12 01:59] #1269 closed

[2022-05-12 01:59] #1301 closed

[2022-05-12 02:18] MaryGao opened #1387 "[RLC]Handle post in the nextLink operation"
Eventhough the code generator provides a pagination helper for RLCs but it only allows using `GET` to get next page link. If service's design both have `GET` or `POST` it won't work.

One example is the Metrics Advisor service, which implements a pagination pattern in which getting the next page can be called with `GET` or `POST` depending on the resource.

The standard pagination pattern, now cla

[2022-05-12 02:27] MaryGao opened #1388 "[HLC] Fix hard-code parameter issue of client example in readme"
Currently in `hlcREADME.md.hbs` we hard coded the client example generation with fixed paramters, but it is not truly for all services.

Sometimes the service constructor don't have the required `subscriptionId`, sometimes others have additional `endpoint` in their contstuctor.

[code]

So we need to fix this with actual parameter states not fixed ones.

[2022-05-12 02:50] MaryGao opened #1389 "[RLC] Sample generation: model design & transformation"
fixes https://github.com/Azure/autorest.testserver/pull/381
fixes https://github.com/Azure/autorest.typescript/pull/1435

We'd like to support sample generation in RLC codegen and it will support all cases in below:

- Click to view list: #1393

In this issue we'll cover the body only has `string` type

- Design TestModel for RLC
- Support below actions
  - GET
  - POST
  - DELETE
  - PUT

[2022-05-16 11:50] MaryGao commented on #1382
@joheredi Please help comment if I miss something!

@dw511214992 Regarding the `date-time` type, we handle it in different ways if appearing in `Input` or `Output` models, detailed PR is here #1196 .

Swagger file:
"startDateTime": {
          "type": "string",
          "description": "The deployment start datetime.",
          "format": "date-time"
        },

Case1: Appear in the input model e.

[2022-05-17 02:02] dw511214992 commented on #1382
I agree @MaryGao 's comment, and it's enough to change the output model.

[2022-05-17 02:08] #1382 closed

[2022-05-18 01:34] qiaozha commented on #1242
close this as the core client change has been merged and the test has been enabled.

[2022-05-18 01:34] #1242 closed

[2022-05-18 07:30] qiaozha commented on #1303
close it as the document has been updated.

[2022-05-18 07:30] #1303 closed

[2022-05-19 02:59] MaryGao opened #1393 "[Epic] The Road to RLC Sample Generation"
- [ ] Enhance pagination Helper #1387
   - [ ] Handle post in the nextLink operation
- [ ] Sample Case List
   - [ ] body-string  #1389
   - [ ] body-complex
   - [ ] body-file
   - [ ] custom-baseUrl
   - [ ] header
   - [ ] http-infrastructure
   - [ ] lro
   - [ ] paging
   - [ ] URL
   - [ ] media-types
- [ ] Generate samples for multi-client package
- [ ] Generate client-level parameter
- [ ]

[2022-05-19 06:11] qiaozha opened #1394 "remove modelerfour.legacy-request-body flag to use new multi media type request in the code model"
we will add a flag modelerfour.legacy-request-body in order to use the security scope from the code model. but we will still need to remove this flag and change the code generator to use new multi-media type requests in the code model. I create this issue to track the work.

[2022-05-19 06:26] qiaozha opened #1395 "[mgmt] the generated mappers for discriminators is incorrect"
For consumption mgmt plane. we generate the discriminator mappers like this
//mappers file
[code]

Here the UsageDetail, ReservationRecommandation are both subclass of Resources and each of them has subclesses with x-ms-discriminator-value legacy and modern,

Currently we are not generating the mapper key by using the direct parent class name. instead we are using the very first ancestors' name in

[2022-05-24 10:11] lirenhe opened #1397 "Support CADL files as the input for JS RLC"
Recently, Python and Java team has already done some investigation and implementation on how to support CADL in the CodeGen

The approach is similar to the below graph by Laurent:

![image](https://user-images.githubusercontent.com/9100546/170008771-efce030e-951d-48db-a279-a9bf85347ef9.png)

For JS, we should also investigate and prototype whether we could leverage CADL as the codegen input direct

[2022-05-26 08:47] #1373 closed

[2022-05-26 08:47] ArcturusZhang commented on #1373
This is done per @qiaozha

[2022-05-27 01:44] qiaozha opened #1398 "[RLC Post GA work items] - RLC Documentation story"
Clean up current docsites.

What can be hidden from the generated docs to keep them useful.

#  [RLC Archboard Discussions] Documentation story

Given the scope and design of the Rest Level Clients, we beleive that the following documentation will set up our customers for success when using our libraries:

* Service agnostic Rest Client guide
* REST API reference

Currently some preview RLCs have

[2022-05-27 01:46] qiaozha opened #1399 "[RLC Post GA work items] - Path based versioning"
Document good practices of version handling, separate variable and should we make a guideline?

# [RLC Archboard Discussions] Path versioned upgrades

Developers using RLCs for REST APIs with path based versioning may suffer when upgrading to a newer version of the library when there has been a Service version bump, as they will have to update all their callsites with the new version in the path

[2022-05-27 01:53] qiaozha opened #1400 "[RLC Post GA work items] - Guidance for partner teams on when do they need a RLC vs a HLC"
Guidance on when a service which already has an RLC will need to have an HLC

Document the upgrade process?

Add information about error handling and type narrowing in the RLC docs/samples

# [RLC Archboard Discussions] Guidance for partner teams RLC vs HLC

We need to be clear on the message we share with partner teams to make it easy to determine if they need to release an RLC or an HLC.

The in

[2022-05-27 01:55] qiaozha opened #1401 "[RLC post GA work items] - Guidance for service teams about GA requirements on library testing, documentation and samples"
# [RLC Archboard Discussions] New library release requirents

In order to ensure the quality and reliability of our SDKs we need to set requirements for all RLCs before they are released.

In general, engineering release requirements will be similar to other DPGs or HLCs we release covering:
- Documentation (Readmes and generated docs)
- Samples
- Tests
- Architecture board Naming approval (genera

[2022-05-27 01:57] qiaozha opened #1402 "[RLC post GA work items] - RLCs guidelines"
# [RLC Archboard Discussions]  Guidelines for RLC

We have [Azure SDK Guidelines](https://azure.github.io/azure-sdk/typescript_introduction.html) to help SDK developers write libraries that align with the rest of the Azure SDK.

Since RLCs will be introducing new patterns, we'll need to add some RLC specific guidelines to help our SDK developers when releasing a new library. SDK authors will somet

[2022-05-30 05:54] MaryGao opened #1404 "[mgnt] Type choice name is not matched between definition and reference if name is all uppercase"
Type choice name is not matched between definition and reference if name is all uppercase
After generation the definition of this type would be:

[code]

But in the reference the type would be like:

[code]
So we have below hint in VS code:

[code]
Refer `SKU` enum definition in this swagger: https://github.com/Azure/azure-rest-api-specs/blob/78665b44d4b9295e56664193fc3baa9e0526d15d/specification/

[2022-06-01 04:43] MaryGao opened #1405 "Enhance the sampleTest.ts to support client creation"
Currently the generated sampleTest.ts only contains the replaceVariables and recorder creation. But after migration to test recorder v2 the created client would require default credential and testing options.

So it's better to generate the client to allow user easy to upgrade to v2.

[2022-06-06 09:06] lirenhe opened #1409 "Support SDK examples for DPG to be shown in Rest API document on Docs"
The samples section we have today on the REST API reference docs isn't something that customers can easily use and run within their code. It's usually the case that we want customers viewing REST API documentation to not make the request using the REST API itself but through some sort of client library that is native to their programming language.

Solution:  On REST API document on Docs, show SDK

[2022-06-07 08:28] dw511214992 opened #1411 "Clearing src folder doesn't work when output-folder is a relative path"
How to reproduce:
1. Change the `title` in `sdk/deviceupdate/iot-device-update-rest/swagger/REAME.md` from `DeviceUpdate` to `DeviceUpdateAAA`.
2. Run `autorest README.md` in `sdk/deviceupdate/iot-device-update-rest/swagger`.
3. Find the file `DeviceUpdate.ts` is not deleted.

Expected:
file `DeviceUpdate.ts` should be deleted.

[2022-06-08 06:43] #1385 closed

[2022-06-08 06:43] #1322 closed

[2022-06-08 06:43] #1356 closed

[2022-06-10 04:13] qiaozha opened #1413 "support multiple paramters in x-ms-parameterized-host"
Curently if we set the x-ms-parameterized-host as
[code]
and generated client constructor factory function look like this
[code]

This would be a problem once #1399 is enabled.

[2022-06-10 05:36] qiaozha opened #1414 "Add test coverage for security scopes in testserver"
As we have supported security scopes in the autorest.tyoescript, though we have tests in our own, but we still need to support the test coverage in testserver.  there are already two in the testserver:
https://github.com/Azure/autorest.testserver/blob/main/swagger/security-aad.json
https://github.com/Azure/autorest.testserver/blob/main/swagger/security-key.json
The REST API doc for AAD is not quit

[2022-06-10 08:54] qiaozha opened #1415 "rushx format issue when use --rlc-shortcut=true to generate rlc package"
If we are using rlc-shortcut to generate appservice mgmt plane package, there will be a format issue in ci

[2022-06-11 18:33] xxmissingnoxx opened #1416 "Typescript API Requires Credentials by Default when Documentation Says Otherwise"

[2022-06-14 00:13] MaryGao commented on #1415
Pretty quick issue to fix, but to make sure the shortcut is the default setting. Priority is lower than the shortcut.

[2022-06-14 00:16] MaryGao commented on #1414
The first part is high priority but the second one we need to check offline maybe low priority

[2022-06-14 00:19] MaryGao commented on #1413
High priority it would block the path version implementation. And this would be one the GA blocker for service.

[2022-06-14 00:21] MaryGao commented on #1411
Considering it's low priority and remove from RLC  v1.1

[2022-06-14 00:27] MaryGao commented on #1402
This guidelines would be `RLC customization doc`. It should be in `v1.1` and may be med priority

[2022-06-14 00:31] MaryGao commented on #1401
This item crosses all languages and we need to follow up with Laurrent on this.

[2022-06-14 00:33] MaryGao commented on #1400
This item crosses all languages and we need to follow up with Laurrent or Renhe on this.  We could bring this up in sync-up meeting.

[2022-06-14 00:34] MaryGao commented on #1399
It is high priority and has a blocking issue - https://github.com/Azure/autorest.typescript/issues/1413

[2022-06-14 00:38] MaryGao commented on #1398
It's high priority and Jose is working on this and the complete documentation would be after v1.1

[2022-06-14 00:41] MaryGao commented on #1397
It's high or med priority and it may need big effor.

[2022-06-15 19:23] joheredi commented on #1398
https://github.com/Azure/autorest.typescript/pull/1419 Removes docs generation from RLC

[2022-06-16 18:31] sarangan12 commented on #1416
Starting to work on this task. Will provide updates shortly.

[2022-06-16 18:52] sarangan12 commented on #1416
Ok. I have done a quick analysis. The details are:

1. In the Typescript SDK Generator, we set the `addCredentials` to `true` by default. If it has to be set to `false`, it has to be explicitly set. The specific piece of code is [Can be found [here](https://github.com/Azure/autorest.typescript/blob/25d1be74e26d101aa128d112afc51a29f9382f48/src/utils/autorestOptions.ts#L184)]:

[code]

2. On the oth

[2022-06-16 19:04] sarangan12 commented on #1416
I have created a PR to fix the documentation issue - https://github.com/Azure/autorest/pull/4562. Will update this issue once the PR is approved and merged.

[2022-06-16 19:32] sarangan12 commented on #1362
Starting to work on this task. Will provide updates shortly.

[2022-06-16 20:37] sarangan12 commented on #1416
The Documentation PR has been merged. No more action items pending on this issue. If you still face any issues, Please feel free to reopen this PR.

[2022-06-16 20:37] sarangan12 commented on #1380
The Documentation PR has been merged. No more action items pending on this issue. If you still face any issues, Please feel free to reopen this PR.

[2022-06-16 20:37] #1380 closed

[2022-06-16 21:04] sarangan12 commented on #1362
@Pipeliner When you are using a OpenAPI file as input (instead of configuration file), you need to use `--input-file` option. For example, I have used the following to generate the SDK for your specified input and I am able to generate the SDK successfully.

[code]

[2022-06-16 21:04] sarangan12 commented on #1362
No more action items pending on this task. Closing this issue.

[2022-06-16 21:04] #1362 closed

[2022-06-16 23:14] mpodwysocki opened #1422 "Browser: Lookbehind and Negative Lookbehind RegEx not supported in Safari"
The following code that is generated in the `SearchClient`, the `addCustomApiVersionPolicy` uses a lookbehind RegEx, which is not supported on Safari via [CanIUse](https://caniuse.com/js-regexp-lookbehind).  This has caused an issue with the Azure SDK for JavaScript:

https://github.com/Azure/azure-sdk-for-js/issues/22274

[2022-06-18 06:13] #1422 closed

[2022-06-20 17:49] sarangan12 commented on #1425
This is similar to issues https://github.com/Azure/autorest.typescript/issues/1416 and https://github.com/Azure/autorest.typescript/issues/1380

[2022-06-20 17:52] sarangan12 commented on #1425
@Dolphinsimon As mentioned in the other [issues](https://github.com/Azure/autorest.typescript/issues/1416#issuecomment-1158023005), we set the addCredentials to true by default. If it has to be set to false, it has to be explicitly set.

The [documentation](https://github.com/Azure/autorest/pull/4562) has also been updated.

Please add --add-credentials to false, it you do not want the credentials

[2022-06-20 17:52] sarangan12 commented on #1425
No more action items pending on this issue. If you still face any issues, Please feel free to reopen this PR.

[2022-06-21 19:41] sarangan12 opened #1428 "Replace Copy command with a script"
A few weeks back, I was working on resolving the Audit Issues reported for the autorest.typescript repository. At that time, the package had a dependency on the copyfiles package which had a security vulnerability and thus have to be removed. So, I removed that and just used the regular cp command. It was working fine on my (windows) machine.

But, now I have found that the cp was working fine on

[2022-06-21 19:46] sarangan12 commented on #1428
Code Complete

[2022-06-21 19:46] #1428 closed

[2022-06-21 20:12] sarangan12 commented on #430
I have verified that this issue has been resolved with PT #1250. Closing this issue

[2022-06-21 20:12] #430 closed

[2022-06-22 00:09] andrsmith149 opened #1429 "Failed to install '@autorest/typescript' - '6.0.0-beta.20'"
Operating System: Win11
Autorest core version: 3.8.4
NPM version: 8.5.5

I'm running into an issue when trying to run a typescript build.

Commands Run
[code]

I end up receiving the following error:
[code]

When I look into my '.autorest' folder, I can confirm that the typescript extension is not present.

[2022-06-22 02:50] qiaozha commented on #1429
@andrsmith149 which node version are you using ? can you try node v14+ ?

[2022-06-22 09:59] BoostSebastian commented on #1395
Hi, do we have any future release on this?

[2022-06-22 16:12] andrsmith149 commented on #1429
@qiaozha Im using Node v17.9.0

[2022-06-22 18:25] sarangan12 commented on #1429
@andrsmith149 Can you confirm if this is not a transient issue? Could you please try again? Also, can you run the command `autorest --reset` and then try it.

[2022-06-22 18:29] andrsmith149 commented on #1429
After runnint `autorest --reset` and trying again, I am seeing the same issue.

During the installation:
![image](https://user-images.githubusercontent.com/107962714/175110262-990a4743-bc32-4ffb-81a0-ee6fd82cc4ce.png)

Result:
![image](https://user-images.githubusercontent.com/107962714/175110360-fef08a87-0f85-4d80-8227-8c517963e827.png)

[2022-06-22 18:30] andrsmith149 commented on #1429
I am able to successfully generate the CSharp, Python and PowerShell SDKs.

[2022-06-22 18:59] sarangan12 commented on #1429
I would like to check if I can isolate the issue somehow. Can you confirm if `npm i @autorest/typescript` command is working fine on your machine?

[2022-06-22 19:15] andrsmith149 commented on #1429
`npm i @autorest/typscript` was successful:
![image](https://user-images.githubusercontent.com/107962714/175117980-167216d7-7f64-4b13-a265-230c60f48fd4.png)

I then ran `autorest --rest` again and tried to generate the SDK again but failed with the same issue.

[2022-06-22 21:32] andrsmith149 commented on #1429
Still having the same issue. I can confirm I'm running autorest v3.5.1 as well.

[2022-06-27 02:52] qiaozha commented on #1395
Hi @BoostSebastian I have a PR to fix it and will let you know when it finishes ?

[2022-06-27 20:20] lmazuel opened #1433 "Support externalDocs in operation documentation of RLC"
Since recent M4, externalDocs might be filled with a link to relevant doc for that operation. We should read that field, and generate it part of the RLC doc

[2022-07-04 08:17] qiaozha opened #1437 "[RCL] generated models has some recursive reference and invalid type definition"
when generate rlc for servicefabric, I found there's a model generation issue.
![image](https://user-images.githubusercontent.com/55688292/177112585-76604ecb-d249-40eb-a5b7-0a06b40036a8.png)

[2022-07-04 09:18] qiaozha commented on #1437
after investigation this is because we have add a Base suffix for polymorphism base class, but there's indeed two models one has a Base suffix compared with the other.

[2022-07-05 17:06] AndrewCS149 opened #1439 "Question: Javascript/Typescript interchangeable?"
Is there a specific JavaScript autorest extension? Or does the TypeScript work interchangeably?

Thank you!

[2022-07-06 23:48] #1437 closed

[2022-07-12 04:59] qiaozha commented on #1429
Can you try to remove .autorest folder in your home directory ? and try again see if it can work ?

[2022-07-15 18:10] chrissmiller commented on #1429
Also impacted by this same issue which blocks typescript generation

[2022-07-18 02:09] qiaozha commented on #1429
@chrissmiller have you run `autorest --reset` first before you delete that folder ?

[2022-07-18 03:57] qiaozha commented on #1439
The Autorest.Typescript will only generate TS code, but then you can compile it into JS code. Also, the generated code support customers to use it in both TS and JS ways.
cc @xirzec feel free to correct me if I am wrong. Thanks

[2022-07-18 04:41] lirenhe opened #1444 "[CADL in RLC]Generate typescript RLC client from confidentialledger Cadl API description"
Inputs:

Cadl files: https://github.com/Azure/cadl-azure/pull/1637

The output:

The existing SDK for RLC  https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/confidentialledger/confidential-ledger-rest

Out of scope:

1.  Convience layer
2.  Pagable operations

[2022-07-18 04:51] qiaozha opened #1445 "[CADL in RLC]refactor autorest.typescript to use rush to manage the package"
we will use rush to manage multiple packages for cadl emitter support

[2022-07-18 04:54] qiaozha opened #1446 "[CADL in RLC][cadl-ranch]add a few test scenarios in TS cadl emitter"
including
models with enum properties
models with optional attributes
models with nullable properties
models with read-only properties
models with client default value properties
models with constant values properties

Epic: https://github.com/Azure/cadl-azure/issues/1941

[2022-07-18 16:08] AndrewCS149 commented on #1439
Thank you!

[2022-07-18 16:08] #1439 closed

[2022-07-18 16:16] AndrewCS149 commented on #1429
@qiaozha I tried running `autorest --reset` then deleting the ./autorest folder and then regenerating the TypeScript SDK but failed with the same error. I'm not too concerned about this anymore since I was able to get it to work from a different computer. I'm not sure why it will not work on this other computer.

[2022-07-19 02:45] qiaozha opened #1447 "support anonymous credentials in rest level client"
In confidential ledger and service fabric, we have cases like whether the credentials might be undefined, and we will nees tlsOptions in the options to do the authentication.
[code]
we might need to consider to support it in the code gen side

[2022-07-19 02:50] #1414 closed

[2022-07-20 00:08] peolivei2 opened #1449 "Paginated operations don't work properly if query param names in nextLink are URL-encoded"
**Repro steps:**
- Generate client from spec that has a paginated operation with next link
- Have the pagination operation have a dollar-prefixed query parameter, such as `$top`
- Invoke the paginated operation, as in the example below:
[code]
- While resolving the iterator, the lib will make a first call to the server containing the `$top` parameter:
`GET https://example.com/myResources?$top=1`
-

[2022-07-20 07:21] qiaozha commented on #1220
@MaryGao Can you follow up with this issue.

[2022-07-20 17:10] lmazuel opened #1452 "CADL+RLC support of basic types of cadl-azure-core"
CADL provides a library of type part of "cadl-azure-core". [This is an example](https://cadlplayground.z22.web.core.windows.net/cadl-azure/?c=aW1wb3J0ICJAYXp1cmUtdG9vbHMvY2FkbC3GEWNvcmUiOwrJJ8UbbGFuZy9yZXN0IjsKdXNpbmcgQcQtLkNvcmUuT3BlcmF0aW9uczsKCm1vZGVsIEVucm9sbG1lbnQgewogIEBrZXnEB0NhZGwuUmVzdC5zZWfEHigiZckqcyIpCiAgaWQ6IHN0cmluZzsKfdJPR3JvdXDMVNUwUmVnaXN05wCV2y5pbnRlcmZhY2UgSW90RHBzUmVzb3VyY2VMaW

[2022-07-21 06:50] #1389 closed

[2022-07-21 20:34] #1300 closed

[2022-07-22 03:48] qiaozha opened #1454 "[CADL in RLC]make the pipeline work with multiple packages"
currently the pipeline only works for autorest.typescript library, we will need to make sure it also works for cadl-emitter and rlc-codegen related libraries.

[2022-07-22 03:49] qiaozha opened #1455 "[CADL in RLC]refactor in autorest.typescript and write emitter for clientDefinition.ts"

[2022-07-22 03:50] qiaozha opened #1456 "[CADL in RLC]refactor in autorest.typescript and write emitter for models.ts and outModels.ts"

[2022-07-22 03:50] qiaozha opened #1457 "[CADL in RLC]refactor in autorest.typescript and write emitter for parameters.ts and responses.ts"

[2022-07-22 03:50] qiaozha opened #1458 "[CADL in RLC]refactor in autorest.typescript and write emitter for helper functions and index.ts"

[2022-07-22 03:57] qiaozha opened #1459 "[CADL in RLC]refactor in autorest.typescript and write emitter for client factory function"

[2022-07-22 03:57] qiaozha opened #1460 "[CADL in RLC]refactor in autorest.typescript and write emitter for metadata(package.json tsconfig readme.md etc...)"

[2022-07-22 03:57] qiaozha opened #1461 "move the emitter code to a new public repo"

[2022-07-22 03:58] #1461 closed

[2022-07-22 03:58] qiaozha commented on #1461
close it as not needed now

[2022-07-22 03:58] qiaozha opened #1462 "[CADL in RLC]Add a e2e test for a simple RP"
- [ ] Use petstore as the pilot RP.
- [ ] Verify the generated code.

[2022-07-22 04:21] qiaozha opened #1463 "[CADL in RLC]investigate on how to support command line argument in cadl"

[2022-07-26 03:13] qiaozha opened #1464 "[Cadl in RLC]use pnpm to manage the packages"
there's a peer dependencies issue in oav, which is depend by @autorest/testmodeler, and we are relying on @autorest/testmodeler which cause rush update to fail if we are using pnpm to manage this repo.
currently we are still using npm to manage this repo but it's better to use pnpm with rush to manage the repo.

[2022-07-26 03:43] #1445 closed

[2022-07-26 08:47] lirenhe commented on #1462
Could you use petstore for verification?

[2022-07-26 08:50] lirenhe commented on #1456
Support new types from CADL

[2022-07-26 14:03] mikekistler opened #1468 "DPG should fix casing of parameters borrowed from OData"
The Azure REST API Guidelines recommend standard query parameters borrowed from OData. Some of these parameters have names that contain multiple words but are all lowercase run together, e.g. "orderby", "maxpagesize".

For client libraries, we want these names to be exposed as multi-word names using the appropriate language idiom, e.g. "orderBy" in .NET.

Our DPG generators (autorest-based or Cadl

[2022-07-27 09:02] #1395 closed

[2022-07-29 22:41] #1064 closed

[2022-08-01 07:53] qiaozha commented on #1446
support some scenarios list here:  https://github.com/Azure/cadl-ranch

[2022-08-01 16:09] lmazuel opened #1474 "Plug CADL ranch into CI"
This should include CI validation and CADL ranch report:

cc @timotheeguerin for help if neeeded

Epic: https://github.com/Azure/cadl-azure/issues/1939

[2022-08-03 10:28] lirenhe opened #1478 "[RLC]: [cadl-ranch] Add support for tests from CADL test server"
This item includes the following tasks:

- [x] Build the test framework to support cadl-ranch  https://github.com/Azure/cadl-ranch, merged in [pr](https://github.com/Azure/autorest.typescript/pull/1509)
- [x] Implement test cases for different scenarios of CADL input.
   - [x] Support dpgcustomization cases https://github.com/Azure/autorest.typescript/pull/1519
- [x] Add new scenarios into https:/

[2022-08-04 05:59] kazrael2119 opened #1479 "Can't generate samples"
When I generated samples in customerinsights , it occured an error message like this:
![image](https://user-images.githubusercontent.com/98569699/182772415-d641d0bf-2bbd-4f6f-8ba6-d61b14e726b8.png)
This error may have happened here：https://github.com/Azure/azure-rest-api-specs/blob/e4400c42d2adf0545578414a1b07d2bdca61bfe8/specification/customer-insights/resource-manager/Microsoft.CustomerInsights/

[2022-08-08 06:47] MaryGao opened #1481 "The binary type is not workable with the latest @azure-rest/core-client version"
We have RLC integration testing for binary type : https://github.com/Azure/autorest.typescript/blob/main/packages/autorest.typescript/test/rlcIntegration/bodyFormDataRest.spec.ts.

However if we upgrade @azure-rest/core-client to the latest GA or dev one we will meet below issue:

[code]

Epic: https://github.com/Azure/cadl-azure/issues/1942

[2022-08-10 06:54] qiaozha opened #1485 "[CADL in RLC]use petStore as the test cases for cadl emitter"

[2022-08-11 02:15] MaryGao opened #1486 "[RLC] Handle multiple body shapes in the same status code"
#### Swagger Response Structure
One operation_id --> many responses
One response --> one status code, body and headers etc
#### CADL Response Structure
One operation_id --> many responses
One response --> one status code
One status code --> many body and headers etc
#### RLC Current Response
Currently RLC response has similar structure with swagger one so we can't handle the different bodies.

Mor

[2022-08-12 07:14] qiaozha commented on #1485
close it as supported

[2022-08-12 07:14] #1485 closed

[2022-08-12 17:49] sharathmalladi opened #1488 "Please review the links in README.md files in this repo as they are broken"
Reference Links from this page are broken: https://github.com/Azure/autorest.typescript/blob/main/docs/samples/readme.md
Link referencing [typescript-specific docs](https://github.com/Azure/autorest.typescript/blob/main/docs/docs/migrate/readme.md) from this page is broken: https://github.com/Azure/autorest.typescript

It will be helpful to generally verify the links referenced from README.md file

[2022-08-12 18:28] joheredi opened #1489 "RLC shortcut methods improvements"
Based on feedback and the latest investigation about integrating ES Modules there are a few improvements we can do to shortcuts.

Currently RLCs are consumed like this

[code]

In addition to the current RLC  `path` and `pathUnchecked` methods, we could also provide shortcut methods. If we do so as `path exports` we could even afford to generate some runtime to handle things like pagination and LR

[2022-08-17 02:30] qiaozha opened #1498 "use latest cadl compiler 0.34.0 and cadl-rest 0.16.0"

[2022-08-17 07:27] #1464 closed

[2022-08-17 07:27] lirenhe commented on #1463
We will leverage typescript.json as the workaround

[2022-08-17 07:27] #1463 closed

[2022-08-17 07:30] #1459 closed

[2022-08-17 07:30] #1458 closed

[2022-08-17 07:30] #1457 closed

[2022-08-17 07:31] #1456 closed

[2022-08-17 07:42] #1455 closed

[2022-08-17 16:49] lmazuel opened #1501 "Support x-ms-skip-url-encoding from CADL"
While it won't be called x-ms-skip-url-encoding in CADL, once https://github.com/microsoft/cadl/issues/851 is fixed we need to add that support in the language emitter.

[2022-08-18 05:04] MaryGao commented on #1478
https://github.com/Azure/cadl-ranch/issues/39

[2022-08-18 06:06] qiaozha opened #1502 "change security definition to useAuth in cadl"

[2022-08-19 04:34] lirenhe opened #1504 "report warning in the emitter if doc is missing/empty"
All Tier-1 language DPG generators will fail generation if a doc tag is missing or empty, rather than generating documentation to fill in the gaps.  And this would should be implemented in emitter side.

https://github.com/Azure/autorest.csharp/issues/2621

Epic: https://github.com/Azure/cadl-azure/issues/1945
CADL Blocking: https://github.com/Azure/cadl-azure/issues/1748

[2022-08-23 01:06] MaryGao opened #1507 "Change cadl emitter package name before releasing it"
Change cadl emitter package name before releasing it

Epic: https://github.com/Azure/cadl-azure/issues/1942

[2022-08-24 02:40] qiaozha commented on #1462
close it as supported.

[2022-08-24 02:40] #1462 closed

[2022-08-24 06:56] MaryGao opened #1511 "HLC LRO integraion tests will fail when upgrading @azure/core-lro to the latest"
HLC LRO integraion tests will fail when upgrading @azure/core-lro to the latest and please take a look at the failure details.

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1799698&view=logs&j=c46da42c-2794-5fc1-ff45-518534d5e680&t=10c7c4f0-012d-5a7c-b59c-f34223e6bb5e

[2022-08-24 13:06] deyaaeldeen commented on #1511
The failure is due to a difference in the literal string of the error messages thrown when the operation/poller is canceled/failed. I recommend updating the test expectations to match the new error messages.

[2022-08-24 15:25] annelo-msft commented on #1504
Dependent on https://github.com/Azure/cadl-azure/issues/1748

[2022-08-24 22:57] sharathmalladi opened #1513 "isUnexpected function does not work as expected in the generated autorest code"
The isUnexpected function in sdk\personalizer\ai-personalizer-rest\src\isUnexpected.ts script has the following line:
let pathDetails = responseMap[`${method} ${url.pathname}`];

The issue is that the responseMap has entries with keys that look like the following when inspecting in the debugger:
"GET /configurations/policy"

Where as the url.pathname looks like this: '/personalizer/v1.1-preview.3/

[2022-08-25 06:43] MaryGao opened #1515 "[Cadl RLC] Design the test cases and add unit test for getSchemaForType in modelUtil.ts"
Currently there is no any UT in cadl-emitter and this is not a good practice. So in this issue we could resolve this by

- Enable the UT framework in cadl-rlc-emitter project
- Add UTs for function getSchemaForType in modelUtil.ts

[2022-08-25 06:49] MaryGao commented on #1511
@deyaaeldeen  Thanks for this information! I think most of these wording changes works for me except below one:

[code]
Could you suggest what the message `should have thrown instead` means? Could you provide any more specific information?

[2022-08-25 08:33] #1444 closed

[2022-08-25 08:34] #1498 closed

[2022-08-25 08:34] #1502 closed

[2022-08-26 02:39] MaryGao opened #1516 "[HLC Track1] The integration cases related to user agents failed due to tough-cookie upgrade"
After the upgrading tough-cookie of the sub-dependency of core-http our test cases failed. More discussion could be found [here](https://github.com/Azure/azure-sdk-for-js/issues/23004). We'd like to investigate if we still need these cases and if yes we'll lock the version in our project to workaround.

Our test cases failed with below message [link here](https://dev.azure.com/azure-sdk/public/_bu

[2022-08-26 03:14] deyaaeldeen commented on #1511
That old error message was thrown by the test and not by core-lro. This is a change in behavior in core-lro where a 204 response no longer raises an exception. Please update that test to check the response object instead, but I don't remember what fields and values it contains.

[2022-08-26 06:36] JameelKhan9 commented on #234
@RikkiGibson @co3k Sorry to comment on such an old issue, but I am facing the same issue with RestError imported from @azure/storage-blob. Could you provide any insight into why this would be occurring over there, as it looks like it uses your solution? (https://github.dev/Azure/azure-sdk-for-js/blob/80949a8a07f168c1e45188f52d9ddf09fffa8edc/sdk/core/core-http/src/restError.ts#L1)

[code]

[code]

[2022-08-29 07:06] MaryGao opened #1521 "[RLC Cadl] Support path parameter under host with operation scope in parameters.ts"
### Swagger path parameter types
In swagger spec path parameters in URL may be defined in two positions: 1) one is located in host under the extension `x-ms-parameterized-host`; 2) the other is url segment under `paths` section. Regarding the host parameter we could specify the parameter scope as client-level or operation-level. So in total we'll have below three kinds of path parameters:

| Locat

[2022-08-29 08:35] qiaozha opened #1522 "[CADL in RLC] use authoring as arch board review RP"
Epic: https://github.com/Azure/cadl-azure/issues/1941

[2022-08-30 03:08] MaryGao commented on #1516
@joheredi Do you think we still need these test cases? According to Jeff's [comment ](https://github.com/Azure/azure-sdk-for-js/issues/23004#issuecomment-1227643372)`, How do you think?

[2022-08-30 07:25] MaryGao opened #1524 "[RLC Cadl] Error thrown when generating some cadl types to typescript types"
When we write our test cases from cadl file to typescript code some types could not be handled correctly.  We use this issue to track these cases to ensure they could work correctly.

- should handle type_literals:boolean -> boolean_literals fixed
- should handle extensible_enum -> string fixed
- should handle anonymous model -> effictive type/interface fixed
- should handle inheritance model -> m

[2022-08-30 09:56] qiaozha opened #1525 "[CADL in RLC]fail to generate doc correctly"

[2022-08-31 02:08] qiaozha opened #1527 "[CADL in RLC]Map type is not generate correctly"
Currently we are generating Record<string, unknown> for map type, but in cadl, they have already specify the value type.
for example Record<string> in cadl represents Record<string, string>.

[2022-08-31 06:43] kazrael2119 opened #1529 "Update Codegen to generate operation with parameters in the right position"
When we updated SDK from track1 to track2, there are some issues occurred such as redis, compute.
In redis swagger, the paramters are defined by the correct way :https://github.com/Azure/azure-rest-api-specs/blob/aefbcc5fb18a3b33f401394ebeae01df0733c830/specification/redis/resource-manager/Microsoft.Cache/stable/2022-05-01/redis.json#L1084. But in redis sdk operation definition, the parameters are

[2022-08-31 07:45] kazrael2119 commented on #1479
https://github.com/Azure/autorest.typescript/issues/1529

[2022-08-31 07:45] kazrael2119 commented on #1529
https://github.com/Azure/autorest.typescript/issues/1479

[2022-08-31 07:54] qiaozha commented on #1449
@xirzec Looks like this is a data plane SDK issue ?

[2022-08-31 15:37] MaryGao commented on #1525
Cases need more discussion:

- should generate apiVersion description with 'api-version'
- should generate header description with custom name

[2022-08-31 18:03] deyaaeldeen commented on #1449
Looks related to https://github.com/Azure/azure-sdk-for-js/issues/20420

[2022-08-31 19:02] xirzec commented on #1449
We should avoid `URLSearchParams` when constructing query param strings as it formats them as `application/x-www-form-urlencoded` which is *not* the same as how query strings get encoded in normal URLs.

Interestingly, it seems like the *server* is doing the unnecessary encoding in this case. It doesn't appear that the URL constructor parses this by default:

<img width="324" alt="image" src="http

[2022-09-01 03:22] MaryGao opened #1534 "[RLC Cadl] The integration test lib is out of date we need to upgrade to the latest"
The integration test lib is out of date we need to upgrade to the latest

[2022-09-01 03:43] MaryGao opened #1535 "[RLC Cadl] Add the mock test verification when cadl-ranch is ready"
Currently the cadl-ranch server side is not ready so we can't enable these verifications.

So we create an issue to Add the mock test verification when cadl-ranch is ready.

[2022-09-01 06:14] qiaozha opened #1536 "[CADL in RLC]Prepare Arch Board review documents"
1. Parity with RLC 1.0
2. Models
3. For other DPG, there will be convenience method.

[2022-09-01 08:20] #1515 closed

[2022-09-01 08:41] #1525 closed

[2022-09-01 08:41] #1527 closed

[2022-09-01 08:44] MarcErdmann opened #1546 "Naming overrides not working as expected via `x-ms-client-name` or Modelerfour config"
**Describe the bug**

From my understanding, Autorest supports the override of property names. I followed the example given by @timotheeguerin  here:
https://github.com/Azure/autorest/issues/3830#issuecomment-771732557

Additionally I tried to use the OpenAPI extension `x-ms-client-name` described here:
https://github.com/stankovski/AutoRest/blob/master/Documentation/swagger-extensions.md#generic-

[2022-09-01 09:59] MaryGao opened #1537 "[HLC] Remove the appended 204 response code when the operation is LRO"
Currently we will inject the accepted responses into LRO operation reponses including ["200", "201", "202", "204"]. But considering when the LRO core upgraded we no longer required to add 204 any more. So we could remove from the list.

https://github.com/Azure/autorest.typescript/blob/main/packages/autorest.typescript/src/transforms/operationTransforms.ts#L51

[2022-09-01 20:09] joheredi opened #1538 "[RLC] Use conditional response parameters to assume valid 304"
Even when the Swagger spec doesn't explicitly describe a 304 response, we should make `isUnexpected` say a 304 response is expected if the operation takes an etag parameter

[2022-09-02 02:51] MaryGao opened #1539 "Fix the issues in parameters and responses when generating authoring"
Response.ts
Header parameter name inconsistent with swagger generated, should generate operation-location not operationlocation
Parameters.ts
Missing content type parameter in the cadl output
Had extra api-version parameter in the cadl-output

[2022-09-02 09:29] kazrael2119 opened #1544 "RLC new error by using check status function"
After fixing the bug where check status function does not work，on pipeline ，now there are other errors are occurred.

In **Http infrastructure rest Client** ( **function : error message** ){
delete503 should retry and return 200: AssertionError: expected '503' to equal '200'
get502 should retry and return 200: AssertionError: expected '502' to equal '200'
head408 should retry and return 200: Asser

[2022-09-02 09:29] kazrael2119 commented on #1544
1) Http infrastructure rest Client
       Retry scenarios
         delete503 should retry and return 200:

      AssertionError: expected '503' to equal '200'
      + expected - actual

      -503
      +200

[2022-09-02 09:29] kazrael2119 commented on #1544
2) Http infrastructure rest Client
       Retry scenarios
         get502 should retry and return 200:

      AssertionError: expected '502' to equal '200'
      + expected - actual

      -502
      +200

[2022-09-05 03:33] MaryGao opened #1547 "[Cadl RLC]Handle form data type with binary type"
Handle form data type with binary type

[2022-09-05 08:02] MaryGao opened #1548 "[Cadl RLC] Support the paging & LRO in cadl emitter"
Refactor existing code
Support the paging & LRO in cadl emitter

[2022-09-05 09:19] MarcErdmann commented on #1211
It took me a lot of time to arrive at this thread.
It would be great if this was documented better in the official docs.
My config looked like this:

[code]

And I was frustrated that it is not working. After reading this thread, I changed it to:

[code]
And it works!

https://github.com/Azure/autorest.typescript/issues/1546

[2022-09-06 09:36] MaryGao commented on #1486
Current we have the multi-content type support in our case: https://github.com/Azure/autorest.typescript/blob/1c06a9136b23d30f6724082f2ca20b3fe37a54be/packages/cadl-rlc-emitter/test/unit/generate/parameters.spec.ts#L113

But the current implementation has below issues:

- Lack the relationship between headers and bodies
- May cause the unnecessary required input from headers

So we need to re-desi

[2022-09-06 09:42] MaryGao commented on #1539
Close it considering fixed

[2022-09-06 09:42] #1539 closed

[2022-09-06 09:43] MaryGao commented on #1534
Closed as fixed

[2022-09-06 09:43] #1534 closed

[2022-09-08 01:13] MaryGao opened #1553 "[Cadl RLC] Design the generic/template models and provide user-friendly name for them"
This issue may split into two issues. We'd like to cover two parts:

- Rethink the current design for generic/template models from Cadl
- Fix the naming issue if underlying template issue don't provide a friendly name

[2022-09-08 01:17] MaryGao opened #1554 "[Cadl RLC] Fix the byte array converted to string issue"
Currently we generate the `string` type for byte array but it's not perfect so we need to rethink about it.

1. Which type is proper for input?
2. Which type is proper for output?
3. How to handle encodings when serializing?

[2022-09-08 01:19] MaryGao opened #1555 "[Cadl RLC] Design how to support read-only in properties"
In Cadl we could define properties' visibility as below:

[code]

In swagger we could define read-only as below or by [extension](https://github.com/Azure/autorest/tree/main/docs/extensions#x-ms-mutability):
[code]

- [ ] Confirm with Cadl team about possible values in @visibility
- [ ] Ensure the supported cases in RLC
- [ ] Design how to handle read-only/write-only/... cases in RLC both for inpu

[2022-09-08 08:59] MaryGao opened #1556 "[Cadl RLC] Review the current implementation of polymorphism"
Review the current implementation of polymorphism.

[2022-09-09 17:03] lmazuel opened #1557 "LRO basics from CADL"
First level of support for LRO in CADL, is to consider the presence of `@Azure.Core.pollingOperation` as a boolean switch to generate LRO code, like `x-ms-long-running-operation: true` was doing in Swagger:

[code]
([full example](https://cadlplayground.z22.web.core.windows.net/cadl-azure/?c=aW1wb3J0ICJAY2FkbC1sYW5nL3ZlcnNpb25pbmciOwrJIGF6dXJlLXRvb2xzL8UsxhFjb3JlIjsKCkBzZXJ2aWNlVGl0bGUoIlRleHQgYXV

[2022-09-09 17:06] lmazuel opened #1558 "LRO advanced from CADL"
See https://github.com/Azure/autorest.typescript/issues/1557 for the basics.

As CADL gives more way to detail the precise LRO flow expected, we anticipate more complex work to flow the additional information to codegen, with possibly azure-core update in the meantime.

This issue is not about parity, since we're talking about information that Swagger didn't have a way to declare.

[2022-09-13 02:31] MaryGao commented on #1553
Regarding the second one we may reference this issue: https://github.com/Azure/cadl-azure/issues/1995

[2022-09-13 02:33] #1524 closed

[2022-09-13 02:49] qiaozha opened #1559 "[Cadl in RLC] Update the cadl compiler to 0.35.0 and cadl rest to 0.17.0"
include other  cadl related dependencies upgrade.

[2022-09-13 03:49] weidongxu-microsoft commented on #1553
Note that according to Johan, there should not be a new model for request (at least for PUT), as he expect a single routd-trip model. E.g. request and response model both as "Project".

[2022-09-13 10:22] lirenhe opened #1561 "Provide the design spec of high level architecture for CADL+RLC"
Please help to provide the design spec of high level architecture for CADL+RLC.
The spec would be helpful as the guide of future improvement.

[2022-09-13 13:17] MaryGao commented on #1554
Below are confirmed with Time

bytes as a response or body parameter means you are passing a binary body
bytes inside a json object means you need to base64 encode it

[2022-09-13 13:43] MaryGao commented on #1547
See discussion here: https://github.com/Azure/cadl-azure/issues/2006

[2022-09-16 04:52] MaryGao commented on #1559
closed as done

[2022-09-16 04:52] #1559 closed

[2022-09-16 04:53] MaryGao commented on #1536
closed as done

[2022-09-16 04:53] #1536 closed

[2022-09-16 06:23] MaryGao commented on #1481
close as merged

[2022-09-16 06:23] #1481 closed

[2022-09-16 06:55] MaryGao commented on #1446
close this one as duplicated with https://github.com/Azure/autorest.typescript/issues/1535

[2022-09-16 06:55] #1446 closed

[2022-09-16 06:56] MaryGao commented on #1397
Close as CADL support is in progress

[2022-09-16 06:56] #1397 closed

[2022-09-16 07:05] MaryGao commented on #1486
May be duplicated with this one: https://github.com/Azure/autorest.typescript/issues/1200

[2022-09-16 07:09] MaryGao commented on #1522
Close as done

[2022-09-16 07:09] #1522 closed

[2022-09-19 03:09] qiaozha opened #1565 "[RLC] how to make apiVersion work if there's more than one apiVersion parameters in the input files"
We are trying to release rlc for arm-compute for portal team, but I found in compute's latest tag, they have mixed api versions in their default tag of input files.
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/compute/resource-manager#tag-package-2022-07-02

previously, we generate RLC like
`  options.apiVersion = options.apiVersion ?? "2021-03-01";`
in the createClient fu

[2022-09-19 05:57] kazrael2119 opened #1566 "Pipeline Build Analyze failed with 404 broken link https://nodejs.org/about/releases/"
![image](https://user-images.githubusercontent.com/98569699/190956916-e3fb38e0-7826-4ac0-a3c2-9eafe49e7f7b.png)
The link is in sdk/../arm-../samples/../typescript/README.md, sdk/../arm-../samples/../javascript/README.md and sdk/../arm-../s/README.md

[2022-09-19 08:20] MaryGao commented on #1566
I am asking the node team to provide the replacement page link here https://github.com/nodejs/node/issues/44719

[2022-09-20 03:22] MaryGao commented on #1566
closed as fixed

[2022-09-20 06:06] MaryGao commented on #1399
Comment the current design here
### Current design
In swagger spec path parameters in URL may be defined in two positions: 1) one is located in host under the extension `x-ms-parameterized-host`; 2) the other is url segment under `paths` section. Regarding the host parameter we could specify the parameter scope as client-level or operation-level. So in total we'll have below three kinds of path pa

[2022-09-20 08:06] MaryGao commented on #1521
Checking with Cadl team here: https://github.com/Azure/cadl-azure/issues/2029

[2022-09-20 08:39] MaryGao commented on #1555
@timotheeguerin Could you suggest possible values for @visibility decorator?

I notice we have ["create", "read", "write"] in our samples. Are they all values? What the `create` mean?
https://github.com/microsoft/cadl/blob/4d5d3b0647b741e09516140fcf8a4d5d1ed55402/packages/samples/visibility/visibility.cadl

[2022-09-20 13:51] timotheeguerin commented on #1555
Those are the ones we have as knonw visibility
[code]

See this PR too for how visibility is taken into account for rest api https://github.com/microsoft/cadl/pull/1034/files#diff-947587669197236eb5f8cb7bb2d6815c0c872aa8d2275c70e40231b1424cc648

`create` means it is available during the create process vs write which is create + update

[2022-09-20 15:54] MaryGao commented on #1555
@timotheeguerin One follow-up question for these verbs in Visibility enum, do these actions map to the HTTP verbs to indicate
detailed process? For example `create` process means a  `POST/PUT` REST call.

[2022-09-20 23:59] MaryGao opened #1569 "[RLC Cadl] Get Cadl Ranch Test Coverage in CI"
Get Cadl Ranch Test Coverage in CI

[2022-09-21 07:09] MaryGao opened #1572 "[RLC] Handle mixed api-versions cross operation groups in parameters.ts"
In our current design we only filter out the api-version parameter when composing the parameters. This is not correct if the cald inputs have multiple api-versions because we will have no default global api version in generated client.

So we need to support the case where there are more than one api verions cross op groups.

Please notice this is NOT multiple api version support. Because for sepa

[2022-09-21 09:26] kazrael2119 commented on #1479
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAzUAAAGfCAYAAABm9PxNAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAOA7SURBVHhe7P1NiGNXluiPLt8sQw2SdEGAjZF048akkqyTF88sZMJ1I6D8inaf9oVCNLogQY1qUBL8B5oo3NDk4F3iTDRTJJgcFaHqVIHIQbfKf0gSFOmOQi0iRzaq5OUkiA7JNUgS7EwwuCd6a+2zj3S+zz7S0VfE+pV3Zehoa3+svfba3/vA//pf/2sMAMJp5ea42+2Om4Y+1jRtrJcN8bmLny0/U6eNy4YxLuuaz3czOq08blL85QTDTNCZ

[2022-09-21 22:56] xirzec commented on #1565
If I understand this correctly, the generator uses a compound version token like `package-2022-07-02` which is translated to specific api-versions for particular operations, e.g. `2022-03-01` for compute paths?

So rather than having a global api-version, we have to generate the default api-version per path. Probably the simplest answer is as you suggest. I don't think we'd gain much from being cl