[2022-09-22 00:37] qiaozha commented on #1565
The experience is that if all the input files are using the same api version.  The generated rlc library can be used like
[code]
And we don't need to pass api version at all, because we have set the default client level api version here.
`options.apiVersion = options.apiVersion ?? "2021-03-01";`
In this case, there're two ways for the customers to modify the api version if they like.
The first one

[2022-09-22 06:27] qiaozha commented on #1572
does #1565 not clear enough for this case ? And please refrain to use multiple api version if it's not the case that **the same  resource types** has more than one api versions. Different resource types have different api version and each resource types still have one api version is not called multiple api version.

[2022-09-22 06:52] qiaozha commented on #1565
Just found out if we set both client level parameter and operation query parameter for api version like
[code]
either one will work, the reason it worked before is because we have set some [customizedApiVersion policy](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/containerservice/arm-containerservice-rest/src/containerServiceClient.ts#L36-L40) in @azure-rest/arm-containerservice package

[2022-09-22 08:21] MaryGao commented on #1569
Close as merged

[2022-09-22 08:21] MaryGao commented on #1557
Close as merged

[2022-09-22 08:21] #1557 closed

[2022-09-22 08:22] MaryGao commented on #1548
Close as merged

[2022-09-22 08:22] #1548 closed

[2022-09-22 15:25] MaryGao commented on #1565
The [Azure SDK Guidelines](https://azure.github.io/azure-sdk/general_design.html#general-service-apiversion-7) say:

I'd like to summarize our current situation and we have several apiVersion

| Type | Level | Value Source Type| RLC| Comments|
| --------- | -------------- | --------------- |--------------- |--------------- |
 | Client | Client | Default | Supported | When `count(apiVersion) = 1` i

[2022-09-23 02:20] MaryGao commented on #1572
update the title to reduce confusion

[2022-09-23 07:20] qiaozha opened #1577 "[RLC] RLC sample generation error for arm-compute and arm-network"
.currently we found some issues when generate rlc samples with arm-compute and arm-network

1. query parameter miss a quota, casing api-version to be a syntax error.
2. unnessary normalize of property name when generate the samples, casing inconsistent with the generated code.
3. Operation_List operation sample missing credentials in the client create function.

[2022-09-26 02:31] MaryGao commented on #1569
Close as merged

[2022-09-26 02:31] #1569 closed

[2022-09-26 02:41] MaryGao opened #1579 "[RLC Cadl] Fix the test cases failures in cadl ranch"
After integration with latest cadl-ranch testing we have two-type case failures. One is `dictionary` and the other is `models/inheritance`.

When generating dictionary we got below error message:

[code]

In inheritance the base class `Cat` didn't generate .
https://github.com/Azure/autorest.typescript/blob/c0b8a88897dcf5b9f3b6c4005721e49105af84c5/packages/cadl-rlc-emitter/test/integration/generat

[2022-09-26 19:37] joheredi commented on #1565
**tl;dr; -** From a Rest Client perspective the current is the right experience, we are true to the intent and what the REST API describes, while still helping users through IntelliSense.

**Full story**
I chatted with @bterslon about this offline. We think that the current experience where:

- No default client level api-version is set
- Users are required to set the api-version on each operation

[2022-09-26 20:35] joheredi commented on #1211
Thanks for the feedback @MarcErdmann.

@sarangan12, would you mind adding this to the documentation?

[2022-09-26 20:38] joheredi commented on #1516
We need to keep supporting cookies, at least on our tests because that's the way test server tracks the scenario. Are all tests using cookies failing?

[2022-09-27 03:02] qiaozha opened #1581 "[RLC] support government cloud in management plane rest client libraries"
This issue is inspired by https://github.com/Azure/azure-sdk-for-js/issues/23134
Currently, when we generate rest level cient for mgmt plane, the generated code for rlc is
[code]
This won't be able to work if we are in a government cloud environment. After having some discussion, we think
[code]
As we don't have getCredentialScopes in @azure-rest/core-client, and the pattern relation between baseu

[2022-09-27 06:26] qiaozha opened #1582 "[RLC] generate a table to maintain the relationship between rlc package version and api version"
As Brian mentioned we should update our package README.md of rlc each time we have a new release, so that customers know which package version to choose  or which api version to pass if they want to use a previous version.

| client version | api version |
| ------------- | ----------- |
|     1.0.0            | preview1    |
|     1.1.0            | preview2    |

Currently, we don't have the kin

[2022-09-27 07:56] qiaozha opened #1583 "[RLC] redact the bear token info when using console.log in rlc"
Currently we will have everything of the request returned in the response, including the authorization bearer token info. which could be a potential security issue if someone ever used console.log to see the result.

we should redact all the sensitive information when get the response.

[2022-09-27 10:00] qiaozha opened #1584 "[RLC] isUnexpected can't not handle the expected response code"
This is a bug in isUnexpected helper. The current logic doesn't take the method into consideration when decide if a response is expected or not. We should make the following change to make sure it works as expected.
<img width="1004" alt="image" src="https://user-images.githubusercontent.com/55688292/192496565-28140f6f-90ac-4b0a-a1e4-01c2f954b2e4.png">

[2022-09-29 08:58] #1579 closed

[2022-09-30 07:11] MaryGao opened #1590 "[RLC & HLC] Update the metadata when --generate-sample=true and --generate-metadata=false"
Currently when the --generate-metadata is falsy we will do nothing for metadata. However if the generate-sample=true or generate-test=true we have the metadata changes.

So even when --generate-sample=true and --generate-metadata=false  we do need to update the relevant metadata to pass all build.

[2022-09-30 08:49] #1460 closed

[2022-10-08 02:08] qiaozha opened #1593 "[RLC] support multiple clients and operationgroups in CADL"
We can define multiple clients in RLC like this https://github.com/Azure/cadl-azure/blob/main/packages/cadl-azure-core/README.md#define-clients-and-subclients

[2022-10-09 00:45] benlongo commented on #1132
It's unfortunate the generated types don't allow narrowing, that's critical to my use case.

[2022-10-09 07:14] lirenhe opened #1595 "Support cadl-project.yaml file for emitter configurations"
Based on the recent discussion, CADL folder will have a “cadl-project.yaml” file with the CADL, to store some of the configuration aspect specific to the emitter.

See:
https://gist.github.com/iscai-msft/21f57725eb2bf92d260548b147ee5937
https://microsoft.github.io/cadl/docs/extending-cadl/emitters-basics/#custom-configuration-options

Need to do the following:

- [ ] Update emitter to support  cad

[2022-10-09 08:25] MaryGao commented on #1516
Thanks for the update! No currently the test cases passed and relevant issue resolved.

[2022-10-09 08:43] MaryGao commented on #1516
Issue resolved after upgrading to the latest tough-cookie

[2022-10-09 08:43] #1516 closed

[2022-10-09 09:09] MaryGao opened #1597 "[HLC] Remove the default credential scope code and update the scope by using options enriched from core lib"
You could refer the [issue ](https://github.com/Azure/azure-sdk-for-js/issues/23134) for whole story. Simply speaking we will

- Remove the default credential scope code because we have logic to enrich it in core lib
- Update the scope by using options enriched from core lib

[2022-10-09 09:22] MaryGao opened #1598 "[RLC] Upgrade core-lro & Turn on the option resolveOnUnsuccessful in LRO helper function"
- [ ] Resolve the failure in pr https://github.com/Azure/autorest.typescript/pull/1586
- [ ] Enable the option resolveOnUnsuccessful

## Enable the option resolveOnUnsuccessful

In [core-lro pr](https://github.com/Azure/azure-sdk-for-js/pull/23311) we intro a new flag and we need to enable it in this issue.

Simply speaking it would change our behavior from throw Exception to not throw in Rest LRO

[2022-10-11 04:30] #1511 closed

[2022-10-11 04:30] #1544 closed

[2022-10-11 06:29] MaryGao commented on #1566
change to https://github.com/nodejs/release#release-schedule

[2022-10-11 10:14] MaryGao commented on #1474
Close it as done

[2022-10-11 10:14] #1474 closed

[2022-10-11 10:15] MaryGao commented on #1535
Close it as done

[2022-10-11 10:15] #1535 closed

[2022-10-11 12:43] benjaminbolbrinker opened #1601 "Query parameter default not parsed correctly"
#### Context

I have the following endpoint in the `openapi.yaml` and try to call it using a client generated via autorest.

[code]
#### Issue

When setting default parameters for Arrays, as described above, I run into the following:

[code]

#### Expected behavior

After generating the typescript sdk I try to use it via:

[code]

The call `petSdk.getPets()`  should perform the HTTP request and ei

[2022-10-11 18:07] MRayermannMSFT commented on #1326
Sad to see this hasn't been getting attention. 😐

[2022-10-12 03:17] #1566 closed

[2022-10-12 05:59] #1507 closed

[2022-10-12 23:41] MRayermannMSFT commented on #1199
@danielgerlag @deyaaeldeen any updates on this?

[2022-10-12 23:45] deyaaeldeen commented on #1199
@sarangan12, I don't have an update for the customers on this issue, could you please provide one?

[2022-10-13 03:00] MaryGao commented on #1478
Close it as items are done. Will follow up the cadl-ranch team to upgrade if necessary

[2022-10-13 03:00] #1478 closed

[2022-10-13 03:14] MaryGao commented on #1521
Close this as this feature is not supported in CADL.

[2022-10-13 03:14] #1521 closed

[2022-10-13 06:24] #1413 closed

[2022-10-13 06:28] qiaozha commented on #1468
I don't think this applies to RLC, because we don't have a mapper layer to map between the code name and the rest api name. @joheredi what do you think ?

[2022-10-13 08:01] MaryGao opened #1604 "[RLC Cadl] Upgrade the cadl-ranch 0.3.3 & cadl-compiler 0.36.0"
Upgrade the cadl-ranch 0.3.3 & cadl-compiler 0.36.0

[2022-10-13 09:04] #1584 closed

[2022-10-14 05:58] kazrael2119 commented on #1479
![image](https://user-images.githubusercontent.com/98569699/195773076-4300d9bf-76be-428b-94d3-5b78e4034f38.png)
in logic , it occured an error when generating samples

[2022-10-14 10:12] #1595 closed

[2022-10-14 10:14] #1454 closed

[2022-10-14 21:21] joheredi commented on #1468
This doesn't apply to Rest Clients as you said, we just honor what the REST API call the parameters, in this case it would be the raw odata parameter names

[2022-10-17 05:45] dw511214992 opened #1609 "[CADL DPG] Generate Codes in sdk-folder defined in cadl-project.yaml"
Example `cadl-project.yaml`:
[code]
When generating codes, the emitter should generate codes in `sdk-folder` when the option is defined.

[2022-10-17 07:29] #1577 closed

[2022-10-17 20:53] xirzec opened #1611 "Contributing.md is a bit out of date"
https://github.com/Azure/autorest.typescript/blob/main/CONTRIBUTING.md

Seems like we need to update the contribution guide to mention getting set up with rush

[2022-10-18 07:40] qiaozha commented on #1513
@joheredi has this issue been resolved ?

[2022-10-18 07:44] #1609 closed

[2022-10-18 07:57] qiaozha commented on #1488
close it as this should have been resolved. @sharathmalladi feel free to reopen it if you still found issues in the readme.md link.

[2022-10-18 07:59] #1488 closed

[2022-10-18 14:22] chrissmiller opened #1615 "Generated createClient method does not use all parameters for parameterized host"
When using a parameterized host with multiple parts, the TS autorest client will only include parameters in the createClient method for one of the parts.

This impacts the PR and linked spec [here](https://github.com/Azure/azure-sdk-for-js/pull/23429/).

Our parameterized host looks like the following:

"{tenantId}-{resourceName}.{dnsSuffix}".

The expected createClient method would looks like the

[2022-10-18 14:50] MaryGao commented on #1615
@chrissmiller Thanks for reporting this! I believe we have already supported this [feature ](https://github.com/Azure/autorest.typescript/issues/1413)in our version since https://www.npmjs.com/package/@autorest/typescript/v/6.0.0-rc.2.

Would you like to have a try the latest one?

@qiaozha Please correct me if I am wrong! Thanks!

[2022-10-18 15:08] chrissmiller commented on #1615
@MaryGao rc.2 fixes this issue for us, thank you so much! We are noticing a second issue withe the parameterized host in createClient though -- we have a default value for one of the host parameters, and the default value is not provided. We have manually fixed this for our PR, let me know if there is a fix we can consume instead though!

So rather than the expected output, we get:
[code]

Link to

[2022-10-19 02:59] lirenhe commented on #1611
@qiaozha, could you help to update this speci with the RLC related guide?

[2022-10-19 03:03] lirenhe opened #1617 "[RLC] Add test cases to verify the support of array payload in methods for CADL"
Cadl:
op world(): string[];
op world2(): modelA[];
...

Need to verify whether JS RLC could generate correct code for the above operation.

- [x] Add unit test in `responses.spec.ts`
- [x] Add unit test in `parameters.spec.ts`
- [x] Support `array` integration test cases in cadl-ranch

[2022-10-19 04:58] MaryGao commented on #1615
Generally we think the default value means that server side would autocomplete that value when missing so we don't handle them in client side.

However I think your case is valid when parameters appear in extension `x-ms-parameterized-host`, these params would assemble in our url and usually are mandatory for client. So providing default values for them would benefit the user experience.

So I thi

[2022-10-19 05:47] MaryGao opened #1618 "[RLC] Normalize the parameter appeared in path"
Currently we didn't do any parameter name normalization considering data will serialize and deserialize directly.

Actually the parameter name could be normalized when appear in **URI** path. So we could avoid the code like below:

- Client-level parameter

[code]

- Method-level parameter

[code]

- [ ] Normalize the client-level parameter name
- [ ] Normalize the method-level parameter name
- [

[2022-10-19 06:32] MaryGao commented on #1513
I will take into this issue and identify that.

[2022-10-19 08:45] lirenhe opened #1619 "Update JS RLC GetStarted Guide to support CADL+RLC"
Please update https://aka.ms/azsdk/rlc/js to include the process for CADL+RLC

[2022-10-20 04:00] #1604 closed

[2022-10-20 05:06] MaryGao opened #1623 "Update JS RLC GetStarted Guide to support sample generation"
Update JS RLC GetStarted Guide to support sample generation

[2022-10-20 05:14] MaryGao opened #1624 "Support RLC sample generation by operation group and add more testing for sample gen"
Currently if we enable the `generateSample` option we'll generate all samples, it would introduce a lot of samples if we enable some real RP in our integration testing.

So it's nice to provide the option `sampleWhiteList` and then we only generate samples in allow list. Also it would also benefit users if he or she know some swagger examples has issues and they want to generate well-written examp

[2022-10-20 08:52] qiaozha commented on #1452
@lmazuel I wonder if those types are the only types we need to put into the @azure-rest/core-client ? Are there any other types we need to put https://github.com/Azure/cadl-azure/tree/main/packages/cadl-azure-core/lib ?

[2022-10-20 09:02] lirenhe opened #1625 "Generate JS client from Autonomous Development Platform Cadl API description"
This issue tracks validating that a RLC generator can generate the ADP client, models, APIs from https://github.com/Azure/azure-rest-api-specs-pr/pull/9236/files, to achieve parity with what DPG v1.0 can generate from the ADP OpenAPI description from the same PR.

Inputs:
https://github.com/Azure/azure-rest-api-specs-pr/pull/9236/files

[2022-10-20 09:13] MaryGao opened #1626 "[RLC] Polling request would fail in testing with polling helper function"
Currently the v2 recorder has an issue https://github.com/Azure/azure-sdk-for-js/issues/23420.  The would cause the polling status requests would fail in `record` or `playback` mode.

So we need to follow up that issue. The recorder issue is fixed in pr https://github.com/Azure/azure-sdk-for-js/pull/23803/files.

We need to do following:

- [ ] Bump the recorder version to the latest
- [ ] Remove

[2022-10-24 02:45] MaryGao commented on #1617
@kazrael2119 Could you help implement this?

[2022-10-24 03:05] MaryGao commented on #1504
Move to GA

[2022-10-24 03:33] MaryGao opened #1628 "[RLC] Add test cases for dictionary of cadl-ranch"
Now cadl-ranch has dictionary test cases.  we need to support in typescript emitter.

[2022-10-24 08:33] lirenhe commented on #1617
Here is the cadl ranch file for array type:
https://github.com/Azure/cadl-ranch/blob/main/packages/cadl-ranch-specs/http/array/item-types/main.cadl

[2022-10-24 19:06] jeremymeng opened #1631 "GA autorest.typescript v6"
Release a GA version of autorest.typescript v6.  It's currently in RC.

- [ ] bump version
- [ ] update package status in README

[2022-10-24 19:06] jeremymeng opened #1632 "Deprecate autorest.typescript v4"
We should deprecate autorest.typescript v4 after v6 GA.

[2022-10-24 19:33] jeremymeng opened #1633 "update autorest.typescript dependency @azure/core-client version to 1.6.1"
Current version is an alpha one.

now that the version has been published, we should update it to use GA version.

[2022-10-24 19:44] jeremymeng commented on #1633
@qiaozha could you please help on this since you have the context?

[2022-10-24 22:57] xirzec commented on #1199
Exposing `settings` and treating `continuationToken` as the nextLink is easy enough, but something I'm now struggling with is how we intend for consumers to retrieve the nextLink on the results. I am wary of doing any kind of non-enumerable property tricks, so it seems like we need something like a wrapper type around the existing page results.

Unfortunately, since byPage() already returns `Async

[2022-10-24 23:00] xirzec commented on #1199
I think what I'm asking is how we'd solve #1326 while addressing this item

[2022-10-24 23:47] deyaaeldeen commented on #1199
@xirzec I agree, it is not an ideal situation. Extending the `PagedAsyncIterableIterator` interface with an extra method with the right return type makes sense to me. The only downside I can think of to this is the potential confusion this may cause to customers who don't need access to the `continuationToken` which I assume is the majority of them. One alternative that I suggested earlier to @MRa

[2022-10-25 02:24] #1633 closed

[2022-10-25 02:37] MaryGao opened #1635 "Support optional client-level parameter derived from x-ms-parameterized-host"
### Background

In recent RLC release we notice the requirement to handle optional client-level parameters in codegen.
- One is for optional apiVersion in [anomalydetecter pr](https://github.com/saintzou66/azure-sdk-for-js/pull/2/files#diff-1aebd09d4f0df4e52c51dcbc6bfa057e8c5cda083c94bff5fff1ebb26ddc07c8)
- The other is a [reported issue](https://github.com/Azure/autorest.typescript/issues/1615) i

[2022-10-25 13:05] bwateratmsft commented on #1199
Could a class be created that takes `PagedAsyncIterableIterator` as a constructor parameter, and that exposes the necessary information? That would "hide" it from customers who don't need it, avoiding the confusion.

[2022-10-25 16:29] MRayermannMSFT commented on #1199
@xirzec

Ya this could work. Maybe named `firstPage` and it just returns the `page` and `continuationToken`. Not sure if the term "paged result" is good (what is a paged result anyways?). Could it be added onto `IteratorResult` or do we worry that would confuse people into making them think they need to do something with token?

I don't not-like this either.

[2022-10-25 17:35] xirzec commented on #1199
@bwateratmsft Unless the construct that took the iterator had some secret means of accessing associated page data, I'm not sure if I understand how that would work.

I'm leaning back towards somehow tying this information into the lifetime of `TPage` since I think it should always be an object of some sort (array or otherwise) that we could weakly map state against.

How would we feel about someth

[2022-10-25 18:06] bwateratmsft commented on #1199
Not saying it's necessarily a good idea, but TypeScript / JavaScript lets you do _anything_. Such a class could peek under the hood to get what it needed.

[2022-10-25 20:15] MRayermannMSFT commented on #1199
I'm curious as to what `getContinuationToken` is actually doing. Lots of packages have many different listing calls. Would you need a function for each type of `TPage`? Overall the idea seems "fine". Every idea so far has been acceptable really.

[2022-10-26 00:02] MaryGao commented on #1554
Move to MQ considering we achieve parity now

[2022-10-26 22:51] xirzec commented on #1199
@MRayermannMSFT I have an initial draft implementation here: https://github.com/Azure/autorest.typescript/blob/e45434438d16edac5c63a7ddd9a4322e9a25e025/packages/autorest.typescript/src/pagingHelper.ts

It's the same function for all pages, so the input parameter is not typed to any one particular page shape.

[2022-10-27 06:20] qiaozha commented on #1583
[code]
Here's the code I tried, I found the logPolicy is indeed in the core-rest-pipeline.
And if we console.log(request.headers) it will still show the authorization info, but if there's a rest error, The error info, we get in the last line, will redact the authorization info.

[2022-10-28 06:07] MaryGao commented on #1598
move to GA due to the dependency

[2022-10-28 07:19] MaryGao commented on #1590
Move to GA

[2022-10-28 07:20] MaryGao commented on #1635
Move to GA

[2022-10-28 19:34] joheredi commented on #1631
@qiaozha, @sarangan12 do you have any concerns about releasing a stable version? We are already GAing libraries generated with the current generator so I think it should be fine to release 6.0.0

[2022-10-30 07:06] sarangan12 commented on #1631
I am fine with the GA

[2022-10-31 07:39] #1513 closed

[2022-10-31 15:52] #1326 closed

[2022-10-31 15:53] xirzec commented on #1326
@MRayermannMSFT just merged this, let me know if you have any feedback or issues with using it.

[2022-10-31 15:53] xirzec commented on #1199
@MRayermannMSFT just merged this, let me know if you have any feedback or issues with using it.

[2022-11-01 02:57] qiaozha commented on #1631
I think there're still some issues left that I can think of in HLC. Wonder if we should resolve them first and then release the GA version.
1. Credential scopes in government cloud https://github.com/Azure/autorest.typescript/issues/1597
2. Remove the appended 204 code https://github.com/Azure/autorest.typescript/issues/1537
3. Tyoe name inconsistent with swagger definition https://github.com/Azur

[2022-11-01 02:59] qiaozha commented on #1631
@MaryGao  @lirenhe Do you think we should start fixing those mgmt sample generation issue before the GA https://github.com/Azure/autorest.typescript/issues/1479

[2022-11-01 06:05] #1611 closed

[2022-11-01 08:29] qiaozha commented on #1631
I think issue #1537 and #1404 and #1529 will cause SDK breaking change.

[2022-11-01 08:37] #1617 closed

[2022-11-01 08:37] #1628 closed

[2022-11-01 16:27] tjprescott opened #1646 "cadl-typescript readme needs work"
This only has an introduction. It should include documentation on supported emitter options, how to install, etc. It seems like at least some of this is contained in `contributing.md`.

[2022-11-02 07:52] MaryGao commented on #1537
After investigation I will close this issue because 204 is a valid code and we need to inject it into mapper to reduce the RestError from core-client.

[2022-11-02 07:52] #1537 closed

[2022-11-02 08:16] MaryGao opened #1648 "[RLC] Handle the unknown and never type from CADL in codegen"
Currently the unknown and never type are directly mapped to TypesScript unknown, never. We have two concerns for this implementation:
- `never` type tagged on property is wired because end user cannot refer or assign value to it
- `unknown` type is meaningful for input model not for output model, after getting the model details from server end user may adjust values and then re-assign to other mod

[2022-11-02 09:25] MaryGao opened #1649 "[RLC] Add test cases for special words in cadl-ranch"
Cadl-ranch includes specail words test cases and we need to integrate these cases - https://github.com/Azure/cadl-ranch/blob/main/packages/cadl-ranch-specs/http/special-words/mockapi.ts.

- [ ] Upgrade cadl-ranch to the latest
- [ ] Enable test cases for special words

[2022-11-02 20:56] MRayermannMSFT commented on #1199
@xirzec what's the best way for me to get my hands on the changes so I can provide you feedback? I'm not seeing any differences with the packages I'm using, so I'm guessing they probably all need to be regenerated?

[2022-11-02 22:52] xirzec commented on #1199
@MRayermannMSFT yeah, we should be able to regenerate with the latest `dev` version of `@autorest/typescript`. Which packages do you need to have regenerated? Could you perhaps file an issue in our main repo with the list? https://github.com/Azure/azure-sdk-for-js/issues

[2022-11-02 22:54] MRayermannMSFT commented on #1199
Hey @xirzec , for the getting of initial feedback, regenerating `@azure/arm-resources` would be a good place to start. I've got some existing tests around our usage of it that make sure our continuation token related hacks work well when listing resource groups.

[2022-11-02 22:57] xirzec commented on #1199
@qiaozha - could you help with regenerating this package?

[2022-11-03 02:53] #702 closed

[2022-11-03 02:53] #1404 closed

[2022-11-03 02:53] #1597 closed

[2022-11-03 05:00] MaryGao commented on #1555
Design concluded here: https://github.com/Azure/azure-sdk/issues/4772#issuecomment-1269051265

My understanding is

- If readonly is marked in output model, we'll tag as `readonly`
- If readonly is marked in input model, we'll remove these properties from input models

[2022-11-03 07:30] MaryGao opened #1650 "[RLC] Update the rlc getStarted doc"
Currently our RLC getStarted doc is out of date, we need to update them:

- [x]  `Prerequisites` to add RLC introducation blog https://devblogs.microsoft.com/azure-sdk/azure-rest-libraries-for-javascript/
- [x] `How to generate RLC` section to enable generte-sample by default
- [x] `Test Doc` section to improve test with helper function
- [x]  `How to write samples` to guide on how to write and de

[2022-11-03 07:32] kazrael2119 commented on #1199
Hi @MRayermannMSFT ,
The below is new sdk package
[azure-arm-resources-5.1.0.zip](https://github.com/Azure/autorest.typescript/files/9926307/azure-arm-resources-5.1.0.zip)

We would like you help us verify whether the package works as your expected before release, you can also learn more by this pr: https://github.com/Azure/azure-sdk-for-js/pull/23688

Thanks.

[2022-11-03 07:34] MaryGao opened #1651 "[RLC] Provide a reference project in getStarted to guide users on how to write samples and test"
Currently we have[ teample project](https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/template/template) for HLC but no template project RLC.

So we could provide one so that the users could better know on how to write samples and test cases.

Data-plane:

Maps route client demos a good example: https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/maps/maps-route-rest

[2022-11-03 07:40] MaryGao opened #1652 "[RLC] Improve the test and sample generation to align with RLC template project"
In [this issue](https://github.com/Azure/autorest.typescript/issues/1651) we'll provide a RLC template project to guide users on how to write sample and tests. But these samples and tests are written manually.

So we could improve our codegen to directly generate them from `x-ms-example`. Please notice we have already generated samples and tests now but it may not match the pattern with our templa

[2022-11-03 07:47] MaryGao opened #1653 "[RLC] Create a project to collect real RP's RLC samples"
In [azure-sdk-for-js-samples](https://github.com/Azure-Samples/azure-sdk-for-js-samples) we collected real samples for HLC.

We could do similar thing for RLC samples and this could benefit

- Summerize the current RLC samples patterns
- Provide meaningful examples for end users on how to write samples

[2022-11-03 08:21] MaryGao opened #1654 "[RLC] Issue tracker and bug fix found in ADP & MAVD"
# ADP
Based on the ADP cadl pr: https://github.com/Azure/azure-rest-api-specs-pr/pull/9236/files, we generated TS RLC code: https://github.com/Azure/azure-rest-api-specs-pr/tree/generate-cadl-with-typescript-emitter/specification/adp/data-plane/cadl/cadl-output and relevant APIView: https://apiview.dev/Assemblies/Review/bb03a676259f40f2ae8b5504e4e2850f#@msinternal/adp!InnerErrorOutput:interface.

[2022-11-03 18:18] sebrenna commented on #1615
@MaryGao thanks for the context. See you connected this with an issue, so does that mean you plan to fix the underlying issue at some point? Or do you still think this is by design?

[2022-11-04 06:11] #1529 closed

[2022-11-04 06:17] qiaozha commented on #1631
@joheredi I think all these issues have been resolved. You may release the GA version of @autorest/typescript now. Just need to make sure you will also release a new version for rlc-common and cadl-typescript.

[2022-11-07 01:53] qiaozha commented on #1583
close it as discussed offline.

[2022-11-07 01:53] #1583 closed

[2022-11-07 01:57] qiaozha commented on #1648
for unknown, we can treat it as any in the output.

[2022-11-08 00:09] #1479 closed

[2022-11-08 04:16] #1555 closed

[2022-11-08 04:16] #1553 closed

[2022-11-08 08:31] qiaozha commented on #1400
For now, we will recommand the new service to onboard RLC and won't give them too much options.

[2022-11-08 09:55] lirenhe opened #1659 "Generate JS RLC client from Anomaly Detector (aka MVAD) Cadl API description"
This issue tracks validating that a RLC generator can generate the MVAD RLC client from https://github.com/Azure/azure-rest-api-specs/tree/feature/anomaly-detector-cadl/specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl, to achieve parity with what DPG/RLC v1.0 can generate from MVAD OpenAPI description.

Inputs:
https://github.com/Azure/azure-rest-api-specs/tree/feature/a

[2022-11-10 19:49] MRayermannMSFT commented on #1199
@xirzec @qiaozha @kazrael2119

First, let me show you the code I ended up with for context:
![image](https://user-images.githubusercontent.com/21112697/201188379-b271e23e-a8eb-49ca-8277-7dee0dcbcbae.png)

And here's my feedback:

- My existing code (with a bunch of hacky workarounds) works well with the shared bits. So nice to know releasing wouldn't break what I currently have.
- I don't love tha

[2022-11-10 23:48] xirzec commented on #1199
Hey @MRayermannMSFT thanks for trying this out!

I hear you on the second point of feedback and agreed that we could at the very least improve the comment since it's not really feasible to scope this down to a type given you could have many different pageables in an SDK each with different page types. I always struggle with how to speak to iterators since I feel like most JS devs don't really unde

[2022-11-10 23:57] MRayermannMSFT commented on #1199
Haha, I think when we migrated from the super old SDKs we just assumed methods named like `list` still returned promises. Thanks for pointing out where we can drop the some `await`s.

Yes I think that would be clearer. Even more clearer would be if the comment put "value" and "byPage: in back-tics (\`), and maybe even with a leading dot on "value". So like:

[code]
But if you are nervous

[2022-11-10 23:59] MRayermannMSFT commented on #1199
For the API I am using....yes I think that sounds accurate. For all Azure APIs, no idea! 😅 Maybe another way to look at it is to not duplicate query params?

[2022-11-11 00:04] xirzec commented on #1199
The problem is we don't know anything about `nextLink` from the swagger spec, all we get is something like this on the operation:

[code]
And at runtime while it may sound very sane to not duplicate, we do have APIs that allow for specifying the same query parameter multiple times (perhaps treating them as an OR condition) with different services wanting these values either concatenated (with comm

[2022-11-11 00:48] MRayermannMSFT commented on #1199
Sure, if the "continuation token" is a next link, then I think saying "we will use that link exactly and not add anything to it" is reasonable. I was merely thinking about APIs where the "continuation token" is not a link. Which in that case it hopefully isn't called `nextLink`.

[2022-11-11 18:57] xirzec commented on #1199
Ah, yeah the pagination contract tries to abstract this better, but since x-ms-pageable I believe only works today with next links, we can probably use that as the hint to avoid query params.

[2022-11-11 20:06] xirzec commented on #1347
@danielortega-msft I'm looking into improving our handling here, but something interesting I have discovered is that you can resolve this today by having a more explicit swagger spec, example here:

https://github.com/Azure/autorest.testserver/blob/0b506ec5426d50d8e439141cd3aa21eb0c32ecee/swagger/paging.json#L205

The key part is when defining your `x-ms-pageable` you can give an `operationName` f

[2022-11-14 02:35] kazrael2119 commented on #1199
released here:https://www.npmjs.com/package/@azure/arm-resources/v/5.1.0

[2022-11-14 04:47] lirenhe opened #1662 "The property marked as @key should be readonly in the generated models"
@key - mark a model property as the key to identify instances of that type

So this means the property could not be set at the client level and it is readonly.

Please help to verify this behavior.

[2022-11-15 04:40] #1635 closed

[2022-11-15 13:02] #1646 closed

[2022-11-16 02:10] lirenhe commented on #1662
Let's hold this work to get more clarification from CADL team

[2022-11-17 08:48] #1619 closed

[2022-11-17 08:48] #1650 closed

[2022-11-17 19:52] xirzec commented on #1132
@jrpedrianes not without wrapping the generated client and doing something clever.

@bterlson how does CADL solve this problem? I feel like the answer for an extensible union has to be in the implicit existence of an `unknown` kind.

[2022-11-21 12:55] MaryGao commented on #1572
See example and discussion here: https://teams.microsoft.com/l/message/19:906c1efbbec54dc8949ac736633e6bdf@thread.skype/1668709231352?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1668709231352&teamName=Azure%20SDK&channelName=Cadl%20Discussion%20%F0%9F%90%AE&createdTime=1668709231352&allowXTenantAccess=false

[2022-11-22 00:42] MaryGao opened #1667 "[Cadl RLC] Fix the extensible enum issue and support apiVersion default value suggested from cadl-dpg"
- [x] Fix the extensible enum issue
- [ ] Support apiVersion default value suggested from cadl-dpg

In this [pr ](https://github.com/joheredi/autorest.typescript/pull/1/files#r1022105262) we handle the cadl extensible enum as string literal, I think the more consistent way is handled as string. See our current type map test cases [here](https://github.com/Azure/autorest.typescript/blob/93b44b67c19

[2022-11-22 03:27] MaryGao commented on #1651
After internal discussion we think the template is for copy-and-paste purpose and to guide users to write test and samples providing real RP as good example or reference would be more valuable.

[2022-11-22 03:39] MaryGao opened #1668 "[Cadl RLC] Remove the `namespace` dependency in emitter"
Currently TypeScript emitter leverages the namespace to identify as operation group but this is not expected.

So we need to remove the `namespace` dependency in emitter and update relevant testing to see what will happen.

[2022-11-22 03:48] #1649 closed

[2022-11-22 06:00] MaryGao opened #1670 "[RLC] Support the top-level shortcut both in Cadl and Swagger"
If there is no top-level operation group defined in Cadl or Swagger we will fail to generate RLC SDK, we need to fix it to support this case.

[2022-11-22 14:46] MaryGao opened #1672 "[Cadl RLC]Add test cases for `is` keyword & azure-core operations"
- [ ] Add test cases for `is` keyword
- [ ] Add test cases for azure-core operations
- [ ] Add test cases for client.cadl

[2022-11-22 15:29] #1668 closed

[2022-11-24 02:30] MaryGao commented on #1625
Updated at 11/24:
API view:
TS emitter config: https://github.com/MaryGao/azure-rest-api-specs-pr/commit/33f140ace9f9e1a7357d9031054faf20f75a82ca
Generated code: https://github.com/Azure/azure-sdk-for-js/pull/23979

[2022-11-24 02:42] MaryGao opened #1673 "[RLC] Generate something for sample in tsp generation"
Finalize the sample generation design from TSP example

[2022-11-24 03:42] MaryGao commented on #1659
Detailed issues here: https://github.com/Azure/autorest.typescript/issues/1654

[2022-11-26 19:29] jrpedrianes opened #1677 "Openapi with a query param with name 'type' is incorrect generated"
- **Package Name**:  @autorest/typescript
- **Package Version**:  6.0.0-rc.3
- **Operating system**: MacOS
- [ x ] **nodejs**
    - **version**: v16.18.1
- [  ] **browser**
    - **name/version**:
- [  ] **typescript**
    - **version**:
- Is the bug related to **documentation** in
  - [ ] README.md
  - [ ] source code documentation
  - [ ] SDK API docs on https://docs.microsoft.com

**Describe th

[2022-11-28 06:31] #1593 closed

[2022-11-28 17:54] xirzec commented on #1677
@joheredi can you triage this one?

[2022-11-28 22:48] xirzec opened #1678 "SmokeTest_RLC failing in main"
Example: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=2016283&view=logs&jobId=91420f01-9daf-53d3-aec1-75f797de9149&j=91420f01-9daf-53d3-aec1-75f797de9149&t=3aed5a45-624c-53bb-998d-671906525409

Test fails with

[code]

and up in the logs for synapse I see

[code]

Which doesn't really tell me much of anything. The same smoke tests seem to pass fine locally for me.

[2022-11-29 00:45] qiaozha commented on #1678
I will take a look.

[2022-11-29 03:15] qiaozha commented on #1678
I just rerun it and it's green now.

[2022-11-29 03:34] #1347 closed

[2022-11-29 03:45] xirzec commented on #1678
You must have the magic touch! I'm not going to complain though 😄

[2022-11-29 03:45] #1678 closed

[2022-11-29 09:59] #1623 closed

[2022-11-29 10:02] MaryGao commented on #1623
Close it as done

[2022-11-30 05:09] #1667 closed

[2022-11-30 07:01] MaryGao commented on #1615
@sebrenna @chrissmiller We have implemented this in the latest codegen - https://www.npmjs.com/package/@autorest/typescript/v/6.0.0-rc.4. Feel free to have a try !

https://github.com/Azure/autorest.typescript/blob/c9bde370dcf8b2ef9caac6aa006121a8076a9d65/packages/cadl-rlc-test/test/anomalyDetector/cadl-output/src/anomalyDetector.ts#L8-L22

[2022-11-30 07:03] MaryGao commented on #1615
Close this issue considering the issue resolved. Feel free to reopen it if necessary!

[2022-11-30 07:03] #1615 closed

[2022-11-30 07:09] MaryGao commented on #1598
Have dependency with existing pr: https://github.com/Azure/autorest.typescript/pull/1586

[2022-11-30 07:34] qiaozha commented on #1449
@xirzec Does this PR https://github.com/Azure/autorest.typescript/pull/1661 fix the issue here ?

[2022-11-30 08:27] qiaozha commented on #1662
depending on issue https://github.com/Azure/cadl-azure/issues/2260

[2022-11-30 08:39] qiaozha commented on #1626
@MaryGao  please close this issue if it's resolved.

[2022-11-30 09:22] #1565 closed