[2020-06-18 00:46] joheredi commented on #656
This issue has been resolved with PR #659

[2020-06-18 00:46] #656 closed

[2020-06-18 00:52] ellismg opened #668 "[v6] Unused import in parameters.ts"
I'm running into an issue where AutoRest is generating an import statement for the mappers modules in some generated code, but the import is unused, which causes `tsc` to complain later.

You should be able to reproduce this by running AutoRest against the `README.md` I have here: https://github.com/ellismg/azure-sdk-for-js/tree/ellismg/autorest-typescript-unneeded-import/sdk/eventgrid/eventgrid/s

[2020-06-18 14:46] btmorr opened #669 "Eslint warning in generated code"
I'm using autorest in a Typescript project with create-react-app. Unfortunately, create-react-app has decided to ignore .eslintrc and .eslintignore files (https://github.com/facebook/create-react-app/issues/2339)

I'm getting the `Useless constructor  @typescript-eslint/no-useless-constructor` warning from a ts file generated by autorest. The recommendation from the create-react-app team (along wi

[2020-06-18 20:12] clecompt-msft commented on #578
We're seeing this issue as well (as of 5.0.2). It seems to occur when you have the following setup:
`(Ancestor without discriminator)->(Parent with discriminator)->(Child)`
The produced mapping then includes `Ancestor.Parent` and `Ancestor.Child` rather than the expected `Parent` and `Parent.Child` (which is what is required for the discriminator to behave correctly).

[2020-06-18 20:40] joheredi commented on #668
Thanks @ellismg for reporting this issue, I have created a PR with a fix

[2020-06-18 20:54] clecompt-msft commented on #578
An interesting point I just discovered - the nodejs generator actually generates the same discriminator mapping, but the resulting library behaves correctly, so it's possible that something changed in the mapper handling in the underlying library (in the switch to `@azure/core-http`) that caused this scenario to stop working.

[2020-06-18 21:03] joheredi commented on #578
@clecompt-msft, @qiaozha we released a new version (5.1.0) that contains a fix for the discriminators. Can you please give it a try and let me know your issues are fixed?

[2020-06-18 22:17] btmorr commented on #669
Ok, a little more information:

If I set the `EXTEND_ESLINT` environment variable when calling `react-scripts start`, and also completely remove the header from the file that is causing the warning, I do not get the warning. I cannot figure out why this is the case, but it compiles without warnings if either there is no header at all, or if the header is exactly:

[code]

The default header did no

[2020-06-18 22:34] ellismg commented on #668
Awesome, Thanks!  I saw that it was merged - do we publish the dev-builds somewhere so that I can start using the newer generator with the fix?

[2020-06-18 22:43] joheredi commented on #668
Yes, we're currently publishing to Github: https://github.com/Azure/autorest.typescript/releases

You can consume the latest PR by updating your readme.md file to point to it, like this

[code]

[2020-06-18 22:56] btmorr commented on #669
I've been working on trying to understand how autorest core works, and have gotten as far as figuring out that this is where the magic strings for license headers are selected: https://github.com/Azure/autorest/blob/master/core/lib/configuration.ts#L539

This includes "NONE" as a possible option, which is very close to what I want, but it generates:

[code]

Which still generates the warning. I wo

[2020-06-18 22:59] clecompt-msft commented on #578
No, I see the same behavior in 5.1.0 as in 5.0.2.

[2020-06-18 23:22] joheredi commented on #669
Hi @btmorr, thanks for your investigation! I agree that we shouldn't be generating an empty license header when NONE is passed.

It looks like the license header is set [here](https://github.com/Azure/autorest.typescript/blob/3f96f3f8e392da9193d4d468bb86663f34df3ad8/src/Program.cs#L120) and then used in several places when generating the files

CodeModelTSa.cs ([here ](https://github.com/Azure/aut

[2020-06-18 23:25] ellismg commented on #668
Confirmed fixed with the latest version!  Thanks, @joheredi!

[2020-06-18 23:25] #668 closed

[2020-06-18 23:53] btmorr commented on #669
Thanks! I'll fork off of `v4x` and work on a PR. My swagger spec is here: https://github.com/btmorr/leifdb/blob/use-autorest/docs/swagger.json

That version is on a feature branch, and has a small modification off of the base branch. The one on the feature branch is the one I expect to go with once that branch is merged. The base branch link is here: https://github.com/btmorr/leifdb/blob/edge/docs

[2020-06-18 23:55] btmorr commented on #669
It's a really simple application (K-V store with the most basic CRUD operations) from the user standpoint. The more complex messaging for distributed consensus is done using protobuf, so the public API ends up only having very simple endpoints.

[2020-06-18 23:56] btmorr commented on #669
This is the file that is generating the warning: https://github.com/btmorr/leifdb/blob/use-autorest/ui/src/leifDbClientAPI.ts

[2020-06-19 00:36] joheredi commented on #578
It looks like the fix only went into `v4x`. I've created PR #671 to port the fix to master.

[2020-06-19 01:05] #578 closed

[2020-06-19 03:37] btmorr commented on #669
I put up a draft PR, and have some questions on there about how to invoke my development version of the typescript plugin, and how (if needed) to modify the test suite. Thanks in advance for the help (I've not written C# before, so I'm unfamiliar with a lot of the tooling).

[2020-06-19 03:39] btmorr commented on #669
I also added a couple of statements to the readme, but I'm happy to reword or remove if they're not helpful or accurate.

[2020-06-19 14:06] btmorr commented on #669
(added comments to the PR, figured out answers to most of my questions)

[2020-06-20 00:43] TylerLeonhardt opened #673 "NotImplementedError: Unexpected scenario where a(n) OpenBraceToken was not found."
I tried using the latest build today. It looks like generation isn't quite there yet for v3.

The YAML I used is here: https://github.com/TylerLeonhardt/AutoRest-PowerShell-Nodejs-Demo/blob/master/FDIC/fdic.yaml
The original YAML is here: https://banks.data.fdic.gov/docs/swagger.yaml

[code]

For now, I'll continue using the node.js generator.

[2020-06-23 05:24] joheredi commented on #669
@btmorr your PR has been merged thanks for your contribution!
Closing this issue

[2020-06-23 05:24] #669 closed

[2020-06-23 05:44] joheredi commented on #655
@Kingwl can you try using the flag `--enum-types=true` ? Does that generate the enum in the form you expect?

[2020-06-23 05:44] #623 closed

[2020-06-23 06:42] Kingwl commented on #655
@joheredi Actually I'm always run with `enum-types=true`. And if the type is the string, Every thing is ok.

[2020-06-23 20:12] joheredi commented on #673
@TylerLeonhardt thanks for reporting this issue. I'm currently investigating and will report back as soon as I get more information.

[2020-06-23 21:11] joheredi commented on #673
@TylerLeonhardt I have merged a fix for the issue you reported. Would you mind trying to generate again using version `6.0.0-dev.20200623.1`

[2020-06-23 23:32] TylerLeonhardt commented on #673
@joheredi it looks like it generates but now it requires some kind of credential object?:

[code]

This API doesn't have any such token/credential (AFAIK)

[2020-06-24 07:14] joheredi commented on #673
If you use the flag `--add-credentials=false` it should remove the credentials parameter

[2020-06-24 19:15] TylerLeonhardt commented on #673
Something's still not right...

[code]

Now create a ts file here
[code]

and here's my package.json:
[code]

Using the nodejs generator, I got output from my TS file. Using the typescript generator, I do not get any.

[2020-06-24 19:45] joheredi commented on #673
@TylerLeonhardt is the problem you're describing that your `console.log`

[code]

is logging `undefined`? If so, would you mind trying the following when creating FdicBankDataAPIBeta:

[code]

I see that `https://banks.data.fdic.gov/api/` is defined in the yaml so I need to investigate why it is not picking it up. But meanwhile it would be helpful if you can help me confirm if this gets you the ex

[2020-06-24 20:16] TylerLeonhardt commented on #673
[code]

This worked!

Also the `any` parameter goes away when I do that yes:
[code]

bit I still need to specify that endpoint in the ctor for it to actually work.

[2020-06-24 20:55] joheredi commented on #673
@TylerLeonhardt thanks for reporting these issues. I'm investigating why the server url in the `swagger` is not being correctly used. The problem seems to be in `@azure/core-http`. I have filed an issue in its repo to track this Azure/azure-sdk-for-js/issues/9700

I'm going to close this issue as the original problem has been resolved, however feel free to follow the linked Issue, once that one is

[2020-06-25 21:45] joheredi commented on #673
@TylerLeonhardt I have merged a fix which should remove the necessity to pass `endpoint` to the constructor. The build is `6.0.0-dev.20200625.1` please give it a try

[2020-06-25 21:45] #673 closed

[2020-06-25 21:51] TylerLeonhardt commented on #673
Looks like it works :) thanks!

[2020-06-25 21:53] TylerLeonhardt commented on #673
btw this is related:
https://github.com/Azure/autorest/issues/35135

[2020-06-30 23:23] #563 closed

[2020-06-30 23:23] #556 closed

[2020-07-01 23:39] ramya-rao-a opened #677 "[v4][v5][v6] Update the default copyright text"
From https://github.com/Azure/azure-sdk-for-js/issues/3837, lets update the `MICROSOFT_MIT_NO_VERSION` to produce

[code]

instead of

[code]

[2020-07-07 17:10] joheredi commented on #677
This has been fixed in autorest.common

[2020-07-07 17:10] #677 closed

[2020-07-07 17:14] joheredi commented on #651
This has been merged. Thanks @chradek !!!

[2020-07-07 17:16] joheredi commented on #613
We should probably use @azure/core-client

[2020-07-07 17:17] joheredi commented on #612
Support for this was added by PR#614

[2020-07-07 17:17] #612 closed

[2020-07-07 17:29] joheredi commented on #597
This seems to an issue with how `ms-rest-js` and possibly `core-http` handle 429 retires. Quoting comment with details form  Azure/azure-sdk-for-js/issues/7989

I have filed Azure/ms-rest-js/issues/394, and closing this one. Please feel free to re-open if you think we should handle this somehow in the generator

[2020-07-07 17:29] #597 closed

[2020-07-07 17:32] joheredi commented on #590
Fixed with PR#605

[2020-07-07 17:32] #590 closed

[2020-07-07 17:35] joheredi commented on #583
Closing since this is no actionable at the moment. If you are still facing this issue, please re-open and share your Swagger if possible so that we can investigate further.

[2020-07-07 17:35] #583 closed

[2020-07-07 17:37] joheredi commented on #569
Closing since this is not actionable at the moment. If you're still facing the issue, please re-open the issue and if possible, please share some code samples of what's not working correctly with the generated code.

[2020-07-07 17:37] #569 closed

[2020-07-07 17:38] joheredi commented on #560
We've moved to the pattern already

[2020-07-07 17:38] #560 closed

[2020-07-07 17:39] #558 closed

[2020-07-07 17:43] #538 closed

[2020-07-07 17:45] joheredi commented on #532
Keeping this open to make sure it is considering when releasing v6

[2020-07-07 17:48] #523 closed

[2020-07-07 17:50] #518 closed

[2020-07-07 17:52] #516 closed

[2020-07-07 17:54] #514 closed

[2020-07-07 17:55] #512 closed

[2020-07-07 18:07] joheredi opened #679 "[v6] Support formdata"
We have 1 test swaggers that needs Form data support:

-  body-formdata.json

[2020-07-07 18:09] #499 closed

[2020-07-07 18:09] joheredi commented on #489
This is already in place

[2020-07-07 18:09] #489 closed

[2020-07-07 18:13] joheredi opened #680 "[v6] Support x-ms-nullable"
Nullable schemas type should be generated as as union with null i.e. `nullableNumber: number | null`

[2020-07-07 18:21] joheredi opened #681 "[v6] Integrate with @azure/core-https ( Phase 1 )"
As part of a phased migration from to @azure/core-https we need to integrate with @azure/core-client this integration should be non-disruptive since most of the functionality has been just ported over from @azure/core-http to these 2 libraries.

We may want to add a flag to be able to switch between @azure/core-http and @azure/core-https

[2020-07-07 18:39] joheredi opened #682 "[v6] Fix polymorphic discriminator parent resolution"
Related to #578

**Detailed description**

In short the problem seems to be in the way we currently figure out the `uberParent` when building the `discriminators` object, which is used by `core-http` to select the mapper to use for serialization.

This `discriminators` object is a dictionary with key `{uberParent}.{discriminatorValue}` and a Mapper  as a value. When dealing with an operation `core

[2020-07-07 18:43] joheredi opened #683 "[v6] Cyclical dependency Client -> Operations -> Client"
Example:
 **pagingClient.ts**
![image](https://user-images.githubusercontent.com/21109913/86827402-cd21a780-c046-11ea-835a-60add7a48145.png)

**operations/paging.ts**
![image](https://user-images.githubusercontent.com/21109913/86827541-f5a9a180-c046-11ea-81da-c24d8a58100b.png)

[2020-07-07 18:44] joheredi opened #684 "[v6] Convert namespace imports to named imports"
Avoid generating `import * from "____"` and use named imports as much as possible. This will help integrating with ApiExtractor

[2020-07-07 18:45] joheredi opened #685 "[Epic] @autorest/typescript preview"
- [ ] **Priority 1 bugs**
      #687 [v6] Fix mapper generation ordering issue
      #686 [v6] Response header property descriptions are not being generated
      #682 [v6] Fix polymorphic discriminator parent resolution
      #683 [v6] Cyclical dependency Client -> Operations -> Client
      #684 [v6] Convert namespace imports to named imports
      #648 [v6] Paging - Flatten response when nextLi

[2020-07-07 19:05] joheredi opened #686 "[v6] Response header property descriptions are not being generated"
Also x-ms-client-name doesn't seem to be honored.

Example:
https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/data-plane/Microsoft.Tables/preview/2019-02-02/table.json

![image](https://user-images.githubusercontent.com/21109913/86830808-fba18180-c04a-11ea-8e60-2931f9f4536f.png)

[2020-07-07 19:45] ramya-rao-a commented on #597
@joheredi Wouldnt we need the same issue logged for core-http as well?

[2020-07-07 19:54] joheredi opened #687 "[v6] Fix mapper generation ordering issue"
The latest version of ModelerFour changed the order of some of the objects, this causes Typescript Generator to sometimes generate a child type before a parent, causing a Typescript error because of referencing a type not yet defined. There are 2 approaches to fix this

1. Break down the `mappers.ts` file so that each mapper has its own file
   - Good because it doesn't run into problems with cycl

[2020-07-07 21:09] joheredi opened #688 "[v6] Integrate ApiExtractor"
Add a flag to the generator to integrate APIExtractor.

This will probably require #684 to be fixed

[2020-07-08 00:24] joheredi commented on #686
Turns out this is an issue in M4 and Azure/autorest.modelerfour/pull/318 will fix this

[2020-07-08 19:46] joheredi commented on #597
Yes, filed Azure/azure-sdk-for-js/issues/9966

[2020-07-10 18:40] #687 closed

[2020-07-13 21:30] joheredi opened #692 "[v6] Separate Xml serializer and fix optional grouped parameters"
2 issues surfaced when working with Tables Swagger

If an operation group contains both XML and non-XML operations, a serializer is instantiated with isXml parameter true. This confuses our serialization/deserialization when handling a non-XML operation spec. Fix: Create an additional xmlSerializer to use with Xml operationSpecs

optional grouped parameters need to have "options" part in the Param

[2020-07-14 20:13] joheredi commented on #613
We can use this package https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/core/core-client

[2020-07-14 23:05] #692 closed

[2020-07-15 20:55] sarangan12 commented on #555
code completed and merged

[2020-07-15 20:55] #555 closed

[2020-07-15 23:17] #686 closed

[2020-07-17 23:25] #509 closed

[2020-07-22 11:52] AlbertoSadoc opened #696 "Default value for parameter of type Uuid renders unquoted and provokes tsc to fail."
## Summary

When the schema has an operation with a parameter of type `string` and format `uuid` and also includes a default value, this is rendered unquoted in the generated ts file, therefore tsc fails to compile the file.

Autorest: v3.0.6187

## How to reproduce

Using this schema:

[code]

this is the result:

[code]

expected (note the quoting):

[code]

I think in here is assumed that the `

[2020-07-22 18:35] joheredi opened #697 "[v4/v5/v6] Add "Accept" header when generating operations"
We have had a few issues caused by not setting the "Accept" header on our requests. As a fix scoped to generated code, we can add this as part of the OperationOptions under customHeaders when calling `sendOperationRequest` we can have this functionality behind a commandline flag to have more control

[2020-07-22 18:51] joheredi opened #698 "[v6] Add "accept" to operationSpec"
Once Azure/azure-sdk-for-js/issues/10141 is completed, we need to add "Accept" to the generated operation specs, the value should be picked up from the `produces` property of the Swagger and its operations

[2020-07-22 19:03] ramya-rao-a opened #699 "[v4] Code sample generated in the Readme file should be in JavaScript"
Currently, the code sample generated in the readme file of a generated package is in TypeScript.

To help with copy -> paste -> run code workflow, it is much easier to have the same in JavaScript than TypeScript.

There is a higher probability of TypeScript users knowing JavaScript than the other way around.

Changes would be
- Update the import statements
- Remove all "types"

[2020-07-22 19:04] ramya-rao-a commented on #699
cc @joheredi, @sarangan12

[2020-07-22 23:46] joheredi commented on #651
Reopening as we still need to support bodyFile

[2020-07-23 05:08] dw511214992 opened #700 "The generated readme.md is wrong in creating client"
On line number 37 the second parameter for `AzureReservationAPI` is of type `AzureReservationAPIModels.AzureReservationAPIOptions` and not a subscriptionId string. Thus either variable type should be updated or we can remove it as it’s an optional field. The same needs to be updated for the html code in README.md file.
![image](https://user-images.githubusercontent.com/40835867/88253734-95249080-c

[2020-07-23 21:11] joheredi commented on #696
@AlbertoSadoc thanks for reporting this issue. I have created a PR to address this in our latest version of the generator. I'll provide instructions on how to use it once the PR is merged.

[2020-07-23 21:15] joheredi commented on #699
I think this makes sense. @ramya-rao-a is this something we'd like fixed for v4, v5 and v6 or only v6?

[2020-07-23 23:25] joheredi commented on #698
Azure/autorest.modelerfour/issues/324 is an alternate and likely more reliable way to fix this issue. I'll keep this one open for tacking purposes

[2020-07-24 02:00] joheredi commented on #696
@AlbertoSadoc the fix has been merged. Can you please try using the following flags with autorest

[code]

[2020-07-24 03:15] ramya-rao-a commented on #699
Definitely v6

Not really for v5, because it is not really officially used by anyone. And those who use it do not rely on the generated sample.

Yes for v4 if it is trivial to do so. This will help all the Track 1 packages in the azure-sdk-for-js repo

[2020-07-24 03:18] joheredi commented on #699
Thanks @ramya-rao-a fixing this in v4 shouldn't be very complex. We can use this issue to track the work in v4 and #594 for v6

[2020-07-24 08:53] AlbertoSadoc commented on #696
@joheredi I have tested and it now generates the expected result. Thank you 👍

[2020-07-24 20:10] joheredi opened #702 "[v6] Rename options.endpoint to options.baseUrl in generated ClientContext"
For consistency.

Investigate if this is still required. Are there any scenarios that can't be accomplished by parametrized host?

[2020-07-24 21:12] joheredi opened #703 "[v6] Make Client a sufix when generating the Client and ClientContext files"
Currently Client and ClientContext files are generated in the following form

`{Name}` and `{Name}Context` we should include Client in the suffix so that the name of the library doesn't have to contain the word Client `{Name}Client` and `{Name}ClientContext`

[2020-07-24 21:24] lmazuel opened #704 "Add support for x-ms-text"
Spec: https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-text
Test: https://github.com/Azure/autorest.testserver/pull/207/files

[2020-07-28 08:38] dw511214992 commented on #700
Is there any update on it?

[2020-07-29 08:01] fgreinacher opened #847 "Ignore TLS issues in TS/JS client?"
Hey there 👋 Is it possible to configure the generated TS/JS client so that TLS issues are ignored? Similar to passing `rejectUnauthorized: false` to `https.request`/`fetch`.

[2020-07-30 16:48] joheredi commented on #699
For reference, this is a PR with manual changes to generated samples: Azure/azure-sdk-for-js/pull/10356

[2020-07-31 07:40] dw511214992 commented on #700
Thank you @joheredi
I have fixed it manually in my pull request.

[2020-08-03 22:06] daviwil commented on #702
@zolvarga ran into this issue when he started generating Digital Twins SDK after using `options.baseUrl` to set the service endpoint:

https://github.com/zolvarga/azure-sdk-for-js/commit/7e5e80f17ffb1be39319ed36fcc4fe2546f421d8#diff-671eed20263af916a3fbe4c71b3bde33L43

Technically this can/will be a breaking change for those upgrading to the v6 generator.

[2020-08-05 18:26] sarangan12 commented on #519
Code complete

[2020-08-05 18:26] #519 closed

[2020-08-05 23:03] anganti opened #708 "Duplicate operations being created for logic app connector swaggers (Note applying transforms)"
@daviwil

Duplicate operations being created for logic app connector swaggers. This is true for both TypeScript and CSharp

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/42851022/89472487-6ec71200-d735-11ea-8ee7-2bb6be19a488.png)

See attached for swagger spec and generated code (CSharp and TS)
[dropbox-connector.zip](https://github.com/Azure/autorest.typescript/files/50316

[2020-08-06 06:30] anganti commented on #708
@daviwil This fixed the issue for now. Need to do some more validation.
https://github.com/Azure/autorest/issues/964#issuecomment-302719023

[code]

[2020-08-06 18:18] joheredi opened #709 "[v6] Stop generating unused xmlSerializer"
Tables swagger runs into an issue where an xmlSerializer is created but never used. We may need to check the current operationGroup instead of the whole list of operations before deciding which serializers to create

[code]

[2020-08-12 22:01] joheredi opened #715 "[v6] Add string union to ExtensibleEnums"
ChoiceSchema should be generated similarly to SealedChoiceSchema with an additional string union

[code]

[2020-08-25 23:02] #715 closed

[2020-08-25 23:16] joheredi opened #718 "[v6] Better support for x-ms-enum"
`x-ms-enum` allows to provide a different name to an enum value. For example:

[code]

In Typescript we are choosing to represent enums with string literal unions instead of enums, as it is more idiomatic and has been recommended by @bterlson

Since we want to represent enums as string literal unions `type FooEnum = "Foo" | "Bar" | "Test"` we'll need a way to map the exposed string with the string

[2020-08-28 15:58] #697 closed

[2020-08-28 15:58] #684 closed

[2020-08-28 16:00] #696 closed

[2020-09-04 03:11] ramya-rao-a opened #721 "[v4] Update readme with link to ms-rest-nodeauth and a note on other login options"
The readme of the packages generated using the code generator have the below information around authentication
- Installation instruction for the ms-rest-nodeauth package: `npm install @azure/ms-rest-nodauth`
- Code snippet that shows how to use the `interactiveLogin()` method in the `ms-rest-nodeauth` package

What is missing here is information on the other options for login leading one to belie

[2020-09-04 03:14] ramya-rao-a commented on #721
cc @joheredi, @sarangan12, @deyaaeldeen

[2020-09-08 14:42] deyaaeldeen commented on #721
I did some investigation and found that the old version of the code generator creates this section in the README.md file [here](https://github.com/deyaaeldeen/autorest.typescript/blob/master/src/vanilla/Model/CodeModelTS.cs#L1068). However, the new version of the code generator (v6) does something different, does not inline instructions about authentication nor shows a sample. Instead it links to

[2020-09-08 17:49] ramya-rao-a commented on #721
@deyaaeldeen The entire set of management libraries (the ones whose name start with `@azure/arm-`) are on v4 of the code generator. There are no current plans, atleast for this year, to upgrade them to use v6 which introduces new dependencies for auth.

Therefore, for the time being, it is still beneficial for the v4 code generator to update the readme with the above content.

[2020-09-08 17:57] sarangan12 commented on #721
I will update the v6 code generator today, @deyaaeldeen If you prefer you can take the v4 generator. Else, I will be happy to change the v4 gen also.

[2020-09-08 18:09] deyaaeldeen commented on #721
@ramya-rao-a Thanks for the clarification!

@sarangan12 Sounds good!

[2020-09-15 10:28] cyptus commented on #468
got the same issue. any process here?

[2020-09-15 14:18] cyptus opened #732 "[Bug] mappers are missing extension data from model"
the code model schema data could contain custom extension data on properties which are currently not accessable by generated typescript code.
custom extensions are described by `OpenAPI` specification to follow syntax `x-*` (https://swagger.io/specification/#specification-extensions)

example api defintion:
[code]

does generate the following property in `code-model-v1`:
[code]

and the following

[2020-09-17 18:18] sarangan12 opened #735 "[v6] Support formdata - URL Encoded"
We have 1 test swaggers that needs Form data support:

body-formdata-urlencoded.json

[2020-09-17 19:31] sarangan12 commented on #679
I am splitting the urlencoded forms to a separate issue as there are some open questions around it. Code has been merged for body formdata json. Closing this issue.

[2020-09-17 19:31] #679 closed

[2020-09-22 18:16] #721 closed

[2020-09-22 18:16] #699 closed

[2020-10-05 19:37] nguerrera opened #736 "[v6] Error generating from latest schema registry swagger: duplicate object schemas"
I'm trying to update schema-registry generated code for TypeScript

Given this configuration:
[code]

I get:
[code]

I am not sure if this is an issue with the swagger authoring (cc @arerlend)  or with the generator (cc @joheredi).

[2020-10-05 23:38] joheredi commented on #736
Hi @nguerrera, thanks for reporting. I'll take a look and get back to you when I find more info

[2020-10-05 23:44] joheredi opened #737 "[v6] Autorest should use version from package.json"
Ported from https://github.com/Azure/azure-sdk-for-js/issues/11590

See https://github.com/Azure/azure-sdk-for-js/pull/10890#discussion_r482319283

Filing this as follow-up as requested.

### Repro steps
* clone this repo
* `npm install -g autorest`
* Change the version in `sdk/textanalytics/ai-text-analytics/package.json`
* Run `autorest` in `sdk/textanalytics/ai-text-analytics/swagger`

### Expe

[2020-10-06 02:00] nguerrera commented on #736
Thanks. I was able to work around this with a transform that removed the enums I don’t need so I’m not blocked.

[2020-10-08 00:07] joheredi opened #738 "[v6] Should avoid name collisions"
For example [this](https://github.com/Azure/azure-sdk-for-js/blob/a3f90de4dcc0bf9a8b7f4869914410552820fb0f/sdk/api-learn/design-activity/swagger/computation.json#L109) swagger would produce a name collision in operation group and top-level operation. Both called `computation`.

We should generate non colliding names, at the bare minimum `computation` and `computation1` or throw an error indicating

[2020-10-08 16:26] joheredi commented on #524
@lmazuel there seems to be not test in the test server for these swaggers. Should we keep supporting this extension?

Looking at the [extension documentation](https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-azure-resource) it looks like it is expected to extend the described model with some common properties for a resource. Is my understanding correct?

If my understan

[2020-10-08 17:22] daviwil commented on #738
Is this a TypeScript generator issue or is something that modelerfour should handle?  I don't think that generators should have to deal with this unless there are language-specific naming conventions that cause further collisions.

[2020-10-08 18:03] joheredi commented on #510
We should look into @willmtemple's suggestion for representing extensible enums, here's a sample he shared:

[code]

[2020-10-08 18:10] joheredi commented on #508
Composite swaggers no longer exist

[2020-10-08 18:10] #508 closed

[2020-10-08 18:48] joheredi opened #739 "[v6] A nullable string header is never parsed to null"
When a string header response property is marked as nullable, and the service sends back a null. The value is deserialized as a string `"null"` instead of the actual null value.

This seems to be the same thing other languages are doing, should we deserialize "null" to `null`?  Null may be an actual string and client may run into issues?

If we decide to deserialize it to null, we'll need a change

[2020-10-08 19:21] joheredi commented on #478
In the new version of the generator, the discriminator property is a string literal union, which provides intelisense on the possible values.

![image](https://user-images.githubusercontent.com/21109913/95503736-9a968c00-0960-11eb-999f-20c573f9be3a.png)

@williexu I hope this is reasonable, please let us know if you have any other suggestions

[2020-10-08 19:21] #478 closed

[2020-10-08 19:22] joheredi commented on #32
This should be tracked in the azure-sdk-for-js repo

[2020-10-08 19:22] #32 closed

[2020-10-08 19:24] joheredi commented on #594
We should consider looking into https://github.com/Azure/autorest.typescript/issues/455 when working on the samples for v6

[2020-10-08 19:25] #455 closed

[2020-10-08 19:34] joheredi commented on #110
This is also related to https://github.com/Azure/autorest.typescript/issues/737

[2020-10-08 19:40] #197 closed

[2020-10-08 19:42] joheredi commented on #256
Extensive browser testing should be done for each specific client, having chrome coverage should be enough for the generator

[2020-10-08 19:42] #256 closed

[2020-10-08 20:19] joheredi commented on #261
This wouldn't provide much benefit Typescript wouldn't enforce the constraint at runtime. For example

[code]

Wouldn't give any errors and may cause confusion since the type definition is not in sync with the actual thing

[2020-10-08 20:19] #261 closed

[2020-10-08 20:22] joheredi commented on #456
This has been fixed in ms-rest-js and core-http:

https://github.com/Azure/azure-sdk-for-js/pull/8377

[2020-10-08 20:22] #456 closed

[2020-10-08 20:23] joheredi commented on #285
This is already handled by the v6 generator

[2020-10-08 20:23] #285 closed

[2020-10-08 20:27] joheredi commented on #291
We could improve the message in v6 to `Class containing <OperationGroupName> operations`

[2020-10-08 20:31] joheredi commented on #296
Readme improvement in v6 is tracked by https://github.com/Azure/autorest.typescript/issues/594

[2020-10-08 20:31] #296 closed

[2020-10-08 20:35] joheredi commented on #297
This is fixed in v6

[2020-10-08 20:35] #297 closed

[2020-10-08 20:38] joheredi commented on #298
This is already handled in v6

[2020-10-08 20:38] #298 closed

[2020-10-08 20:40] joheredi commented on #307
We're respecting the order in which the operations are defined in the swagger, we'll keep it this way for v6. Feel free to reopen if there is a scenario where alphabetical ordering is required.

[2020-10-08 20:40] #307 closed

[2020-10-08 20:42] joheredi commented on #308
We're respecting the order in which the properties are defined in the swagger, we'll keep it this way for v6. Feel free to reopen if there is a scenario where alphabetical ordering is required.

[2020-10-08 20:42] #308 closed

[2020-10-08 20:42] joheredi commented on #309
We're respecting the order in which the models are defined in the swagger, we'll keep it this way for v6. Feel free to reopen if there is a scenario where alphabetical ordering is required.

[2020-10-08 20:42] #309 closed

[2020-10-08 20:51] joheredi commented on #738
That's a good question, let me debug and see if this is language specific. There are other examples of collisions for example, an operation named client would collide with the private client property in the operation group class, however this instance is TS generator specific

[2020-10-08 20:52] joheredi commented on #310
This would still be an issue in v6, tracking the work to fix this with other collisions https://github.com/Azure/autorest.typescript/issues/310

[2020-10-08 20:52] #310 closed

[2020-10-08 21:01] joheredi commented on #311
This seems to be an issue in M4 impacting v6. Filed https://github.com/Azure/autorest.modelerfour/issues/357

[2020-10-08 21:01] #311 closed

[2020-10-08 22:38] joheredi opened #741 "Add test for MediaTypes.contentTypeWithEncoding"
MediaTypes.contentTypeWithEncoding, there seems to be a problem where the [Swagger defines the content-type](https://github.com/Azure/autorest.testserver/blob/c412c2e5dbee0404558e1a7d1cd7bf7a4a3475d6/swagger/media_types.json#L47) as `text/plain` however the [test server](https://github.com/Azure/autorest.testserver/blob/c412c2e5dbee0404558e1a7d1cd7bf7a4a3475d6/legacy/routes/mediatypes.js#L32) look

[2020-10-08 22:47] joheredi commented on #718
We also have an issue with non-string extensible enums in which we currently add an `| string` to the type

![image](https://user-images.githubusercontent.com/21109913/95521094-962c9c00-097d-11eb-9d24-fec257d2712a.png)

[2020-10-08 23:15] joheredi opened #742 "Mappers for Non-string enum parameters are generated as String mappers"
[This definition ](https://github.com/Azure/autorest.testserver/blob/c412c2e5dbee0404558e1a7d1cd7bf7a4a3475d6/swagger/non-string-enum.json#L98)in this swagger generates an incorrect mapper. The type should be `Number` not `String`

**Acrual**
[code]

**Expected**
[code]

There is another issue related where the model is generated as

[code]

where it should be at the very least

[code]

[2020-10-09 00:12] joheredi opened #743 "Missing Header test server scenarios"
- [x] [`HeaderResponseStringNull`](https://github.com/Azure/autorest.testserver/search?q=HeaderResponseStringNull)

[2020-10-09 00:14] joheredi opened #744 "Missing coverage for httpResponses test server scenarios"
- [x] [`HttpRedirect301Put`](https://github.com/Azure/autorest.testserver/search?q=HttpRedirect301Put)
- [x] [`HttpRedirect302Patch`](https://github.com/Azure/autorest.testserver/search?q=HttpRedirect302Patch)

**Note:** both scenarios are blocked by https://github.com/Azure/azure-sdk-for-js/issues/10103

[2020-10-09 00:18] joheredi opened #745 "Add test coverage for Non-string-enums test server scenarios"
- [ ] [`NonStringEnumsGetFloat`](https://github.com/Azure/autorest.testserver/search?q=NonStringEnumsGetFloat)
- [ ] [`NonStringEnumsGetInt`](https://github.com/Azure/autorest.testserver/search?q=NonStringEnumsGetInt)
- [ ] [`NonStringEnumsPostFloat`](https://github.com/Azure/autorest.testserver/search?q=NonStringEnumsPostFloat)
- [ ] [`NonStringEnumsPostInt`](https://github.com/Azure/autorest.tes

[2020-10-09 00:19] joheredi opened #746 "Add test coverage for object-type test server scenario"
[Swagger](https://github.com/Azure/autorest.testserver/blob/master/swagger/object-type.json)

- [ ] [`ObjectTypeErrorResponse`](https://github.com/Azure/autorest.testserver/search?q=ObjectTypeErrorResponse)
- [ ] [`ObjectTypePut`](https://github.com/Azure/autorest.testserver/search?q=ObjectTypePut)
- [ ] [`ObjectTypeResponse`](https://github.com/Azure/autorest.testserver/search?q=ObjectTypeRespons

[2020-10-09 00:22] joheredi opened #747 "Add test coverage for required-optional test server scenarios"
[Swagger](https://github.com/Azure/autorest.testserver/blob/ee473a350ebd680a728acda7d3bbd4334e9826a0/swagger/required-optional.json)
- [x] [`OptionalArrayHeader`](https://github.com/Azure/autorest.testserver/search?q=OptionalArrayHeader)
- [x] [`OptionalArrayParameter`](https://github.com/Azure/autorest.testserver/search?q=OptionalArrayParameter)
- [x] [`OptionalArrayProperty`](https://github.com/

[2020-10-09 00:31] joheredi opened #748 "Add coverage for missing URL test server scenarios"
[Swagger](https://github.com/Azure/autorest.testserver/blob/ee473a350ebd680a728acda7d3bbd4334e9826a0/swagger/url.json)

**Missing Scenarios**
- [x] [`UrlPathsStringUnicode`](https://github.com/Azure/autorest.testserver/search?q=UrlPathsStringUnicode)
- [x] [`UrlPathsStringUrlEncoded`](https://github.com/Azure/autorest.testserver/search?q=UrlPathsStringUrlEncoded)
- [x] [`UrlPathsStringUrlNonEncode

[2020-10-09 00:33] joheredi opened #749 "Add coverage for missing xms-error-responses test server scenarios"
[Swagger](https://github.com/Azure/autorest.testserver/blob/ee473a350ebd680a728acda7d3bbd4334e9826a0/swagger/xms-error-responses.json)
- [ ] [`animalNotFoundError`](https://github.com/Azure/autorest.testserver/search?q=animalNotFoundError)
- [ ] [`expectedNoErrors`](https://github.com/Azure/autorest.testserver/search?q=expectedNoErrors)
- [ ] [`expectedPetHungryError`](https://github.com/Azure/aut

[2020-10-09 00:34] joheredi opened #750 "Add coverage for missing body-array test server scenarios"
[Swagger](https://github.com/Azure/autorest.testserver/blob/ee473a350ebd680a728acda7d3bbd4334e9826a0/swagger/body-array.json)
- [x] [`getArrayComplexValid`](https://github.com/Azure/autorest.testserver/search?q=getArrayComplexValid)
- [x] [`getArrayDateTimeWithInvalidChars`](https://github.com/Azure/autorest.testserver/search?q=getArrayDateTimeWithInvalidChars)
- [x] [`getArrayDateTimeWithNull`](h

[2020-10-09 00:36] joheredi opened #751 "Add coverage for missing date-time test server scenarios"
[Swagger](https://github.com/Azure/autorest.testserver/blob/ee473a350ebd680a728acda7d3bbd4334e9826a0/swagger/body-datetime.json)
- [ ] [`getDateTimeMinLocalNoOffset`](https://github.com/Azure/autorest.testserver/search?q=getDateTimeMinLocalNoOffset)

[2020-10-09 00:37] joheredi opened #752 "Add coverage for missing body-dictionary test server scenarios"
[Swagger](https://github.com/Azure/autorest.testserver/blob/ee473a350ebd680a728acda7d3bbd4334e9826a0/swagger/body-dictionary.json)
- [ ] [`getDictionaryArrayEmpty`](https://github.com/Azure/autorest.testserver/search?q=getDictionaryArrayEmpty)
- [ ] [`getDictionaryArrayItemNull`](https://github.com/Azure/autorest.testserver/search?q=getDictionaryArrayItemNull)
- [ ] [`getDictionaryArrayValid`](htt

[2020-10-09 00:38] joheredi opened #753 "Add coverage for missing xml-service test server scenarios"
[Swagger](https://github.com/Azure/autorest.testserver/blob/ee473a350ebd680a728acda7d3bbd4334e9826a0/swagger/xml-service.json)
- [ ] [`jsonInputInXMLSwagger`](https://github.com/Azure/autorest.testserver/search?q=jsonInputInXMLSwagger)
- [ ] [`jsonOutputInXMLSwagger`](https://github.com/Azure/autorest.testserver/search?q=jsonOutputInXMLSwagger)

[2020-10-09 00:39] joheredi opened #754 "Add coverage for missing model-flatten test server scenarios"
[Swagger](https://github.com/Azure/autorest.testserver/blob/ee473a350ebd680a728acda7d3bbd4334e9826a0/swagger/model-flattening.json)
- [ ] [`putModelFlattenCustomGroupedParameter`](https://github.com/Azure/autorest.testserver/search?q=putModelFlattenCustomGroupedParameter)

[2020-10-09 01:01] joheredi commented on #313
This seems to be fixed in v6 here's the output

[code]

[2020-10-09 01:01] #313 closed

[2020-10-09 01:02] joheredi commented on #320
This work is out of the scope of v6

[2020-10-09 01:02] #320 closed

[2020-10-09 01:03] #327 closed

[2020-10-09 01:03] joheredi commented on #327
This is out of the scope for v6

[2020-10-09 01:04] joheredi commented on #328
Seems to have been addressed by https://github.com/Azure/autorest.typescript/pull/344

[2020-10-09 01:04] #328 closed

[2020-10-09 01:06] joheredi commented on #348
We may want to explore this at some point as right now LRO is mostly supported for ARM. When working on this, we should push for a well defined common spec for LROs

[2020-10-09 01:07] joheredi commented on #350
This should be resolved in v6

[2020-10-09 01:07] #350 closed

[2020-10-09 01:08] joheredi commented on #358
We should choose which eslint rules we'd like to add to the new version of the generator. The one described above sounds reasonable

[2020-10-09 01:09] joheredi commented on #363
This is already in place for v6

[2020-10-09 01:09] #363 closed

[2020-10-09 01:11] joheredi commented on #369
Consolidating README related issues in https://github.com/Azure/autorest.typescript/issues/594

[2020-10-09 01:11] #369 closed

[2020-10-09 01:13] joheredi commented on #398
We may want to add this step in the pre-pack step

[2020-10-09 01:23] joheredi commented on #392
Closing as there hasn't been any activity in this issue for a long time

[2020-10-09 01:23] #392 closed

[2020-10-09 01:28] joheredi commented on #453
This is a great idea, however I think that this should be something that needs to live in the repository in which the generator code would live. For exmaple `azure-sdk-for-js` where we get a sample test kickstarted using the tools and frameworks preferred there. If we bring that into this project, we'd be getting opinionated in external tools and frameworks.

I think there are plans to have some s

[2020-10-09 01:28] #453 closed

[2020-10-09 01:31] joheredi commented on #700
Consolidating README work in https://github.com/Azure/autorest.typescript/issues/700

[2020-10-09 01:31] #700 closed

[2020-10-09 01:36] joheredi commented on #382
This issue seems to be resolved in the new version of the generator

[2020-10-09 01:36] #382 closed

[2020-10-09 01:39] joheredi commented on #383
We need to verify if v6 also presents this issue

[2020-10-09 01:42] joheredi commented on #384
This issue may be fixed with the new generator. @xuke444 would you mind generating your swagger with the new version and letting me know if it solves the problem?

[Using the new generator](https://github.com/Azure/autorest.typescript/wiki/Generating-with-autorest-for-Typescript-v6)

[2020-10-09 01:46] joheredi commented on #454
V6 exposes apiversion in the ClientContext

[2020-10-09 01:46] #454 closed

[2020-10-09 01:47] joheredi commented on #407
Seems duplicate of https://github.com/Azure/autorest.typescript/issues/454

[2020-10-09 01:47] #407 closed

[2020-10-09 01:47] joheredi commented on #408
This should be fixed in the v6

[2020-10-09 01:47] #408 closed

[2020-10-09 01:48] joheredi commented on #411
We're tracking this work for the new generator with https://github.com/Azure/autorest.typescript/issues/680

[2020-10-09 01:48] #411 closed

[2020-10-09 06:18] cyptus commented on #732
@joheredi is this going to be addressed?

[2020-10-09 14:25] joheredi commented on #732
@cyptus  thanks for bringing this up. I’d like to learn more about your scenario. What is the intended use of the x-include extension? When your response contains it, what’s the expected output/behavior?

Mappers are instructions for the serializer on how to serialize and deserialize data that goes to and from the wire. When we add something to the mapper we need also to tell the dialogue what to

[2020-10-09 14:39] joheredi commented on #412
@daviwil do you know if M4 supports this?

[2020-10-09 14:44] #481 closed

[2020-10-09 14:50] cyptus commented on #732
thanks for your input @joheredi
My understanding of the generated typescript files is to get a fully working API client into your codebase.
Sometimes APIs does have custom handling of some data, thats where the x-namespace of extensions comes into play.
MS already uses this for its own custom handling (enum data e.g.), but there are also APIs out there which needs custom handling on their end.

Fo

[2020-10-09 14:50] joheredi commented on #423
Hi @bricejar, the safest way to remove endpoints would be to remove the them and definitions from the SWAGGER file itself and incrementally add the endpoints as you need them.

[2020-10-09 14:55] joheredi commented on #430
This is still an issue in v6, and I think there may be 2 parts:

1) Our rename logic blindly tries to camel case, however Acronyms should be left unchanged
2) There may be some times where users may want to disable re-naming

We'll take this fix in the new generator version

[2020-10-09 15:34] joheredi commented on #437
This can be achieved by defining the header globally to each `path` something like this should work

[code]

The important parts are

[code]

and

[code]

Please let me know if this addresses your problem

[2020-10-09 15:38] joheredi commented on #444
V6 generator now exposes models this way, please give it a try and let me know if the experience is improved

[Generating with autorest for Typescript v6](https://github.com/Azure/autorest.typescript/wiki/Generating-with-autorest-for-Typescript-v6)

[2020-10-09 15:38] #444 closed

[2020-10-09 16:06] joheredi commented on #474
Closing as we have not received response from the author. Please reactivate if you're still facing any problems

[2020-10-09 16:06] #474 closed

[2020-10-09 16:25] joheredi commented on #449
Here's an example of how do an intercept policy

[code]

[2020-10-09 16:39] joheredi commented on #463
I'm closing this issue since it hasn't had activity in a long time please reactivate if you need more clarification.

x-ms-error-response should be handled now by v6 generator

[2020-10-09 16:39] #463 closed

[2020-10-09 17:01] joheredi commented on #466
Would you guys mind trying this with the new version of the generator? I believe it should handle this scenario

[Generating with autorest for Typescript v6](https://github.com/Azure/autorest.typescript/wiki/Generating-with-autorest-for-Typescript-v6)

[2020-10-09 17:12] joheredi opened #755 "Support model-date-time-as-string"
## --model-date-time-as-string
Swagger strings can have the format `"date-time"`, which causes AutoRest to model the parameter as JavaScript Date.
[code]

If you pass `--model-date-time-as-string=true` to the generator, it will instead
model and treat the ISO 8601 formatted date-time as a plain old `string` in the interfaces and at runtime.
This allows users to use custom date formatting methods,

[2020-10-09 17:18] joheredi commented on #543
I'm closing this issue, feel free to re-activate if the suggestion didn't help with the typings

[2020-10-09 17:18] #543 closed

[2020-10-09 17:23] joheredi commented on #537
Just verified that the new version of the generator addresses this issue

[Generating with autorest for Typescript v6](https://github.com/Azure/autorest.typescript/wiki/Generating-with-autorest-for-Typescript-v6)

[2020-10-09 17:23] #537 closed

[2020-10-09 17:24] joheredi commented on #537
![image](https://user-images.githubusercontent.com/21109913/95613289-924e5780-0a19-11eb-990b-79f593881a46.png)

[2020-10-09 17:31] joheredi commented on #500
We need to verify if this also happens in v6

[2020-10-09 17:34] joheredi commented on #492
This has been broken down in a few other issues

[2020-10-09 17:34] #492 closed

[2020-10-09 17:38] joheredi commented on #472
We need to make sure our Readme contains all the required information for building and run tests on the repo

[2020-10-09 17:41] joheredi commented on #468
The new version doesn't get a stackoverflow with the swagger provided above. However this flag is not yet supported https://github.com/Azure/autorest.typescript/issues/755 is tracking the work

[2020-10-09 17:41] #468 closed

[2020-10-09 17:43] joheredi commented on #464
https://github.com/Azure/autorest.typescript/issues/283 is tracking this work for v6

[2020-10-09 17:43] #464 closed

[2020-10-09 17:52] joheredi commented on #709
Addressed with  #711

[2020-10-09 17:52] #709 closed

[2020-10-09 17:54] joheredi commented on #698
this has been resolved in M4

[2020-10-09 17:54] #698 closed

[2020-10-09 17:54] joheredi commented on #688
This has been completed

[2020-10-09 17:54] #688 closed

[2020-10-09 18:01] joheredi commented on #718
We should consider also aliases for other enum types. See issue https://github.com/Azure/autorest.typescript/issues/655

[2020-10-09 18:02] joheredi commented on #655
We're tracking improvements with #718 where we'll work on this particular problem

[2020-10-09 18:02] #655 closed

[2020-10-09 18:13] joheredi commented on #588
It looks like we have a bug on how we model the array responses

We are currently modeling them as

[code]

But we should model them according to what gets deserialized which is

[code]

[2020-10-09 18:18] #485 closed

[2020-10-09 18:27] joheredi opened #756 "[Epic] November"

[2020-10-09 18:37] joheredi commented on #517
Now tracked by #747

[2020-10-09 18:37] #517 closed

[2020-10-09 19:02] joheredi opened #757 "[Epic] December"

[2020-10-09 19:30] bricejar commented on #423
Thank you !

[2020-10-09 19:30] #423 closed

[2020-10-09 20:17] joheredi commented on #417
Hi @Hardtack thanks for reporting this, I'd like to learn more about your scenario. What errors are you getting?

[2020-10-09 20:24] joheredi commented on #526
I think we should won't fix this. It looks like this would be a non-trival task and we can probably invest the effort in the new version of the generator. If you feel like we there is a quick way to achieve this feel free to reopen

[2020-10-09 20:24] #526 closed

[2020-10-09 20:33] joheredi commented on #738
This issue seems related: https://github.com/Azure/autorest.typescript/issues/708

[2020-10-09 20:35] joheredi commented on #708
We have a work item tacking the work to fix name collisions between OperationGroup and individual operations. Since this particular report has a workaround for v4 and we have work scheduled for this in v6, I'm closing this issue

[2020-10-09 20:35] #708 closed

[2020-10-09 20:40] joheredi commented on #732
In the `x-include` case what does your server expect to get when `x-include` is true?

[2020-10-09 21:17] deyaaeldeen commented on #521
Done.

[2020-10-09 21:17] #521 closed

[2020-10-09 21:19] deyaaeldeen commented on #743
I see this in `header.spec.ts`
[code]

[2020-10-10 06:42] cyptus commented on #732
In my case: an additional http parameter set to ?include=ColumnName

But this could be anything, custom handlings on APIs will always be custom

[2020-10-12 04:12] joheredi commented on #743
Yup, I'm enabling that test with this PR: https://github.com/Azure/autorest.typescript/pull/758/files#diff-b98578849e3d8dd534317942d68aa2bb

[2020-10-12 23:21] joheredi opened #759 "Generated client doesn't validate required parameters"
Other than type checking there is no run-time validation for required parameters. This seems to also be lacking at a core-http level.

This is operation is a good example: https://github.com/Azure/autorest.testserver/blob/a2d9621fe78d49e40407d95917b5a6fde1f690b2/swagger/required-optional.json#L458

[2020-10-13 07:25] sarangan12 commented on #750
Code complete

[2020-10-13 07:25] #750 closed

[2020-10-13 17:25] #743 closed

[2020-10-13 17:26] #747 closed

[2020-10-13 19:35] joheredi commented on #682
It seems like this is no longer an issue in the v6 generator. I tried with the following definitions

[code]

Which generates the expected mapping

[code]

[2020-10-13 19:56] deyaaeldeen opened #762 "[V4] Miscompilation of AzureServiceClientOptions"
When I regenerated the batch sdk here https://github.com/Azure/azure-sdk-for-js/pull/9878, I got this incorrect change:
[code]

[2020-10-14 22:40] sarangan12 commented on #742
code complete with PR https://github.com/Azure/autorest.typescript/pull/763

[2020-10-14 22:40] #742 closed

[2020-10-14 22:41] sarangan12 commented on #510
code complete with PR https://github.com/Azure/autorest.typescript/pull/763

[2020-10-14 22:41] #510 closed

[2020-10-14 22:53] sarangan12 commented on #745
- [X] [`NonStringEnumsGetFloat`](https://github.com/Azure/autorest.testserver/search?q=NonStringEnumsGetFloat) - Already completed [here](https://github.com/Azure/autorest.typescript/blob/v6/test/integration/nonStringEnum.spec.ts#L10)
- [ ] [`NonStringEnumsGetInt`](https://github.com/Azure/autorest.testserver/search?q=NonStringEnumsGetInt)
- [ ] [`NonStringEnumsPostFloat`](https://github.com/Azure

[2020-10-14 22:59] sarangan12 commented on #745
Related PR: https://github.com/Azure/autorest.typescript/pull/763.

[2020-10-14 22:59] #745 closed

[2020-10-15 16:27] lmazuel commented on #524
Hey @joheredi
This is the list of Swagger we are using in our Python suite:
https://github.com/Azure/autorest.python/blob/7ebe85056ea090c2e6f30ffc7848ade5015f27cf/tasks.py#L27-L84

It's possible there is extra Swagger in the testserver that doesn't matter.

[2020-10-15 17:44] deyaaeldeen opened #766 "[V6] Generate a mocha stub test suite"
- generate a mocha stub test suite in `test/<service name>Client.spec.ts`.
- add a test script to `package.json` as follows: `"test": "mocha -r esm --require ts-node/register test/*.spec.ts --timeout 1200000 --full-trace"`.
- add to dev dependencies in `package.json` `mocha`, `esm`, and `ts-node`.
- consider generating basic tests for the APIs.

[2020-10-19 22:05] #524 closed

[2020-10-20 06:42] sarangan12 commented on #749
Code complete with this PR https://github.com/Azure/autorest.typescript/pull/765

[2020-10-20 06:42] #749 closed

[2020-10-20 20:10] #744 closed

[2020-10-21 08:23] dw511214992 opened #770 "api-version is missed in operation `listNext`"
In opeartion `listNext`, the `api-version` is missed in path. you can find the code [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/synapse/arm-synapse/src/operations/workspaces.ts#L471)

[2020-10-21 20:12] joheredi commented on #770
Thanks for reporting this issue @dw511214992. I'll take a look

[2020-10-21 20:17] #751 closed

[2020-10-21 20:26] joheredi opened #772 "Union type incorrectly adds base class"
For the swagger: https://github.com/Azure/azure-sdk-for-js/blob/feature/tutorial/starter/sdk/api-learn/design-activity/swagger/computation.json

We generate:

[code]

However the server doesn't accept ComputeNode, the union should be

[code]

We'll probably need to check if the base class is used somewhere other than just for extending it before adding it to the union

[2020-10-21 22:56] joheredi commented on #417
Closing since we haven't received additional information. Feel free to re-open with additional info

[2020-10-21 22:56] #417 closed

[2020-10-21 22:57] #685 closed

[2020-10-22 17:11] joheredi commented on #770
@dw511214992 I would expect the service to return a `nextLink` containing all the info it needs to be called, including the api-version i.e.  `/page/2?api-version=2020-10-22`.

Pulling all the query params from `list()` into `listNext()` can cause conflicts or unintended overrides to other queryParams returned by services in `nextLink`

[2020-10-23 01:46] dw511214992 commented on #770
hi @joheredi I have seen https://github.com/Azure/autorest.common/pull/58/files is merged. When will it be released? After released, we need to check with service team whether the swagger is ready for release new sdk. And then we need to do release for this js sdk. thanks

[2020-10-23 15:59] #680 closed

[2020-10-23 15:59] #752 closed

[2020-10-23 22:47] joheredi opened #776 "Line wrapping can break markdown JSDocs"
For example the table in this docsite: https://docs.microsoft.com/en-us/javascript/api/@azure/cognitiveservices-face/largefacelistoperations?view=azure-node-latest#addFaceFromStream_string__msRest_HttpRequestBody__Models_LargeFaceListAddFaceFromStreamOptionalParams_

Is broken because the MD table definition gets broken down into multiple lines which breaks MD.

We have a few options

* Allow a fl

[2020-10-26 08:26] qiaozha opened #777 "Can't correctly import CloudErrorBody if an object is refering to CloudErrorBody directly."
If an object is reference to CloudErrorBody directly. the generated SDK will not import CloudErrorBody from @azure/ms-rest-azure-js. Which causing the sdk fail to build https://github.com/Azure/azure-rest-api-specs/pull/11366/files#diff-57b96402ec17bd8f6e8ace7ff8bf6eaba95a6a0130b8aacae30b02ce134f9242R2864-R2872

![image](https://user-images.githubusercontent.com/55688292/97144855-2b15fe80-17a0-11e

[2020-10-26 20:38] #741 closed

[2020-10-26 20:39] #682 closed

[2020-10-26 20:42] joheredi commented on #777
Thanks for reporting! I'll take a look and update when I have more information

[2020-10-26 22:16] joheredi commented on #777
@qiaozha do you know why CloudErrorBody is being marked as `x-ms-external`? as you said, ms-rest-js doesn't have a definition fro `CloudErrorBody`, this will be fixed if the `x-ms-external` flag is removed from [the definition](https://github.com/Azure/azure-rest-api-specs/blob/e44bedeaf76845d9ef49965cad882c270e4019b1/specification/containerservice/resource-manager/Microsoft.ContainerService/stabl

[2020-10-26 23:23] joheredi commented on #770
I have published a [v4.4.4 of Autorest.Typescript](https://www.npmjs.com/package/@microsoft.azure/autorest.typescript/v/4.4.4) which includes this fix.

@dw511214992 can you please re-generate the library and verify if the issue is resolved?

[2020-10-27 02:05] qiaozha commented on #777
I see. Thanks. According to the document here https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-external, the x-ms-external means the schema will not be generated and it will be import from the library ?
When we remove that x-ms-external flag, it will generate a CloudErrorBody locally.
![image](https://user-images.githubusercontent.com/55688292/97248040-da53e380-183b-11e

[2020-10-27 02:30] dw511214992 commented on #770
@joheredi  I have regenerate the code and the issue should be fixed. A pr is create: https://github.com/Azure/azure-sdk-for-js/pull/12075

[2020-10-27 02:30] #770 closed

[2020-10-27 15:07] joheredi commented on #777
@qiaozha, you are right. Removing the `x-ms-external` from CloudErrorBody definition will stop trying to import it and will generate it locally

[2020-10-28 22:28] sarangan12 commented on #738
Code complete with PR https://github.com/Azure/autorest.typescript/pull/779

[2020-10-28 22:28] #738 closed

[2020-10-29 03:44] sarangan12 commented on #736
I have checked this file. The same error is reported. But, it does not happen within the TS code. It actually happens within the core autorest code even before ```generateTypeScriptLibrary``` method is executed. So, I will loop in @daviwil to take a look at this issue.

[2020-10-29 08:43] cyptus commented on #732
@joheredi does this clarify the use-case?

[2020-10-29 17:27] joheredi opened #783 "Add coverage for missing LRO scenarios"
Swagger: https://github.com/Azure/autorest.testserver/blob/master/swagger/lro.json

- [ ] [`LROParameterizedEndpoint`](https://github.com/Azure/autorest.testserver/search?q=LROParameterizedEndpoint)
- [x] [`LROPostAndGetList`](https://github.com/Azure/autorest.testserver/search?q=LROPostAndGetList)
- [x] [`LROPutInlineComplete201`](https://github.com/Azure/autorest.testserver/search?q=LROPutInline

[2020-10-29 21:32] MiYanni commented on #736
I have details on this issue and discussed with David. I will be creating an AutoRest issue for it. I'll link back to this one.

[2020-10-29 21:40] daviwil commented on #736
Yeah, this one is tricky because there's duplication of the `x-ms-enum` everywhere but used in different schema types so it's not easily deduplicatable.  Due to the way the schema is designed, it's hard to reuse the `x-ms-enum` definition so I'll have to find a way to deduplicate it in the modeler phase.

[2020-10-29 21:55] MiYanni commented on #736
Swagger doesn't allow you to ref schemas in headers... so deduplication in AutoRest is the only option here. @daviwil The intent is to use the same schema for both request header parameters and response headers. So, the definition of those enums should be identical. I had checked that they were when I ran into this issue for C#. So, header handling (both as parameters and responses) might need to

[2020-10-29 23:12] joheredi commented on #348
LRO operations that follow [Microsoft Rest API guildelines](https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#13-long-running-operations) should be now supported by the Typescript generator

[2020-10-29 23:12] #348 closed

[2020-10-29 23:20] joheredi opened #785 "Revisit LRO generated operations"
Revisit LRO generated operations and evaluate if we can align better with the Typescpt SDK guidelines and the hand-written LROs in Azure/azure-sdk-for-js repo. Some examples:

https://github.com/Azure/azure-sdk-for-js/blob/6bcfe0d943662784f196561a5bb48c05460b0b8f/sdk/keyvault/keyvault-certificates/src/index.ts#L693

https://github.com/Azure/azure-sdk-for-js/blob/6bcfe0d943662784f196561a5bb48c05460

[2020-10-30 20:27] #283 closed

[2020-10-30 22:39] MiYanni commented on #736
Created an issue for it here: https://github.com/Azure/autorest.modelerfour/issues/362

[2020-10-30 23:04] #513 closed

[2020-11-02 23:18] joheredi commented on #732
Would you mind sharing your swagger file? I think the scenario you describe should be possible to achieve defining a parameter for your operation called `include`?

Extensions are meant to add functionality to the generator that is not possible to express with the OpenAPI spec. The generators need to be aware of each extension and have logic on how to handle each extension.

Here's a list of the e

[2020-11-10 21:25] #746 closed

[2020-11-10 21:25] #748 closed

[2020-11-10 21:25] #753 closed

[2020-11-10 21:25] #783 closed

[2020-11-10 21:27] #756 closed

[2020-11-10 21:29] #704 closed

[2020-11-10 21:29] #772 closed

[2020-11-15 22:01] joheredi opened #791 "Generate Rush metadata"
So that generated packages can be plugged into the azure-sdk-for-js easier.

[2020-11-18 19:28] joheredi opened #793 "Allow byPage in pageable operations to take settings"
For this we'll need to be able to specify in Swagger where to find these properties. Another option may be to allow customizations and customers to override the generated methods.

[2020-11-19 22:29] #754 closed

[2020-11-19 22:30] #648 closed

[2020-11-19 22:31] #635 closed

[2020-11-19 22:33] #449 closed

[2020-11-19 22:33] #437 closed

[2020-11-19 22:34] #144 closed

[2020-11-19 22:34] #115 closed

[2020-11-21 00:54] joheredi opened #797 "Test generated code in other node versions"
Have a test matrix to make sure that the generated code works across node versions

[2020-11-21 00:55] joheredi opened #798 "Support credential scope"
Use credential scopes to generate a bearer token pipeline

[2020-11-21 06:44] ramya-rao-a commented on #797
@joheredi Let's make sure we do this for v4 of the code generator as well as it powers all the management plane libraries at the moment

[2020-11-30 21:58] thoo1 commented on #680
is there documentation on how to make a field be nullable?

[2020-12-01 18:47] deyaaeldeen commented on #680
@thoo1 here: https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-nullable

[2020-12-02 03:01] joheredi opened #800 "Api-Extractor fails to create review folder"
This happens some times, we need to make sure that the script is able to create the review folder

[2020-12-04 10:14] sarangan12 opened #802 "[Search] Issue with OData Discriminator"
For the following swagger:

[code]

For the above code, the new generator fails. What is the problem? The generated code looks like this:

[code]

1. There is no closing brace
2. The ```@odataType``` and ```odataType``` creates error.

[2020-12-04 10:20] sarangan12 opened #803 "[Search] SchemaType char is unhandled"
For the following swagger:

[code]

The new generator will fail. As the format ```char``` is not yet supported.

[2020-12-04 21:50] sarangan12 opened #805 "[Search] - Add UberParent to the Union"
For the following Swagger:

[code]

In the existing SDK generator, the code generated will look like this:
[code]

In the new SDK generator, the code generate will look like this:

[code]

We need to add the Uberparent. Or You will get errors in bodyComplex.spec.ts file

[2020-12-04 22:26] sarangan12 commented on #802
Code Completed with PR https://github.com/Azure/autorest.typescript/pull/804

[2020-12-04 22:26] #802 closed

[2020-12-04 22:27] sarangan12 commented on #803
Code Completed with PR https://github.com/Azure/autorest.typescript/pull/804

[2020-12-04 22:27] sarangan12 commented on #805
Code Completed with PR https://github.com/Azure/autorest.typescript/pull/804

[2020-12-04 22:27] #805 closed

[2020-12-05 02:08] #803 closed

[2020-12-05 02:10] sarangan12 opened #806 "README file has to be properly filled out"
During autogenerating SDKs, the README file has to be properly filled out.

[2020-12-05 02:21] sarangan12 opened #807 "Remove reference to "@azure/core-arm""
In the new v6 generator, the rollup.config.js file still mentions "@azure/core-arm". We need to remove it.

[2020-12-05 02:28] sarangan12 opened #808 "Export Operations in the v6 generator"
In the new v6 generated SDK, the index.ts is not exporting anything from operations. Eg: https://github.com/Azure/azure-sdk-for-js/pull/12787/files#diff-8224a291789d8d70439c3737d0f6a9728e77653acb53baf04c0ec58eacb5dc91R9

[2020-12-05 02:34] sarangan12 opened #809 "Extend tsconfig.json in the new v6 generator"
The generated tsconfig.json file must extend the existing tsconfig.json file.

[2020-12-08 06:12] sarangan12 opened #812 "Export version value in client context file."
In the latest v6 generator, the version value is not exported in client context file.

[2020-12-08 18:59] sarangan12 commented on #807
Code complete with https://github.com/Azure/autorest.typescript/pull/811

[2020-12-08 18:59] #807 closed

[2020-12-08 20:28] joheredi opened #813 "Standardize tracing flags"
Currently we have 3 flags for tracing
* `tracing.namespace`
* `tracing.packagePrefix`
* `tracing` as an object that has 2 properties `namespace` and `packagePrefix`

In order to standardize across languages we'd like to have the following flags instead:

--trace-spanprefix: optional, if optional then from package name
--trace-aznamespace: optional, default not set az.namespace

[2020-12-08 20:34] joheredi opened #814 "Fix tracing static files"
#### package.json
- [x] Missing `"@opentelemetry/api": "^0.10.2",` dependency

#### rollup config
- [ ] Missing cjs namedExports
![image](https://user-images.githubusercontent.com/21109913/101538217-9cc19a80-3951-11eb-885d-0a3642db8648.png)

[2020-12-08 22:40] joheredi opened #815 "[v4] Support @azure/identity for authentication"
Update the v4 code generator to add a constructor overload that takes a TokenCredential instead of ServiceClientCredentials. Internally, this can create the credentials using the code snippet shared in Jon's adapter. This requires the generated code to take dependency on @azure/core-auth

For more context see: https://github.com/Azure/azure-sdk-for-js/issues/11359

[2020-12-10 08:29] sarangan12 commented on #812
After further analysis, I have found that this kind of export is happening only in Keyvault libraries. Even in these libraries, it is exported only for the purpose of a unit tests which validates the version within the generated file and custom layer file are the same.

So, We don't have to export this value for every SDK. For KeyVault SDKs we can do it manually.

Closing this issue as there is no

[2020-12-10 08:29] #812 closed

[2020-12-10 08:40] sarangan12 opened #816 "@nextLink is causing SDK generation failure"
[code]

In the latest generator, for the above Swagger, the code will be generated as:

[code]

This error causes issues in multiple locations within the SDK

[2020-12-10 08:48] sarangan12 opened #817 "Multiple Headers causing SDK generation failure"
Look at the following swagger:

[code]

The SDK generation will fail will fail

[2020-12-10 19:00] deyaaeldeen opened #819 "Emit a clean npm script"
It is common to run `rush clean` which calls the `clean` scripts across all packages. I expect it to be as follows:
`"clean": "rimraf dist dist-browser dist-esm test-dist temp types *.tgz *.log"`

Of course `"rimraf": "^3.0.0"` should be added to `devDependencies`.

[2020-12-10 22:28] sarangan12 commented on #816
Code complete with https://github.com/Azure/autorest.typescript/pull/818

[2020-12-10 22:28] #816 closed

[2020-12-10 22:28] sarangan12 commented on #817
Code complete with https://github.com/Azure/autorest.typescript/pull/818

[2020-12-10 22:28] #817 closed

[2020-12-21 10:14] cheahengteong opened #826 "Error: Plugin typescript reported failure."
**Describe the bug**
I had try the v2/1a-code-generation-minimal and it show me **Error: Plugin typescript reported failure.**
[code]

[2020-12-22 14:56] seaki-msft opened #824 "Support Swagger outside the Azure SDK for AutoRest v3"
**Describe the issue or request**
We are using AutoRest in our [repo](https://github.com/Azure/Connectors) to translate swagger files into typescript. However, we ran into several issues running AutoRest V3 because swaggers outside the Azure SDK is not supported in AutoRest v3. We use connectors swagger files and here is the [list of swagger files](https://github.com/Azure/Connectors/tree/preview/

[2021-01-04 19:31] joheredi commented on #824
@seaki-msft thanks for bringing this up. I'm looking into this issue I'll come back soon with more information.

[2021-01-04 19:59] daviwil commented on #824
@seaki-msft Hey Sean, we recently updated the default versions of several language generators in AutoRest v3, that's why you're getting this error suddenly.  I'd recommend adding the `--v2` parameter to your AutoRest invocations for now until you've been able to test the Connector code generation more thoroughly with the new TypeScript generator.

[2021-01-04 20:50] seaki-msft commented on #824
Okay we will add --v2 for now. However, we would like to start using v3; are you planning to support swagger outside the Azure SDK in v3?

[2021-01-04 21:22] daviwil commented on #824
I don't think that the TypeScript generator has any limitation for being used in the Azure SDK, I believe the issue you hit must just be a bug in the generator that can be fixed.  Jose is the right person to ask about that though :)

[2021-01-07 18:51] joheredi opened #829 "investigate supporting --client-side-validation"
Other languages support this flag

[2021-01-08 17:08] deyaaeldeen opened #830 "Broken link in generated README.md"
Version: 6.0.0-dev.20201204.2

The attestation sdk was autogenerated and the `README.md` was generated with the following:
[code]

The hyperlink is invalid.

[2021-01-11 03:25] sarangan12 opened #832 "Hide the Client and Client Context Classes (from the Generated Layer) in the docs"
While working on migrating AppConfiguration SDK from old SDK generator to the new V6 generator, @richardpark-msft pointed out that the client and client context classes are showing up in docs. This should be avoided since we do not want the inner workings of the SDK to be exposed (when there is a custom layer)

I agree that the client and client context classes within the generated layer should be

[2021-01-11 17:44] ramya-rao-a commented on #832
cc @joheredi, @deyaaeldeen

[2021-01-11 18:49] deyaaeldeen commented on #832
@ramya-rao-a actually @sarangan12 already fixed it here: https://github.com/Azure/autorest.typescript/pull/831 and @joheredi and I reviewed it.

[2021-01-11 20:54] sarangan12 commented on #832
Code complete with PR https://github.com/Azure/autorest.typescript/pull/831

[2021-01-11 20:54] #832 closed

[2021-01-12 17:29] joheredi commented on #613
We may want to move these packages when the move to core v2 happens

[2021-01-12 17:33] joheredi commented on #785
Received the following feedback from @qiaozha that we should consider.

In addition to providing an operation that returns the poller, it'd be helpful for customers to also have a function that performs the polling internally and just returns the response.

Another thing is that to align with the guidelines we need to rename the operations that return a poller to be prefixed with **begin**

[2021-01-14 08:02] sarangan12 opened #833 "Property 'required' missing in the Spec Mapper"
I found this issue while working with ```keyvault-certificates```. In the KeyVault Swagger, look [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/certificates.json#L350):

[code]

The above code is translated, in the old generator, as mentioned [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/k

[2021-01-17 18:31] sarangan12 commented on #833
Code Completed with PR: https://github.com/Azure/autorest.typescript/pull/834

[2021-01-17 18:31] #833 closed

[2021-01-17 18:37] sarangan12 opened #835 "Enable Configuration files to be tested in V6 Code Generator Integration Test Suite"
In the current V6 Code Generator integration test suite, we are able to test only the json files. So, if we have to test override scenarios such as:

1. Swagger Transforms
2. Code Transforms
3. Modeler Four Overrides

which are done in the configuration files, the only way of testing is through unit testing.

We need to enable testing of the configuration files to be tested in V6 Code Generator In

[2021-01-18 23:02] ropeladder opened #838 "Underscore in operationId breaks TypeScript code generation"
As far as I can see operationId allows underscores, so I don't think the following should fail. Although I'm relatively new to both TypeScript and OpenAPI so there may be a good reason they're not allowed. (in which case a clearer error message would be a good idea)

openapi.yaml:
[code]

AutoRest output:
[code]

[2021-01-19 07:43] r3dDoX opened #837 "Enum types generating unexpected union types"
We noticed an unexpected behavior in the generation of union types. The following OpenApi spec part:

[code]
generates the following union type for "printMediaType":

`
export type PrintInfoPrintMediaType = "ENDLOS" | "MEHRFAHRTENKARTE" | string;
`

We expected there to be no " | string" since our enum has two clear values:

`
export type PrintInfoPrintMediaType = "ENDLOS" | "MEHRFAHRTENKARTE";
`

[2021-01-19 17:21] sarangan12 commented on #835
Code Complete with https://github.com/Azure/autorest.typescript/pull/836

[2021-01-19 17:21] #835 closed

[2021-01-19 18:11] sarangan12 commented on #837
@r3dDoX Thanks for reporting this issue. I will check and update the issue shortly.

[2021-01-19 18:24] sarangan12 commented on #838
@ropeladder Thanks for reporting this issue. I will check and update this issue shortly.

[2021-01-19 18:38] sarangan12 commented on #837
@r3dDoX Could you please give me the complete swagger? I think some of the ```x-ms-enum``` properties that are defined in the swagger might be missing in the comment above. So, Please provide me the complete swagger file for verification

[2021-01-19 20:44] sarangan12 commented on #837
@r3dDoX After further analysis, I find that the specific snippet provided in the description will not generate the TS code mentioned in the description. It will generate the following TS Code:

[code]

I understand this is not the expected value. The expected value is supposed to be:

[code]

Now, this is a bug in modelerfour project and I will work internally to fix it. In the meantime, you could

[2021-01-20 00:57] sarangan12 opened #840 "Fix the normalizing name of custom overrides during the SDK Generation"
In the search SDK, we have some swagger transforms which overrides the ```x-ms-client-name``` of certain values from 'text' to '_text', 'actionType' to '__actionType', etc.

In the V6 Code generation, the '_' in the beginning will be removed. The same thing happens for various configurations.

Why does this happen?

This happens in 2 places. First, it is done by modelerFour. Second, it is done in

[2021-01-20 00:58] sarangan12 commented on #840
Code complete with PR https://github.com/Azure/autorest.typescript/pull/839

[2021-01-20 00:58] #840 closed

[2021-01-20 05:50] sarangan12 commented on #830
@deyaaeldeen This issue has been fixed with PR https://github.com/Azure/autorest.typescript/pull/839. If you are Ok with the fix, You can close this bug.

[2021-01-20 13:45] #830 closed

[2021-01-20 18:56] sarangan12 commented on #838
@ropeladder

I have checked and confirmed the failure is not related to the underscore in operationId or it is related to TS Code generation. The error is related to the file structure. Several fields are missing which causes the issue.

For example. I used the following JSON file to generate the SDK:

[code]

With the following command,, I am able to generate the SDK with no issues.

[code]

Plea

[2021-01-21 03:25] qiaozha opened #842 "recording the input swagger version or tag of code generation"
Sometimes it's not very easy for us to figure out what kind versions or tags is the current SDK being generated from.  It would be nice if the code generator can add those information in the generated code.
Which can be helpful if we want to do some general non RP-related upgrades on the SDKs, such as library dependencies upgrade etc.

[2021-01-21 03:26] qiaozha commented on #842
@ramya-rao-a

[2021-01-21 07:53] sarangan12 commented on #826
@cheahengteong Thanks for reporting this issue. I have checked it. With the latest V6 Generator, I do get the same error as you reported.

**Where is the error happening?**

The error happens in the following JSON snippet:

[code]

**What is the error?**
In the above snippet, you can see that the ```"type": "array"```. This is translated by Autorest Core to ```MapperType.Sequence```. This ```Mappe

[2021-01-21 08:29] sarangan12 commented on #837
After further analysis, I have found that this issue is happening in the AutoRest. The TS SDK Generator receives the Code Model from Autorest which sets the ```SchemaType``` of this enum to ```Choice```. It is not correct. It must be ```SealedChoice```.

I have created an issue https://github.com/Azure/autorest/issues/3797 in the Autorest repository.  Will follow up with the Autorest team to fix t

[2021-01-21 17:32] sarangan12 commented on #800
Code complete with PR https://github.com/Azure/autorest.typescript/pull/844

[2021-01-21 17:32] #800 closed

[2021-01-21 19:44] sarangan12 commented on #826
With the fix in PR https://github.com/Azure/autorest.typescript/pull/843, this issue has been fixed. I have tested with the petstore.json and it is working fine with versiob v6.0.0-dev.20210121.2.(https://github.com/Azure/autorest.typescript/releases) Closing the issue.

If you still face any issues, feel free to reopen the issue.

[2021-01-21 19:44] #826 closed

[2021-01-22 07:31] r3dDoX commented on #837
@sarangan12 Thank you for the fast analysis. Sorry that I am slow to respond, I forgot to check my Github Notifications in the last couple days. I will follow the Bug you opened then 👍

[2021-01-23 04:38] forteddyt opened #848 "Referencing an empty definition via allOf breaks client generation"
**Describe the issue or request**
Scenarios such as the following (Note the **"allOf"**):
[code]
break client generation with the following error
[code]

A pipeline failure example: https://github.com/Azure/azure-rest-api-specs/pull/12554/checks?check_run_id=1752851769. This is also an issue with the Python and C# client generations and I have filed issues in their respective repos. [Python Issue]

[2021-01-25 07:59] sarangan12 commented on #838
As there are no more action items pending for this issue, I am closing this one. If you still have any issues, feel free to reopen this issue.

[2021-01-25 07:59] #838 closed

[2021-01-25 08:02] sarangan12 commented on #837
We are following this in the issue https://github.com/Azure/autorest/issues/3797. If this is fixed in autorest, then it will be resolved in Typescript with no further code change. As there are no pending action items, I am closing this issue.

[2021-01-25 08:02] #837 closed

[2021-01-25 08:08] sarangan12 opened #849 "Issues with Generated Metadata of the V6 Code Generator"
This epic is created as a result of my work in the creation of initial version of Quantum SDK. While trying to check-in this initial version (https://github.com/Azure/azure-sdk-for-js/pull/13345), I encountered some gaps in the V6 SDK generator.  I have listed the gaps here. I will create separate issues for all of them and then work on it.

(Note: There are almost no issues with the generated cod

[2021-01-25 17:19] joheredi opened #850 "[LRO] LRO operations should support intervalInMs"
When an operation that returns a poller is generated, its optionalParams should include an optional `intervalInMs` to be passed to the Poller constructor

According to TS guidelines: https://azure.github.io/azure-sdk/typescript_design.html#ts-lro

[2021-01-25 18:06] sarangan12 commented on #849
Done

[2021-01-25 20:51] ramya-rao-a commented on #699
This was fixed in #726

[2021-01-28 17:33] joheredi opened #853 "[Low Level Client] Prototype functionality"
Use ai-text-analytics to prototype Low Level client api and functionality

[2021-01-28 17:42] joheredi opened #854 "[Low Level Client] Prototype Type definitions"
Use ai-text-analytics to prototype Type definitions that provide a seemless experience to LLC users. Elements to consider:

* Autocomplete METHOD + PATH
* Suggest properties based on selected METHOD + PATH

[2021-02-01 18:11] sarangan12 opened #856 "Include Operations in the index.ts file"
Refer the index.ts file [here](https://github.com/Azure/autorest.typescript/blob/5a4bbaad4e1322b2189d437ae748ac7104747352/test/integration/generated/additionalProperties/src/index.ts).

[code]

There is no export from ```operations``` folder.

But, if you look at the code in the ```additionalPropertiesClient``` - [here](https://github.com/Azure/autorest.typescript/blob/5a4bbaad4e1322b2189d437ae748

[2021-02-01 22:02] joheredi opened #858 "Incorrectly generating regex conditions"
We seem to be stripping out backslashes from patterns, however we need to preseve them. We may need to replace any backslash for a double backslash before building the Regex.

Example:

`^[-\w\._\(\)]+$` gets generated as `new RegExp("^[-w._()]+$")` which is incorrect. We should have `new RegExp("^[-\\w\\._\\(\\)]+$")`

[2021-02-04 01:24] qiaozha commented on #856
I had similar problem in mgmt plane SDK.
I figured out a way to include the operation in track1 mgmt SDK, which is to change the src/index.ts like this
[code]
In the api extractor result, you will see the these operations are included.
![image](https://user-images.githubusercontent.com/55688292/106831292-a0ac3780-66ca-11eb-8087-1ed99a8a37f9.png)

But when I tried to add this line `export * from ".

[2021-02-04 01:24] qiaozha commented on #856
cc: @ramya-rao-a

[2021-02-04 22:19] jeremymeng opened #859 "ERROR: Schema violation: Additional properties not allowed: x-ms-text"
There's [a PR build failure from ms-rest-js](https://github.com/Azure/ms-rest-js/pull/422/checks?check_run_id=1834242850) that's unrelated to changes in the PR.

2021-02-04T21:15:45.1307048Z Exec Failed /home/vsts/work/1/.tmp/autorest.typescript :: /home/vsts/work/1/.tmp/autorest.typescript/node_modules/.bin/autorest --typescript --clear-output-folder --output-folder=test/xml/generated/Xml --licen

[2021-02-05 18:14] ramya-rao-a opened #860 "[v4/v6] Update readme with a note on how to use an existing access token to authenticate"
As seen in https://github.com/Azure/azure-sdk-for-js/issues/13626 and https://github.com/Azure/azure-sdk-for-js/issues/11243, we are seeing cases where people want to use an access token they already have at hand with the client libraries generated by this code generator.

While we documented the solution for this in the readme for `@azure/ms-rest-nodeauth` package (See [Authenticating with existi

[2021-02-08 22:33] joheredi commented on #856
@qiaozha, I would like to understand the scenario where the individual Operation classes are needed by themselves. Would you mind sharing some context on when the user would need to instantiate the Operation class?

We purposefully decided not to export these classes as we couldn't find a scenario where they would be needed, keeping in mind that the Client itself is needed to instantiate them, and

[2021-02-09 02:04] qiaozha commented on #856
Actually I intend to use this api extractor result for changelog tools, the main focus on changelog would be api level changes.

[2021-02-09 02:11] qiaozha commented on #856
if purely exposing interface like this
[code]
We don't know which apis are impacted by this change. Also customers may care about the api signature etc.

[2021-02-10 00:36] sarajang commented on #313
@joheredi can you please explain what v6 is here?

[2021-02-11 06:00] sarangan12 commented on #842
@qiaozha Thanks for raising this issue. It is always good to record several details related to the generation such as:

1. swagger version/commit id
2. tag used
3. autorest version
4. SDK Generator Version
5. Modeler Four Version
6. Full Generation Command, etc.

The problem is that our SDK generation mechanism is slightly complicated for the SDK generators to record this information. **Why?** All

[2021-02-14 21:27] AlexGhiondea opened #862 "ADL for JavaScript (January-June 2021)"
This tracks the work for ADL for JavaScript.

[2021-02-14 21:27] AlexGhiondea opened #863 "autorest for JavaScript (January-June 2021)"
This tracks the work for autorest.core for JavaScript.

[2021-02-14 21:27] AlexGhiondea opened #864 "Low Level Client for JavaScript (January-June 2021)"
This tracks the work for Low Level Client for JavaScript.

[2021-02-16 17:29] daviwil commented on #862
"ADL for JavaScript" isn't really necessary, nor is ADL for any particular language.  Everything is going through AutoRest so whether its ADL or Swagger, the code generator doesn't really need to know anything.

[2021-02-16 19:43] deyaaeldeen opened #866 "[V6] Emit TSDoc-compliant comments only"
Make sure to hide definitions from documentation using the `@internal` flag and function and method parameters are tagged using TSDoc syntax: `@param <param name> - <comment>` and `@returns` tag is used. Tag reference is here:https://tsdoc.org/pages/tags/alpha/

[2021-02-16 19:45] deyaaeldeen commented on #550
@joheredi  Consider moving the first and third items to their own issues and close this or move them here: https://github.com/Azure/autorest.typescript/issues/866.

[2021-02-17 03:00] qiaozha commented on #842
@sarangan12 Thanks for the detailed information. Actually you can pass an empty string to getValue. such as session.getValue('') to get all the autorest configuration. and in that way, we can record anything we want. Not sure if it's the right way to use getValue like this, but it works.
I do think the README.md sample is a good one for our recording result. it contains everything we need to regen

[2021-02-17 06:21] sarangan12 opened #867 "[V6] - Use ClientContext Class in Operations Class"
In V4 Generators, when there are classes within the operations folder, such classes use(in constructor)  from ClientContext Class. Please refer [here](https://github.com/Azure/azure-sdk-for-js/blob/0e28a4544886ebf9aa4053b80784ea261da5fd26/sdk/batch/batch/src/operations/file.ts#L25)

But, in V6 generators, such classes use(in constructor) from Client Class. Please refer [here](https://github.com/Az

[2021-02-17 18:54] sarangan12 commented on #867
Code Complete.

[2021-02-17 18:54] #867 closed

[2021-02-18 03:55] sarangan12 commented on #842
Thanks @qiaozha for the tip on the session.getValue(''). It was new to me. But, I did verify that object with a debugger. That object is very complicated and also varies depending on the input provided. I think the correct solution is to form a fixed object and send it to generators. Such an object could be designed only by the autorest core. I have created an issue with autorest at https://github

[2021-02-18 03:55] #842 closed

[2021-02-18 03:58] sarangan12 commented on #736
@nguerrera As discussed in the above conversations, the issue is happening with modelerfour and it would be best answered if you follow it up with the issue https://github.com/Azure/autorest/issues/3629.

If you still face any issue after the modeler issue is fixed, feel free to reopen the issue.

No more pending action items for this issue. Closing it now.

[2021-02-18 03:58] #736 closed

[2021-02-18 05:46] sarangan12 opened #869 "[v6] SDK Generation failed for bodyFormData"
This issue is happening as of February 17, 2021.

**Repro Steps**
1. ```git clone https://github.com/Azure/autorest.typescript.git```
2. ```cd autorest.typescript```
3. ```git checkout v6```
4. ```npm install```
5. ```npm run build```
6. ```npm run generate-swaggers -- -i bodyFormData```

You will get the following error:

[code]

The error happens only for bodyFormData in our inputs.

[2021-02-18 18:09] sarangan12 commented on #869
Code complete with PR https://github.com/Azure/autorest.typescript/pull/870

[2021-02-18 18:09] #869 closed

[2021-02-18 18:44] MiYanni commented on #736
@sarangan12 I've reopened the issue you mentioned so it can be investigated. It was improperly tested in the issue. You can keep this issue closed.

[2021-02-18 20:35] sigmer opened #872 "Missing body parameter for PUT operation"
We have a PUT operation that requires a body parameter like this,
[code]
All the properties on the referenced `ExpressRouteAuthorization` definition are `readonly`. This results in a method signature without this parameter, like:
[code]
When I expect:
[code]

The full swagger is [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/vmware/resource-manager/Microsoft.AVS/sta

[2021-02-22 08:25] qiaozha commented on #856
cc @lirenhe

[2021-02-22 19:55] jeremymeng opened #874 "Extensible enum and polimophic discriminator?"
https://github.com/Azure/azure-sdk-for-js/pull/13363#discussion_r564022242

In Metrics Advisor, the enums are [used as the discriminator for union types][]. With the move to the V6 code gen, the two become incompatible.  @joheredi any ideas?

[code]

[used as the discriminator for union types]:https://github.com/Azure/azure-sdk-for-js/blob/241aeb77e8fae0bedca44612349a7a7751cb0620/sdk/metricsadviso

[2021-02-22 23:24] joheredi opened #875 "Fix createSpan options"
createSpan takes `OperationOptions` as a second parameter, however our generated clients are passing `RequestOptionsBase`. Richard fixed it manually in Synapse. We should take this change in the generator

https://github.com/Azure/azure-sdk-for-js/pull/13887/files/00cbabac1dc13c5a6a1b118477ac3b95fd0e1472#r580649030
![image](https://user-images.githubusercontent.com/21109913/108783262-02b9c900-7522

[2021-02-23 21:42] joheredi opened #876 "Use @internal instead of @hidden"
Quoting from Azure/azure-sdk-for-js/issues/13447

[2021-03-04 08:06] qiaozha opened #880 "Can't get into !$(profile) yaml condition when using track2 code generator"
You can take resources RP as a example to repro this.  The readme.typescript.md of batch part is defined like this:
[code]
The command I am running is
`autorest --typescript ../azure-rest-api-specs/specification/resources/resource-manager/readme.md --output-folder=. --clear-output-folder –debug `
            And it says no input files provided.

But if I remove the !$(profile) in yaml condition li

[2021-03-04 08:13] qiaozha opened #881 "--use=@autorest.typescript@6.0.0-dev.20210121.2 doesn't load the correct packages"
![image](https://user-images.githubusercontent.com/55688292/109931847-59828800-7d04-11eb-98c3-75f65852debc.png)

I have done autorest --reset before I tried this.

I managed to use the full package link to make it loading the correct packages.

[2021-03-09 17:03] deyaaeldeen commented on #875
Code complete https://github.com/Azure/autorest.typescript/pull/882

[2021-03-09 20:07] andreskim opened #883 "Autorest typecript generator having issues ignoring type checking in node_modules"
**Describe the bug**
I'm in the process of utilizing autorest to generate a client for one of our REST microservices. Whille attempting to use autorest to generate a service client, (specifically for typescript)  I ran into the following issue.

After generating using Autorest with typescript flag:
[code]

The issue arises since our workflow depends on running a script to use autorest to generate

[2021-03-11 20:47] ffMathy opened #887 "Supporting HTTP client adapter"
Right now, the TypeScript generated code uses CoreHttp, which in turn seems to use either `XmlHttpRequest` or `node-fetch`, depending on what is available.

However, since I am using Appcelerator Titanium to build my app (which is a node-based language but still doesn't support node's `http` library and therefore doesn't support `node-fetch` either), I am out of options to make the generated code

[2021-03-11 20:52] ffMathy opened #885 "Doesn't use discriminator values properly"
See https://github.com/Azure/autorest/issues/3981

[2021-03-11 20:53] ffMathy opened #886 "Supporting HTTP client adapter"
See https://github.com/Azure/autorest/issues/3982

[2021-03-12 06:53] #886 closed

[2021-03-12 20:42] joheredi commented on #856
Currently the Client class is defined as follows:
[code]

Where the members of the `BodyComplexClient` are the concrete Operation classes.

The main indext.ts file doesn't export the Basic from operations, which causes api-extractor to warn about a missing export.

My proposal is to change a bit the definition of the Client class, in which their members won't be of the concrete class type but an i

[2021-03-12 21:38] timotheeguerin commented on #880
Hey @qiaozha, so seems like the issue is that underneath `profile` gets initialized as an empty array. Has this ever worked? What do you use `--profile` for?

[2021-03-12 22:33] joheredi commented on #881
@qiaozha can you try the following please

[code]

Followed by the same command you are running but removing `--use=@autorest.typescript@6.0.0-dev.20210121.2`. We started publishing @autorest/typescript to npmjs.org and Autorest now picks up the latest published version by default.

Please let me know if this resolves your issue

[2021-03-13 01:19] joheredi commented on #594
None of the languages are currently generating heavy readmes here's what the other languages do right now:

**Python**: Readme with general information about Azure Management, nothing specific about the generated library.
**Java**: no README
**C#**: no README

I have started a conversation with the Autorest crew to see if we can reach agreement on consistent Readmes across languages.

I would prop

[2021-03-13 01:23] joheredi commented on #858
This was fixed in PR #855

[2021-03-13 01:24] #858 closed

[2021-03-13 01:41] joheredi commented on #785
I talked to Brian about adding a function that performs the polling internally and just returns the response.

We would not like to expose a function that returns the Poller result. The reason is that these operations may take days to complete and wrapping them in a function that returns the final result will be misleading and potentially painful for the users.

Additionally, none of the other lan

[2021-03-15 00:23] sarangan12 opened #888 "[storage-blob] Errors generating TS/JS SDK for storage-blob using V6 SDK Generator"
@EmmaZhu has reported that there are errors TS/JS SDK for storage-blob using V6 SDK Generator. These Errors must be investigated and fixed.

cc: @ramya-rao-a @deyaaeldeen @joheredi

[2021-03-15 00:29] sarangan12 commented on #888
I have looked into the issue. For the specified [swagger](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/storage-dataplane-preview/specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-06-12/blob.json), I have checked the SDK generation process and Yes. There are errors. Specifically, there are 3 paths that are causing errors:

1. /?comp=list
2. /{containerName}?restype

[2021-03-15 02:50] sarangan12 commented on #888
While trying to fix the above two issues, I have found a third issue with the SDK Generation. This issue is a bug with SDK generator and not related to storage-blob SDK.

The way we calculate whether the operation spec is an xml one (through isXML property) has a bug. I want to fix that also along with this issue to make sure the Storage Blob SDK is generated successfully.

[2021-03-15 03:16] qiaozha commented on #856
I am fine with this proposal. Just wondering if it's going to be a big change in the code structure?

[2021-03-15 03:31] qiaozha commented on #594
Maybe we could at least provide one simple example for customers just like track1 mgmt. SDK?  Otherwise it may cause user's confusion on how to use the track2 SDK once we publish it.  @nickzhums How do you think of it?
Actually, we also have sample repo for JS mgmt. SDK https://github.com/Azure-Samples/azure-samples-js-management. we can consider to point to this sample repo, but we will only add

[2021-03-15 03:49] qiaozha commented on #880
`--profile` is used for generating Azure Stack SDKs, they have different api version requirements in different RPs. https://github.com/Azure/azure-rest-api-specs/blob/master/profile/2020-09-01-hybrid.json
and we define the readme files for each profile in each RP's readme.typescript.md https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/read

[2021-03-15 04:13] nickzhums commented on #594
it will be great if we can show how to authenticate and make a simple request in README for Track 2 package (this is what track 1 package currently has, so would be a bummer if we don't continue it in track 2)

[2021-03-15 05:57] qiaozha commented on #785
The current track1 SDK is to return the result directly and customers can still use beginXXX to get a poller if they like. https://github.com/Azure/azure-sdk-for-js/blob/b679003645bceac0685826ead6e2df5a02b86322/sdk/compute/arm-compute/src/operations/disks.ts#L40

Not sure about other languages' SDKs but the Python track2 SDK will return a ARMPoller by default, and azure-mgmt-core will handle that

[2021-03-15 14:48] timotheeguerin commented on #880
@qiaozha so I believe  the issue is that profile in the configuration is initialized to an empty array, would profile ever be used with multiple value or this should be a single value?

[2021-03-15 17:34] ramya-rao-a commented on #887
Thanks for sharing the feedback @ffMathy
@joheredi Does our current work to move to the new Azure Core help with this or this would be more solvable via the low level client project?

[2021-03-16 01:57] qiaozha commented on #880
I believe a single value is just fine, but I thought autorest core handling every configuration key equally, why is this profile a little different ?

[2021-03-16 16:11] timotheeguerin commented on #880
Yes and no, for a little context on how configuration works in autorest.

For each yaml block that needs to be included it will merge that into the configuration, for each property the following can happen:
- If the 2 values are array then it combine them
- If one of the 2 value is an array then it happen the other value to the array
- If none of the values are array, the higher priority one remai

[2021-03-17 02:01] qiaozha commented on #880
interesting, Thanks for the detailed introduction of how autorest core handling configuration. Is it possible that the interpreter of the yaml condition !$(var) has changed ? like an empty array var would make this as true before but not now

[2021-03-17 06:20] timotheeguerin commented on #880
I don't think so but from looking at the commit history this used to not be an array(in v2). Do you know if this ever worked with track2/v3 generators?

[2021-03-17 07:50] qiaozha commented on #880
I searched for !$(profile) only readme.typescript.md and readme.csharp.md are found. Maybe we can ask .net SDK code generator owner whether they have similar case ? @allenjzhang

[2021-03-17 16:46] deyaaeldeen commented on #777
@qiaozha I think this issue is now resolved. Please feel free to reopen it if you think it is not.

[2021-03-17 16:46] #777 closed

[2021-03-17 22:24] deyaaeldeen commented on #881
@qiaozha I followed @joheredi instructions and confirm that I do not see the issue. Please feel free to reopen the issue if it still was not resolved on your end.

[2021-03-17 22:24] #881 closed

[2021-03-19 19:58] sarangan12 commented on #808
Duplicate of Issue https://github.com/Azure/autorest.typescript/issues/856

[2021-03-19 19:58] #808 closed

[2021-03-23 15:18] deyaaeldeen commented on #880
@qiaozha Thanks for reporting! based on the discussion here between you and @timotheeguerin, this issue is specific to Autorest itself. Can you please create an issue in their repo to get a better visibility with their team? cc @joheredi

[2021-03-23 15:18] #880 closed

[2021-03-24 03:59] sarangan12 commented on #856
Code complete with PR https://github.com/Azure/autorest.typescript/pull/890

[2021-03-24 03:59] #856 closed

[2021-03-24 19:53] jeremymeng opened #891 "Core v2 codegen generated some files with unused import"
src/generated/models/index.ts:10:1 - error TS6133: 'coreHttps' is declared but its value is never read.

10 import * as coreHttps from "@azure/core-rest-pipeline";
[code]

[2021-03-24 19:53] jeremymeng commented on #891
@sarangan12

[2021-03-26 20:22] joheredi opened #892 "Update Tracing generation"
@richardpark-msft added some changes for open telemetry in the PR: https://github.com/Azure/azure-sdk-for-js/pull/14208

We need to update the generated tracing statements to align with these changes, here are some of the points we may need to address:

- [ ] `CanonicalCode.UNKNOWN` => `SpanStatusCode.ERROR` & `CanonicalCode.OK` => `SpanStatusCode.OK`
- [ ] Bump @azure/core-tracing dependency vers

[2021-04-06 23:57] joheredi opened #896 "JSON media types are sent as binary"
@bterlson  reported this issue when an operation with multiple media types is generated. For example json and binary we handle both cases together in the following way

[code]

Which uses `mediatype: binary`

[code]

Which causes the request to be sent as binary. We need to make sure that the right media type is used

/cc: @deyaaeldeen @bterlson

[2021-04-07 10:18] ffMathy opened #897 "Not including response headers"
When fetching a response using the generated client in the browser, I only get the headers `Content-Type` and `Content-Size` in the `_response.headers` property of my response.

This is despite the fact that Chrome clearly shows many other headers included.

[2021-04-08 17:35] sarangan12 opened #898 "Issue with enum generation in reservations json"
Use the Swagger view-source:https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/reservations/resource-manager/Microsoft.Capacity/stable/2017-11-01/reservations.json to generate the SDK. Here, the `Location` property is not an extensible property. But, the SDK Generator is treating like one.

**Expected Code**

[code]

**Actual Code**

[code]

**Swagger Code**

[code]

[2021-04-10 01:56] KarishmaGhiya commented on #874
https://github.com/Azure/azure-sdk-for-js/pull/14067 reverts the issue we had about string literals. @jeremymeng is there anything else you'd like to be addressed?

[2021-04-12 17:23] deyaaeldeen opened #901 "[Core v2] Add parameter to allow insecure connection to be on by default"
This is needed so that the test suite for core v2 can work with the http test server

[2021-04-12 18:06] sarangan12 opened #902 "[V6] headerCollectionPrefix is not generated in V6 SDK Generator"
While migrating `storage-queue` SDK to V6 SDK Generator, I found the following issue. Per the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.QueueStorage/preview/2018-03-28/queue.json#L473), you can find the following JSON code:

[code]

The above JSON Code is supposed to generate the following TS Code:

**parameter

[2021-04-12 20:16] sarangan12 opened #903 "Merge CoreV2MigrationBranch to V6 Branch"
The work related to Core V2 Migration of V6 SDK Code Generator is available in this branch:  https://github.com/sarangan12/autorest.typescript/tree/CoreV2MigrationBranch

These code changes must be migrated to V6 Branch in the Azure Fork,

[2021-04-12 21:37] sarangan12 commented on #898
Confirmed with autorest crew today. The specfication is if there is no x-ms-enum extension, then by default, the enum will be considered extensible.

So, the code is working correctly, No pending action items in this issue. This can be closed.

[2021-04-12 21:37] #898 closed

[2021-04-12 22:23] sarangan12 commented on #806
Closing this in favor of https://github.com/Azure/autorest.typescript/issues/594

[2021-04-12 22:23] #806 closed

[2021-04-13 01:38] talor-hammond opened #904 "Any way to intercept and modify requests that are fired from the generated api-client?"
I want to modify `headers` of each request

For context: It's a matter of being able to add an `Authorization` header to each request, as our back-end checks this Auth header

[2021-04-13 06:27] sarangan12 opened #905 "[V6][Storage File Share] update does not have quotes"
In the Storage File Share Swagger, there is the following definition:

[code]

The above swagger produces the following line in the StorageFileClientContext file as:

[code]

The `update` does not have any quotes around it and causes build error.

[2021-04-13 06:34] sarangan12 opened #906 "[V6][Storage File Share]Incorrect content type"
In the Storage File Share swagger, the following definition is uses:

[code]

The expected content type is application/json. But the actual content type is different and must be fixed.

[2021-04-13 06:37] sarangan12 opened #907 "[V6][Storage Blob]Missing serializer property in the operation spec"
In the Storage Blob Swagger, there is an operation: `BlockBlob_Upload`. In the generated SDK, the operation spec refers to serializer. But, there is no serializer property defined in the file

[2021-04-13 06:40] sarangan12 opened #908 "[V6][Storage Blob] xmlName property is ignored"
In Storage Blob swagger, the xmlName property is ignored in the generated SDK. This is one of the issues that I have mentioned in the PR https://github.com/Azure/autorest.typescript/pull/889

[2021-04-13 06:42] sarangan12 opened #909 "[V6] Remove null on an optional property"
In the new V6 SDK generator, if a property is optional and also is nullable, then the generated SDK defines that property as:

[code]

This does not make much sense. It would be nice to have it as:

[code]

[2021-04-13 06:42] sarangan12 commented on #909
@joheredi What is your opinion on this issue?

[2021-04-14 14:56] ffMathy commented on #119
@RikkiGibson any plans on this in the future? Getting penalized by Google SEO due to the bundle size of this library.

[2021-04-14 18:16] ffMathy commented on #423
@joheredi I feel like the library should be tree-shakeable though, so that it'll work automatically.

[2021-04-20 06:28] sarangan12 commented on #594
@qiaozha As discussed in our meeting, I discussed the link idea with the rest of the autorest crew. The general consensus was that the samples link should be pointing towards the samples repository.

[2021-04-20 06:46] sarangan12 opened #912 "Creating the initial version of readme.md file"
In the SDK Generation Process, we normally use a readme.md file in our JS Repository (usually under the swagger folder). After discussion with @qiaozha, we should be generating this file automatically (as part of generate-metadata). So, this file will be created the first time. Then, this file can be used/updated per requirement by the developer. This feature is required for the migration of manag

[2021-04-20 06:50] sarangan12 opened #913 "Handle Conflicts in name between operation group and model name"
During the SDK generation, there are times when there will be a conflict when the operation group name and model name clashes. This happened so rarely in data plane. I used to handle it using transformations. After discussing with @qiaozha I found this happens lot more common in management plane. So, this must be handled within the generator himself.

[2021-04-20 07:31] qiaozha commented on #594
If that's the case, Could you point the sample link of mgmt. plane SDK to https://github.com/Azure-Samples/azure-samples-js-management this repo. Thanks

[2021-04-21 20:34] sarangan12 commented on #905
Code Complete with PR https://github.com/Azure/autorest.typescript/pull/914

[2021-04-21 20:34] #905 closed

[2021-04-22 16:52] deyaaeldeen opened #916 "[V4] Update generated readme"
To follow the same changes done here: https://github.com/Azure/azure-sdk-for-js/pull/14921.

[2021-04-23 21:13] sarangan12 commented on #907
Code Complete with PR https://github.com/Azure/autorest.typescript/pull/917

[2021-04-23 21:13] #907 closed

[2021-04-26 07:23] sarangan12 commented on #909
Created a PR for this issue at https://github.com/Azure/autorest.typescript/pull/919

[2021-04-26 16:04] sarangan12 commented on #913
Code Complete with PR https://github.com/Azure/autorest.typescript/pull/918

[2021-04-26 16:04] #913 closed

[2021-04-26 20:34] sarangan12 commented on #901
@sarangan12 Confirm with Jeremy and Close this task.

[2021-04-26 20:41] sarangan12 commented on #906
I wanted to ask you about the issue https://github.com/Azure/autorest.typescript/issues/906. During our discussion, you pointed out one of the operation id Share_CreatePermission the content type is incorrect. Now, I have checked the generated operationspec. It is:const createPermissionOperationSpec: coreHttp.OperationSpec = {
  path: "/{shareName}",
  httpMethod: "PUT",
  responses: {
    201: {

[2021-04-27 07:56] sarangan12 commented on #906
Had an offline discussion with @EmmaZhu in Teams and confirmed the generated code is correct. No more changes are required specific to this issue. Closing this issue.

[2021-04-27 07:56] #906 closed

[2021-04-28 14:47] sigmer commented on #872
Any thoughts on this? @amarzavery ?

[2021-04-28 17:46] #854 closed

[2021-04-28 17:46] #853 closed

[2021-04-29 00:06] ramya-rao-a commented on #594
@sarangan12 Would the link be passed via a flag to the auto rest command?

[2021-04-29 05:25] dw511214992 opened #920 "Autorest.typescript cannot finish when generating codes"
When generating codes with codegen, it may fall into endless loop and cannot finish. Please refer to pipeline for details: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=865921&view=logs&j=f38d9a4f-f3b8-55f9-3f85-04d40f5c1fc2&t=ceba0f41-7307-52b4-7c7a-37e724e7c1f1

[2021-04-30 20:27] sarangan12 opened #931 "arm-datafactory SDK generation takes hours to complete"
The arm-datafactory SDK takes several hours to generate the SDK. This must be investigated.

**Command Used**
[code]

[2021-05-04 18:28] sarangan12 commented on #901
For rest-pipeline, by default we refuse to call http links. In order to enable that, in each request we should pass the flag `allow-insecure-connection` as part of requestOptions.

1. Introduce a new flag in V6 SDK Generator
2. If the flag is set to true, then set the allow-insecure-connection to true in the requestOptions.

[2021-05-05 03:29] sarangan12 commented on #909
Code complete with PR https://github.com/Azure/autorest.typescript/pull/919

[2021-05-05 03:29] #909 closed

[2021-05-05 07:24] sarangan12 opened #924 "[V6][Storage Blob]isXML is not set correctly in the operation spec"
In Storage Blob Swagger, there is an operation id `PageBlob_UploadPages`. If you look at the operation spec in the V4 generator, it is:

[code]

There is no problem with the above code. Specifically look at the last two lines, the `isXML` is set to true and `serializer` is also set to xml serializer.

Now, Let us take a look at the operation spec from the V6 SDK generator. It is:

[code]

Now, loo

[2021-05-07 15:22] craignicol opened #930 "[typescript] Endpoint with string content produces unbuildable code"
With the following input:
[code]

The typescript emitter creates a `data.ts` file with the following specification:

[code]

The `bodyMapper` property cannot be mapped to a valid type:

[code]

**Expected behavior**
Valid YAML produces a valid typescript file

**Additional context**
[code]

[2021-05-10 19:42] #924 closed

[2021-05-10 19:43] #908 closed

[2021-05-11 00:46] deyaaeldeen commented on #850
Has been resolved by https://github.com/Azure/autorest.typescript/pull/922

[2021-05-11 00:46] #850 closed

[2021-05-11 17:55] joheredi opened #936 "[LRO] pollUntilDone to throw on "failed" or "canceled" status."
For consistency, we need to throw an error when the LRO returns a "failed" or "canceled" status. We should preserve the response body in the error message.

For reference, this is what Python is doing:
https://github.com/Azure/azure-sdk-for-python/blob/99ba7fa4baf6ee4be4082097315a46f2090e438d/sdk/core/azure-core/azure/core/polling/base_polling.py#L62

[2021-05-12 00:40] sarangan12 commented on #901
Jeremy has completed this task in the CoreV2Migration Branch. https://github.com/sarangan12/autorest.typescript/commits/CoreV2MigrationBranch

[2021-05-12 00:40] #901 closed

[2021-05-12 01:28] deyaaeldeen opened #937 "LRO's generic poller constructor should accept a custom polling method"
So if a package author is not happy with the standard polling algorithm, they can provide their own custom one.

[2021-05-12 01:29] deyaaeldeen opened #938 "Provide an LRO overload that returns the result directly"
As per the plan discussed here: https://github.com/Azure/azure-sdk/issues/2638#issuecomment-816936864. The name should have the `begin` prefix and `AndWait` suffix.

[2021-05-12 01:33] deyaaeldeen commented on #785
@qiaozha I opened a separate issue for your request here: https://github.com/Azure/autorest.typescript/issues/938

This issue as originally described is now resolved.

[2021-05-12 01:33] #785 closed

[2021-05-12 05:46] sarangan12 commented on #891
To add more context to this issue, in the file `.\autorest.typescript\test\integration\generated\additionalProperties\src\models\index.ts` we have the imports:

[code]

(In the above imports, we need to change the coreHttps, which is a different issue). Here, the `coreHttps` is never used in the code.

Now, take a look at this file, `.\autorest.typescript\test\integration\generated\bodyFormData\sr

[2021-05-12 06:46] sarangan12 commented on #891
A little more context. In addition to the above scenario, there is another scenario also. In the file, `.\autorest.typescript\test\integration\generated\additionalProperties\src\operations\pets.ts`, you can find the following import:

[code]

Now this import is never used in the file.

Now, let us take a look at this file, `.\autorest.typescript\test\integration\generated\mediaTypesV3\src\operatio

[2021-05-12 23:28] deyaaeldeen commented on #936
code complete

[2021-05-12 23:28] #936 closed

[2021-05-13 03:37] deyaaeldeen opened #944 "Paging LROs should return a poller"
Currently they return the paged results directly

[2021-05-14 19:06] deyaaeldeen commented on #938
Code complete

[2021-05-14 19:06] #938 closed

[2021-05-21 18:46] sarangan12 opened #947 "Core V2 Migration Pending Test Cases - Non LRO Related"
In the `test/integration/header.spec.ts` file, two of the following test cases are skipped:

1. should send and receive string type headers
2. should send and receive enum type headers

The return value has been changed from undefined (in core-http) to empty object (in core-client). We need to investigate the root cause and then add these test cases.

In the `test/integration/bodyFormData.spec.ts`

[2021-05-22 11:04] #466 closed

[2021-05-24 16:33] sarangan12 opened #949 "Core V2 Migration Pending Test Cases - Non LRO Related - Part I"
In the `test/integration/azureSpecialProperties.spec.ts`, we have the following code:

[code]

In the above code we have to remove the comments from the last assert. We should find why the `authorization` header is not returned and then remove the comments.

[2021-05-24 20:23] sarangan12 opened #952 "Core V2 - Missing User Agent"
While moving to the Core V2, we are not adding the user agent in the options. This must be fixed.

[2021-05-24 22:22] sarangan12 commented on #949
Code Complete with https://github.com/Azure/autorest.typescript/pull/950

[2021-05-24 22:22] #949 closed

[2021-05-26 23:00] deyaaeldeen commented on #947
Code complete

[2021-05-26 23:01] deyaaeldeen commented on #903
Code complete

[2021-05-26 23:01] #903 closed

[2021-05-26 23:01] deyaaeldeen commented on #891
Code complete

[2021-05-26 23:01] #891 closed

[2021-05-31 06:18] sarangan12 opened #993 "[v6] @azure/core-util is missing in the package.json"
In the arm-compute generated library (using V6 Code Generator), we have a file called `lroPoller.ts` which imports the `@azure/core-util` package.  But, this `@azure/core-util` package is not imported in the `package.json` file. So, this package must be included in the `package.json` using the `packageFileGenerator.ts` file.

**Why wasn't this error not caught in the integration test cases?**
This

[2021-05-31 21:55] sarangan12 commented on #993
If `@azure/core-util` cannot have a GA release at this point, I can just clone the `delay` function. That will also resolve the issue

[2021-06-01 19:26] ffMathy opened #994 "All fields are optional"
Even if I have a field that is required and not nullable according to Swagger, the emitted typescript is:

[code]

The `?` shouldn't be there.

[2021-06-01 21:00] joheredi opened #995 "[Rest Level Client] Generate Rest Level Client"
Use `--rest-leve-client` flag to generate REST client SDK. Currently this functionality is implemented in a branch [here](https://github.com/joheredi/autorest.typescript/tree/prototype-path-lowlevel). This work item is tracking the work to port over the changes and merge into main.

[2021-06-01 21:02] joheredi opened #996 "[Rest Level Client] Add testserver coverage for Body String"

[2021-06-01 21:03] joheredi opened #997 "[Rest Level Client] Add test server coverage for Body Complex scenarios"
https://github.com/Azure/autorest.testserver/blob/main/swagger/body-complex.json

Make sure to validate UX with the discriminated properties. For example

[code]

[2021-06-01 21:04] joheredi opened #998 "[Rest Level Client] Add testserver coverage for polymorphic testserver scenarios"
https://github.com/Azure/autorest.testserver/blob/main/swagger/complex-model.json

[2021-06-01 21:11] joheredi opened #999 "[REST Level Client] Add testserver coverage for head scenarios"
https://github.com/Azure/autorest.testserver/blob/main/swagger/head.json

[2021-06-01 21:15] joheredi opened #1000 "[Rest Level Client] Support pagination"
Design a function helper that can help users handle pageable operations

[2021-06-01 21:16] joheredi opened #1001 "[Rest Level Client] LRO Function helper"
Desing an LRO function helper that helps handling LRO operations, we should at least support  `operation-location`/`location` strategy.

[2021-06-02 07:03] dw511214992 opened #1003 "[Track2] Add the api.md generated by api extractor to published package"
api.md generated by api extractor is important for changelog detection tool. So it should be added in published package. However, it's ignored in packed tgz package. The "files" in package.json should includes api.md:

![image](https://user-images.githubusercontent.com/40835867/120438230-af260980-c3b3-11eb-9c96-126b9bf9db94.png)

[2021-06-02 07:08] dw511214992 opened #1004 "[Track2] Create ServiceClient failed: Class constructor ServiceClient cannot be invoked without 'new'"
reported by @colawwj
![image](https://user-images.githubusercontent.com/40835867/120438626-2fe50580-c3b4-11eb-957f-56ac93fa4f9a.png)

[2021-06-02 07:12] dw511214992 opened #1005 "[Track1] User Agent Can be Override"
I do a test to try to override the Use-Agent in Track1 JS SDK, and it succeed. The Following is the details:
Codes:
[code]
Requests Header captured by [fiddler](https://www.telerik.com/fiddler):

![image](https://user-images.githubusercontent.com/40835867/120439204-d6c9a180-c3b4-11eb-97c3-690301c1c0cb.png)

I think the user-agent should only be extended, instead of overrode. Please check it.

[2021-06-02 15:13] ffMathy commented on #887
@ramya-rao-a thank you for your reply.

Not sure actually. Would it be possible to show some kind of example of how to do this with the new Azure Core?

Is there any documentation on the new way of doing things?

[2021-06-02 15:49] ffMathy opened #1006 "Issues with latest package"
My Swagger JSON is as follows:

[code]

Now, I am generating my client with the following command-line:

[code]

But when I try to use it, with the code:

[code]

Then I get the error:

![image](https://user-images.githubusercontent.com/2824010/120511579-d3411500-c3ca-11eb-8124-723365af5872.png)

[2021-06-02 22:20] sarangan12 commented on #993
Code Complete with https://github.com/Azure/autorest.typescript/pull/1007

[2021-06-02 22:20] #993 closed

[2021-06-02 22:21] sarangan12 commented on #1003
Code Complete with https://github.com/Azure/autorest.typescript/pull/1007

[2021-06-02 22:21] #1003 closed

[2021-06-02 22:21] sarangan12 commented on #902
Code Complete with https://github.com/Azure/autorest.typescript/pull/1007

[2021-06-02 22:21] #902 closed

[2021-06-02 22:55] ramya-rao-a commented on #1006
Thanks for reporting @ffMathy

@sarangan12 Can you please take a look?

[2021-06-03 01:04] sarangan12 commented on #594
@deyaaeldeen Can you update this issue with the current status? Last week, there were several changes that went into the readme file. Can you please confirm if that resolves this issue?

[2021-06-03 06:05] sarangan12 commented on #1006
It is the same as the issue reported in https://github.com/Azure/autorest.typescript/issues/1004. I am able to reproduce the issue locally.

Now, when I use the same test file `within` the V6 SDK Generator package as one of the integration test case, I do not get this error. It works fine.

But, when I use the released `@autorest/typescript` package and then use it for the same swagger, I get this

[2021-06-03 06:21] ffMathy commented on #1006
Wow you guys impress me with your low response times and professionalism around this. Keep it up! 😍

[2021-06-03 06:22] ffMathy commented on #1006
I should note that despite saying it's for the latest package, I don't actually know if it's only the latest package, or if it affects other builds too.

[2021-06-03 12:50] bobalong79 opened #1008 "Add pagination support for POST operations"
Some API endpoints that support paing also require POST data, e.g. https://docs.microsoft.com/en-us/rest/api/cost-management/query/usage requires a body such as

[code]

However autorest assumes that all NextLink operations use GET, see https://github.com/Azure/autorest/tree/main/docs/extensions#x-ms-pageable

This is a feature request to include parameters in generated `*Next` method signatures t

[2021-06-03 17:25] deyaaeldeen commented on #594
code complete with https://github.com/Azure/autorest.typescript/pull/971

Here is an [example](https://github.com/deyaaeldeen/azure-sdk-for-js/blob/382a17102dfd6f7eb2fbb47bbc20e6b51b8b6901/sdk/textanalytics/ai-text-analytics/README.md)

[2021-06-03 17:25] #594 closed

[2021-06-03 18:47] deyaaeldeen opened #1009 "Readme for mgmt pkgs should point to mgmt samples repo"
Link:  https://github.com/Azure-Samples/azure-samples-js-management

This idea was discussed in https://github.com/Azure/autorest.typescript/issues/594

[2021-06-04 00:33] ramya-rao-a commented on #1005
Thanks for finding this @dw511214992

@sarangan12, Can you please check with the auto rest crew as to what the behavior is in other languages (both Track 1 & Track 2)?

Our new SDK guidelines does say that we should only be allowing adding to the default user agent string and not replacing it.
I guess, we have been using the convenience layer on top of the generated code to ensure we append the us

[2021-06-04 17:59] deyaaeldeen opened #1012 "Incorrect handling of parameters with default constants"
This is the output:
[code]

After some debugging, I found this is the swagger bit that causes the issue (ignore the paths):
[code]

The problem is in the ApiVersion parameter. It is a constant with a default value. This is a special case because the default for such parameter is the default constant.

[2021-06-04 18:29] sarangan12 commented on #1005
@dw511214992

Thanks a lot for reporting this issue. I will work on fixing the issue and update you.

@ramya-rao-a

Yes. I will sync up with the autorest crew and get their behavior also and document it here.

[2021-06-04 19:00] maorleger opened #1013 "Avoid `const enum` when generating extensible enums"
I recently generated `@azure/keyvault-admin` using `v6.0.0-alpha.20210527.9` and the extensible enums were generated as:

[code]

Since `const enum`s are erased at compilation (and the TS compiler will inline the strings) it makes them unusable using vanilla JS.

Should we use `enum` instead of `const enum` and pay the extra generated code cost so that vanilla JS can use the known values?

A few a

[2021-06-06 08:02] #732 closed

[2021-06-06 08:02] #384 closed

[2021-06-07 01:43] dw511214992 commented on #1005
Hi @ramya-rao-a The [telemetry](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/8a8582d5-8fdf-4014-8cf9-4d183c5db2c8/ReportSection) count JS SDK's request based on User Agent, and logic is:
[code]
If it can be override, the data counted in telemetry will be wrong, and many requests coming from JS SDK will not be counted.

<meta name="ProgId" content="Word.Document">
<m

[2021-06-07 18:48] deyaaeldeen opened #1015 "Handling constants"
Make sure to handle all cases here correctly as expected:
https://microsoft.sharepoint.com/:x:/r/teams/AzureDeveloperExperience/_layouts/15/guestaccess.aspx?e=8ZVun7&share=EaK1lOo3obFKs7bw0eFl55UBizAQVnmqxMeApLsp9FeFNw

[2021-06-07 19:16] deyaaeldeen commented on #1009
Although, we would like the approach to samples to be unified between management-plane and data-plane one way or another, this is not yet a reality. JS will follow what Python does at the moment and point to the mono repo of management-plane samples.

[2021-06-07 21:54] ramya-rao-a opened #1017 "Add note to readme pointing people interested in v4 to the right place"
This repo has been the house for the v4 code generator which has a different package name than our v6 code generator which is now in the master branch.

For those customers landing here looking for v4, we should add a pointer to the readme of the v4 branch.
A small description of the difference would be useful to add in the v6 readme.
Also a disclaimer that v6 is still in preview

And we should do

[2021-06-07 22:41] #1012 closed

[2021-06-08 01:52] ramya-rao-a commented on #887
@sarangan12 Can you share pointers with @ffMathy as to how to use our latest SDK code generator that is still in preview?

[2021-06-08 01:54] ramya-rao-a commented on #887
@ffMathy Meanwhile you can refer to https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/README.md and https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-rest-pipeline/documentation/core2.md for information around the current and new Azure Core packages

[2021-06-08 02:22] sarangan12 commented on #1004
I have analyzed the issue and am able to reproduce the issue. This issue happens only in the following case: With the new V6 Generator **AND** core V2 Libraries.

**Why?**
1. Before Core V2 Libraries, all our generated libraries use `core-http` library. This `core-http` library is built with a [`tsconfig.json`](https://github.com/Azure/azure-sdk-for-js/blob/0dafe59229590884d1c0cf6930c8bb966f2e9762

[2021-06-08 04:37] ffMathy commented on #887
Yeah I've actually seen that guide, but I don't think it lives up to the rest of the documentation Microsoft provides in general.

It needs more examples for different use cases etc. It's very limited, and I can't see where it says how to add Middleware.

[2021-06-08 04:39] sarangan12 commented on #1006
@ffMathy I have analyzed the issue and found the root cause of the issue. A detailed explanation and a temporary workaround has been provided at https://github.com/Azure/autorest.typescript/issues/1004#issuecomment-856387723.

Once a permanent solution has been decided upon and implemented, I will provide the update in https://github.com/Azure/autorest.typescript/issues/1004. For now, you could fo

[2021-06-08 04:39] #1006 closed

[2021-06-08 04:50] ramya-rao-a commented on #887
Fair

I was focusing on the fact that moving to the new Azure Core libraries would remove the dependency on node-fetch and did not pay attention to rest of the issues like "node-based language but still doesn't support node's http library"

Can you elaborate on this please?

[2021-06-08 05:22] sarangan12 commented on #1005
I have synched up with other SDK owners and confirmed that they are infact appending the user provided user-agent value (prepending in case of Track 2). So, I have to do the same for Track 1 & Track 2 SDK Generators.

For Track 1 SDK Generator, I am planning to use the user-agent value in the following format: `azure-sdk-for-js/<package_name>/<package_version>  ms-rest-js/<package_version><platfor

[2021-06-08 05:24] sarangan12 commented on #952
The user-agent work is handled as part of the issue: https://github.com/Azure/autorest.typescript/issues/1005. Closing this now.

[2021-06-08 05:24] #952 closed

[2021-06-08 05:33] dw511214992 commented on #1004
Hi @sarangan12 In Option 1, you say we could change the target of `core-client` and `core-rest-pipeline` packages to `es2015`. Here, should `es2015` should be changed to `es5`?
About the propoesed options, I prefer set target of `core-client` and `core-rest-pipeline` packages to `es5` becasue I'm worrying that some customers' code is based on `es5` and may encounter error when our package is using

[2021-06-08 05:38] ffMathy commented on #1004
Pretty sure webpack includes babel, which will transpile for most customers, even if picking the es2015.

[2021-06-08 05:39] sarangan12 commented on #1004
@dw511214992 Yes. Option 1 is to change the target of `core-client` and `core-rest-pipeline` to `es5`.

[2021-06-08 05:41] sarangan12 commented on #1004
@ffMathy This change would impact both node and web scenarios. So, though dropping the support for es5 will not cause a big impact for web users (because of babel), the node only customers may still encounter an error.

[2021-06-08 05:53] ffMathy commented on #1004
@sarangan12 people also use webpack for node projects. It's very rare that webpack is not used.

[2021-06-08 05:57] ffMathy commented on #887
Yeah sure: https://en.m.wikipedia.org/wiki/Adapter_pattern

In Swaggergen you can define an adapter to "tell" Swagger how to make requests. Essentially just an interface you can implement with a `sendRequest` method, which you can then override and pass an instance of that implementation in via the constructor to the client.

[2021-06-08 06:01] sarangan12 commented on #1004
@ffMathy Agreed. But, I still think we cannot make a design decision based on the assumption that the customers would be using something external.

[2021-06-08 15:57] joheredi commented on #887
@ffMathy we now allow setting your own http client in the client options when instantiating a generated client.

Here's a sample of using a custom HttpClient and also pipeline policies as Middleware, hope this is helpful.

Note: `AdditionalPropertiesClient` is my generated package with the latest version of `@autorest/typescript@beta`

[code]

[2021-06-08 16:00] ffMathy commented on #887
@joheredi this is fantastic - any chance it can make it to the documentation, so future users can also understand it?

[2021-06-08 16:18] jeremymeng commented on #1004
I believe we target es5 in core-http because we need to support IE11 for storage.

[2021-06-08 17:33] xirzec commented on #1004
Yes, the only reason we used es5 before was to support IE11, which hopefully will be a non-goal soon.

So, I think our generated libraries should update their target to something more modern and in-line with our support matrix.

[2021-06-08 17:37] marche0133 opened #1019 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
**Describe the bug**

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/73860273/121235835-24795a80-c84a-11eb-8632-a6c9aed47175.png)

After a recent install of npm and node, the autorest javascript and autorest java does not work. I tried to increase the memory by
--max-memory-size=3888 but does not work.

npm 6.14.13
node v14.17.0
autorest 3.2.3

autorest packages
![image](htt

[2021-06-08 17:38] marche0133 opened #1020 "Question: How to use HMAC signature in generated client code to sign the requests?"
I used autorest to generate ts client code from swagger definition. I need to sign the requests to REST API using the HMAC signature. The generated signature will be added to each request in a custom authorization header.
How can I achieve this using autorest? set add-credentials: true?

[2021-06-08 18:12] sarangan12 commented on #1019
@marche0133 Thanks for reporting this issue. Let me try this out locally. I believe this might be an autorest core issue. I will confirm that and update the issue soon. If that is the case, I will raise this in the autorest repo.

[2021-06-08 20:20] marche0133 commented on #1019
Hi, I upgrade Node to latest version v16 and delete npm and npm-cache folder in roaming, the autorest works now.

[2021-06-08 20:31] sarangan12 commented on #1019
@marche0133 Thanks for the update, Closing this issue now.

[2021-06-08 20:31] #1019 closed

[2021-06-08 21:03] sarangan12 commented on #904
@talor-hammond Thanks for raising this issue. You can modify the headers of each request. You could do this by adding a custom policy. A sample of the same could be found [here](https://github.com/Azure/autorest.typescript/blob/main/test/integration/httpInfrastructure.spec.ts#L26)

In the sample, you could see that the request URL is modified to avoid caching. Similarly, You could modify the heade

[2021-06-08 21:25] sarangan12 commented on #848
As discussed in the csharp issue, you could simplify the swagger and remove the allof operator. I would definitely recommend you to modify the swagger.

On the other hand, with the latest [JS SDK generator](https://www.npmjs.com/package/@autorest/typescript) this issue has been resolved. I have checked the given swagger and it generated the following code:

[code]

Please let me know if you have a

[2021-06-08 21:30] sarangan12 commented on #883
@andreskim Thanks for considering autorest for generating SDK for your service. We could not add `skipLibCheck: true` by default to all the generated libraries. But, I realize that there might be cases (such as yours) where you know you would want to pass such a check. I think I could add a flag to achieve this. I will work on that and update this issue soon. Thanks.

[2021-06-08 22:30] #848 closed

[2021-06-09 02:44] ramya-rao-a opened #1021 "Dropping support for Node.js versions that have reached end of life"
Our [support policy](https://github.com/Azure/azure-sdk-for-js/blob/master/SUPPORT.md#microsoft-support-policy) does not guarantee support for Node.js versions that have reached end of life.

We have the below generated in the readme when using the v4 code generator

[code]

This should be replaced with

[code]

In the v6 code generator, in addition to the above, the `engines` field in the generat

[2021-06-09 06:17] sarangan12 commented on #920
This is related to https://github.com/Azure/azure-sdk-for-js/pull/15106. We have already discussed offline and decided that it would be etremely difficult to trace this long running op (it eventually completed succesfully) in V4 generator. The same does not happen in V6.

Closing this issue.

[2021-06-09 06:17] #920 closed

[2021-06-09 15:58] sarangan12 commented on #994
@ffMathy Thanks for raising this issue. I have looked into the specific issue and here is what I found. Let me give you an example. First let us take a look at the swagger [here](https://github.com/Azure/azure-rest-api-specs/blob/d95c18e2d5fc678a1453c454d746fdce22d30122/specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchindex.json#L1198#L834)

[code]

In the above swagge

[2021-06-09 17:22] marche0133 opened #1023 "Question: How to support Polymorphic with Discriminator"
I have following Polymorphic classes in source code and I found after running autorest, the child class will be empty. The child class mapper will also be empty which will fail the requests using the child class during serializeComposite() it because there is no modelProperties in it.

Abstract class:
![image](https://user-images.githubusercontent.com/73860273/121400090-0116e400-c90c-11eb-9d51-2fc

[2021-06-09 18:38] sarangan12 commented on #883
@andreskim After discussion with my team, I believe it is not required to add this flag in the generator. Because, each project might have unique requirements around tsconfig flags and it would be too cumbersome to add flags for each one in the generator. (You can find the discussion in this issue: https://github.com/Azure/autorest.typescript/pull/1022)

My suggestion would be to:

1. Generate you

[2021-06-09 19:56] sarangan12 opened #1026 "[v6] Update target to v6 in tsconfig of generated SDKs"

[2021-06-09 20:41] sarangan12 commented on #1008
Thanks @bobalang for the suggestion. But, the general Autorest guideline is that "The request to get the nextPage will always be a Get operation". However, I will discuss with Autorest crew to see if it is viable to include this feature. Until then, I am moving this issue to our backlog. Thanks

[2021-06-09 20:49] sarangan12 commented on #613
After a recent discussion with Deya, he is booked for this month. So, Assigning this task to myself.

[2021-06-09 20:51] ramya-rao-a commented on #1021
@deyaaeldeen Can you update https://github.com/deyaaeldeen/azure-sdk-for-js/blob/master/common/tools/add-identity-mgmt-lib.js as well?

[2021-06-09 21:01] deyaaeldeen commented on #613
@sarangan12 thanks for taking on it! My approach for this issue would be to make core-lro export [LROPoller](https://github.com/Azure/autorest.typescript/blob/056566065dd8387ec2c928d5766c3d7f72b4f6c1/src/lro/lroPoller.ts#L20). On the other hand, I am hesitant to export `shouldDeserializeLRO` from core-lro because I never really took a closer look at this function and I wonder if we can get rid of

[2021-06-09 21:29] deyaaeldeen commented on #1021
@ramya-rao-a done: https://github.com/Azure/azure-sdk-for-js/pull/15648.

[2021-06-09 22:45] deyaaeldeen commented on #1021
code complete

[2021-06-09 22:45] #1021 closed

[2021-06-10 08:08] dw511214992 opened #1028 "Add CHANGELOG.md to published package"
This is a new requirements, which similar to https://github.com/Azure/autorest.typescript/issues/1003

- `CHANGELOG.md` will be included to indicate what changes happen in the new released package.

[2021-06-10 15:49] ffMathy commented on #1004
Any timeframe on this? And is there a workaround while we wait?

[2021-06-10 16:26] sarangan12 commented on #1004
@ffMathy I am working on it in https://github.com/Azure/autorest.typescript/pull/1027. It should be released before 06/15.

[2021-06-10 16:26] ffMathy commented on #1004
Awesome @sarangan12 - you're the best! ❤️

[2021-06-10 17:40] sarangan12 commented on #1004
The PR https://github.com/Azure/autorest.typescript/pull/1027 has been merged. Code changes will be released in the next preview (which will be released before 06/15)

[2021-06-10 17:40] #1004 closed

[2021-06-10 17:40] sarangan12 commented on #1026
The PR https://github.com/Azure/autorest.typescript/pull/1027 has been merged. Code changes will be released in the next preview (which will be released before 06/15)

[2021-06-11 17:45] xirzec commented on #681
@joheredi @sarangan12 we can consider this done, I think?

[2021-06-11 17:48] deyaaeldeen commented on #681
Yes this is done now and the flag is `--use-core-v2`.

[2021-06-11 17:48] #681 closed

[2021-06-11 18:21] xirzec opened #1032 "[Epic] The Road To LLC"
### The Road To LLC
#### (AKA the work needed to fully generate future beta.1s)

#### Broader AutoRest Work

- [ ] Support anyOf/oneOf https://github.com/Azure/autorest/issues/4118
- [ ] Support for multiple swagger input

#### Generator Output Improvements

- [ ] Extend the common package tsconfig #809
- [ ] Update metadata generation to be more modern / follow template conventions for track2
- [

[2021-06-11 21:57] deyaaeldeen opened #1034 "LROs should respect the retry-after header"
When the service's response contains a retry-after header, the poller should use its time value to be the new polling interval.

[2021-06-12 22:22] DavidNorena commented on #1004
is there a way we can test this before preview ?

[2021-06-13 04:41] sarangan12 commented on #904
No more action items pending on this issue. Closing this issue. Feel free to reopen if you encounter the same issue again

[2021-06-13 04:41] #904 closed

[2021-06-13 04:43] sarangan12 commented on #883
No more action items pending on this issue. Closing this issue. Feel free to reopen if you encounter the same issue again

[2021-06-13 04:43] #883 closed

[2021-06-13 04:45] sarangan12 commented on #994
No more action items pending on this issue. Closing this issue. Feel free to reopen if you encounter the same issue again

[2021-06-13 04:45] #994 closed

[2021-06-13 06:01] ffMathy commented on #994
Thank you! 🙏

[2021-06-14 16:14] sarangan12 opened #1035 "[v6] - Incorrect API Versions repeatedly added to the request URL"
_(Issue created from the details obtained from email correspondence)_

RP: network
Tag: package-2020-08
Testing code:

[code]

Error Responded by Service:

[code]
To catch why the service returns invalid api version, we use Fiddler  to capture the request and find the sdk’s request url is:

https://management.azure.com/subscriptions/eece696d-f03b-47a5-9e4c-157d7ad85b20/providers/Microsoft.Network/

[2021-06-14 23:39] sarangan12 commented on #1005
Code complete with PR https://github.com/Azure/autorest.typescript/pull/1033. Will be released tomorrow (06/15)

[2021-06-14 23:39] #1005 closed

[2021-06-15 00:29] sarangan12 commented on #1004
@ffMathy After release if you use `autorest --reset` command, the local cache should clear and next time it should pick the latest preview version. Alternatively, you could use `--use=@autorest/typescript@1.0.0-beta.3` in the autorest command to pick a specific version.

[2021-06-15 00:37] DavidNorena commented on #1004
sarangan12 the beta version doesnt exists yet, or am I missing something ?

[2021-06-15 00:41] sarangan12 commented on #1004
@DavidNorena It is 'After the release'. The beta.3 version has not been released yet. It will be released on Tuesday

[2021-06-15 00:43] sarangan12 commented on #1035
@dw511214992 I have found the underlying root cause of this issue. It is in core-client package. I am almost complete with my fix. Need to test a few other test cases. Will create the PR for the same tomorrow

[2021-06-15 04:14] ffMathy commented on #1004
@sarangan12 great! What is with the version ING though? Why is the alpha version 6.0.0? I'd assume it was a later version than the beta.

[2021-06-15 09:20] dw511214992 opened #1037 "Response missed in Track2 SDK"
Swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/resources.json#L2430-L2468

Track1:

Method:
[code]
Response Model:
[code]
Track2:
[code]
Comparing the responses of methods in Track1 and Track2, we can find there is no response in Track2 and we cannot get any information from the rest api.

[2021-06-15 18:18] ramya-rao-a commented on #1004
Good question @ffMathy!

The latest code generator goes by a new package name `@autorest/typescript` while the older one was `@microsoft.azure/autorest.typescript` which has v4 as the latest version. v5 for the latter is still in "preview" and is used internally for some of the Azure packages which will move off of it soon. We went with v6 for the newer code generator so that it is easy for us to

[2021-06-15 18:22] deyaaeldeen commented on #916
code complete in https://github.com/Azure/autorest.typescript/pull/968

[2021-06-15 18:22] #916 closed

[2021-06-15 18:31] ffMathy commented on #1004
Well I suppose it's fine if you clearly deprecate the old package and link to the new one.

If you don't though, its version should be 7 in my opinion.

[2021-06-15 18:42] deyaaeldeen commented on #1037
I am looking at the swagger here: https://github.com/Azure/azure-rest-api-specs/blob/61e7148e9592c5efc95e5c16a5bb4f2dc26d6de0/specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/resources.json#L2454. Why the responses section does not have an entry for 200?

[2021-06-15 19:10] #1034 closed

[2021-06-15 20:35] deyaaeldeen commented on #613
@sarangan12 I reassigned this issue to me because I was told we should not depend on core-client in core-lro and it is not straightforward to abstract core-client away in the lro files. I have an idea and hopefully will get it done in the July milestone.

[2021-06-16 07:09] ffMathy commented on #1004
Also @ramya-rao-a, if the new package started at 1.0, what is this?
![image](https://user-images.githubusercontent.com/2824010/122173823-76d9fd00-ce82-11eb-988f-b97763af815f.png)

That's just even more confusing. In fact, I believe installing the package now with NPM would result in it fetching 6.0, because it it a later version.

[2021-06-16 11:20] dw511214992 opened #1038 "[Track1] The generated package.json has wrong homepage and misses autoPublish"
In https://github.com/Azure/azure-sdk-for-js/pull/15767 and https://github.com/Azure/azure-sdk-for-js/pull/15583, the generated package.json has wrong homepage and misses autoPublish.
To fix it in js sdk, I create a PR: https://github.com/Azure/azure-sdk-for-js/pull/15768

[2021-06-16 18:01] deyaaeldeen commented on #1004
@ffMathy you do not need to install this package manually at all. Autorest will download whatever is tagged with latest on npm when you ask for the typescript code generator. You can confirm this by running the autorest command and inspect the printed log on the console for versions but make sure to not specify any versions in the arguments.

That being said, I see your point that this could be co

[2021-06-16 23:59] ramya-rao-a commented on #1038
@dw511214992 Can you share the exact command you used to generate the package? And which version of the code generator did you end up using?

[2021-06-17 00:36] jeremymeng opened #1039 "GeneratedClient constructor should not mutate the options bag"
my convenience layer code creates two clients using the same options bag:
[code]
It leads to duplicate library infor in user-agent header for the second client because the generated client's constructor updated  options.userAgentOptions.userAgentPrefix.  I fixed it by

[code]

[2021-06-17 02:12] dw511214992 commented on #1038
Hi @ramya-rao-a The PR is generated by @sarangan12. @sarangan12 Could you please provide the command you used?

[2021-06-17 04:23] ffMathy commented on #1004
Alright. I agree with unpublishing though.

Also, what about the tags here? https://github.com/Azure/autorest.typescript/releases

It says a 6.0.0 version was released relatively recently. That's super confusing as well. It also made me wonder if 6.0 was the active version.

[2021-06-17 05:10] sarangan12 commented on #1035
I will work on getting the core-client package released tomorrow.

[2021-06-17 08:23] sarangan12 commented on #1037
@dw511214992 I have looked into this issue and the swagger. I agree that the V4 version of the SDK is producing a body of type boolean. But, per swagger there is no body defined. So, I will consider the V4 version only as a bug. The V6 version is working correctly per the swagger.

Also, I have checked the operation spec in the v4 generator. So, even though the response has a body I do not see it

[2021-06-17 16:04] propheel opened #1040 "JSON object passed as a parameter loses properties of the inherited class"
Hi, I'm using `6.0.0-alpha.20210514.1` version to generate code for [this PR](https://github.com/Azure/azure-rest-api-specs/pull/14871)

The problem is whenever POST operation accepts JSON object in body that has its schema defined as a base class then when I pass some object of class that inherits the base class all its own properties are gone in the request - only base class properties are prese

[2021-06-17 17:18] sarangan12 commented on #1020
No more action items pending on this issue. If you still face any issues, please reopen the issue. Thanks

[2021-06-17 17:18] #1020 closed

[2021-06-17 18:52] ramya-rao-a opened #1041 "Update latest version to be v6"
This repository house 2 packages that work with `autorest` in different branches, both generate TS SDKs for given swagger file input
- The `v4x` and `v5x` branches house v4 and v5 of the [@microsoft.azure/autorest.typescript](https://www.npmjs.com/package/@microsoft.azure/autorest.typescript) package
- The `main` branch houses the new package [@autorest/typescript](https://www.npmjs.com/package/@a

[2021-06-17 18:53] ramya-rao-a commented on #1004
Thanks for all the feedback @ffMathy!

We had another round of internal discussions and have decided to go back to using v6 to avoid the confusion.
Logged https://github.com/Azure/autorest.typescript/issues/1041 to track the next steps here

[2021-06-17 21:56] sarangan12 commented on #1039
Code complete with https://github.com/Azure/autorest.typescript/pull/1042. Will be included in the next release.

[2021-06-17 21:56] #1039 closed

[2021-06-17 21:59] sarangan12 commented on #1035
The core-client package has been released https://www.npmjs.com/package/@azure/core-client/v/1.1.3. This should resolve the issue.

[2021-06-17 21:59] #1035 closed

[2021-06-18 01:54] dw511214992 commented on #1037
hi @sarangan12 If the method returns `Promise<void>`, I cannot get the result of the rest api call. So how can I check wether the service existis or not in `checkExistence(resourceGroupName: string, options?: ResourceGroupsCheckExistenceOptionalParams):Promise<void>;`?

[2021-06-18 02:57] dw511214992 commented on #1028
@ramya-rao-a @sarangan12 please pay attention to this featuer request. thanks

[2021-06-18 03:18] dw511214992 opened #1044 "README.md in generated codes cannot provide enough instructions for user"
The sample of current generated codes:

[code]

## Key concepts

### NetworkManagementClient

`NetworkManagementClient` is the primary interface for developers using the NetworkManagement client library. Explore the methods on this client object to understand the different features of the NetworkManagement service that you can access.
[code]

[2021-06-18 08:32] dw511214992 opened #1045 "[Track2] Generated Code is always in swagger repository and the specified typescript-sdks-folder doesn't work"
command:
[code]
log in generating code:
![image](https://user-images.githubusercontent.com/40835867/122532024-a9d2eb00-d052-11eb-87f3-ddbd2e76912b.png)

cc: @ramya-rao-a @sarangan12

[2021-06-18 09:10] dw511214992 commented on #1045
autorest core 3.4.5 has bug and after I change it to 3.0.6369, it works fine. So close this issue.

[2021-06-18 09:58] wingrime opened #1047 "--enum-types seems dont supported in recent versions"

[2021-06-18 16:25] ffMathy commented on #1004
@ramya-rao-a you are very welcome!

And great decision! I think that makes everything easier. Cheers!

[2021-06-18 16:36] ramya-rao-a commented on #1028
What is the expectation here? Generating a blank file initially if it does not exist? Generating a file with placeholder for the current version? Or generating the changelog contents describing the change?

[2021-06-18 16:43] ramya-rao-a commented on #1028
@dw511214992 Are you saying that after downloading a package from npm, a user might want to go to the the downloaded package in the `node_modules` folder and run our `build` script? Can you provide details on what purpose does this serve?

This information is useful to the package owner. How is this useful to the end user?

[2021-06-18 16:50] ramya-rao-a commented on #1009
https://github.com/Azure-Samples/azure-samples-js-management is very specific to the mgmt plane packages. Do we already have a flag/argument that can be used to determine that the code generator is being used for mgmt plane packages as we wouldnt want this link to appear for other packages.

What is the plan in the auto rest crew for other languages here?

[2021-06-19 10:32] ffMathy commented on #1004
The latest "beta 3" release did not solve this for me.

Here's the log output, proving it did in fact use the package.

[code]

[2021-06-19 10:51] ffMathy commented on #1004
I can also verify that the `package.json` of my client is indeed `es6`, but it doesn't solve the issue for me.

[2021-06-21 01:37] dw511214992 commented on #1028
Hi @ramya-rao-a  About the reason of adding `api-extractor.json` and `_meta.json`, I just think it's better to get all the information from the downloaded package. If you think we only need to add necessary files for end user, I also think it's fine and I'll change this issue.
About the `CHANGELOG.md`, we don't need to generate it in Codegen. It will be generated in pipeline, which keeps the same

[2021-06-21 03:11] sarangan12 commented on #1004
@ffMathy

I have just verified it from scratch and can confirm the issue no longer happens. Let us go step by step:

1. Issue the command `autorest --reset` in command line
2. Now, regenerate your package (In your case, I am assuming the name is `openapi`) using the following command **sample**:
[code]
3. Now, go to the generated package. Confirm the `target` is set to `es6` in the `tsconfig.json`

[2021-06-21 03:17] sarangan12 commented on #1037
@dw511214992 Agreed. Even in v4, the operationSpec does not have anything related. So, the `body` will not be deserialized at all.

I agree that there has to be a body. My point is that such a thing must be mentioned in the swagger. In this case, it is not mentioned at all.

[2021-06-21 03:35] dw511214992 commented on #1037
@sarangan12 I think the swagger definition is correct. User can check wether the resource exists by the response code: `200` represents `Found` and `404` represents `Not Found`. So I think Codegen should handle this as a special case. How do you think? thanks

[2021-06-21 06:34] ramya-rao-a commented on #1028
Thanks for the clarification @dw511214992!

[2021-06-21 07:38] dw511214992 opened #1048 "[Track 2] dependency version mismatch"
I'm setting up an union release pipeline for track2 js sdk. To align with dataplane js sdk, I use rush to manage mgmt plane sdk. However, I encounter dependency version mismatch issue when running `rush install`.

In my test, I use track2 codegen to generate sdk for RP `iotspaces` and add it to the end of file `rush.json`:
[code]

When I run `rush install`, the following error I encounter:
[code]

[2021-06-21 08:38] sarangan12 commented on #1037
The response code `204` and `404` themselves do not represent anything by themselves. They need a body defined to make that happen.

I will try hunting down the logic in v4 if any such thing is happening. To the best of my knowledge, nothing like that happens which makes me suspect that something might be happening in autorest core. I will discuss with autorest crew and get back to you.

[2021-06-21 08:57] dw511214992 commented on #1037
thanks @sarangan12

[2021-06-22 03:07] dw511214992 opened #1049 "[Track 2] Add sdk-type in package.json"
This feature request comes from https://github.com/Azure/azure-sdk-for-js/commit/7026a578a61bc4d9332131c9ff47c2f84ed39b05#r52479640

As the `sdk-type` already exsits in dataplane sdk, can we also add it in mgmt plane sdk?

cc: @ramya-rao-a @sarangan12

[2021-06-23 02:13] davidyuk opened #1053 "Ability to define custom types"
In our project, we have numbers about 32-bytes long, for compatibility reasons they are encoded as strings. We would like to have them wrapped in instances of [BigNumber](https://www.npmjs.com/package/bignumber.js) in the call results and to convert BigNumber to string in call arguments. I'm looking for how to implement it the best way.

As I see, [`getTypeForSchema`](https://github.com/Azure/auto

[2021-06-23 02:49] sarangan12 commented on #1028
Code complete with PR https://github.com/Azure/autorest.typescript/pull/1052. Closing this PR

[2021-06-23 02:49] #1028 closed

[2021-06-23 03:26] sarangan12 commented on #1048
@dw511214992 In order to fix these errors, you need to modify the dependency version of the above packages. I have generated a reference for you at https://github.com/sarangan12/azure-sdk-for-js/tree/0aff2071d193eb3d32063cba2b8f6fb81214bcca. (This is not final. You still need to modify the rollup config file. You could use the files from generator repo as reference for that).

Please let me know i

[2021-06-23 06:10] dw511214992 commented on #1048
hi @sarangan12 I have reviewed your codes and still feel confusion about it. I think the dependency version of generated code by track2 codegen should keep consistent with dataplane's dependency version. So we shouldn't change it manually.

[2021-06-23 06:19] sarangan12 commented on #1048
The generator uses fixed versions for packages such as `core-client`, `core-auth`, core-lro`, etc. But, these packages are getting released independently and will have updated versions.

Our JS repo uses a mono repo model (with `rush`). So, we need to adjust the dependencies of the packages accordingly. So, this part (and also the rollup config in some instances) need manual intervention for the f

[2021-06-23 07:55] dw511214992 commented on #1048
@sarangan12 So the depended packages should be changed to the same version in all sdks. I think you can discuss with your team and change the depended packages' version of dataplane sdk to latest ones. Also, you can change the codegen and make the depended packages of generated codes use the latest ones. I'm not sure whether I'm correct. Please take this method in consider. thanks

[2021-06-23 17:09] sarangan12 opened #1054 "[Track 2] Keep versions of dependencies up to date"
For the Track 2 SDK generator(for the new services) when they are generated we have a package.json file. In that file, under the dependencies section, we have core packages such as `core-lro` `core-auth` `core-client` etc. These packages are set to some version.

1. But these packages are released independently and could have updated to new versions. Such changes are not reflected immediately in t

[2021-06-23 17:10] sarangan12 commented on #1048
@dw511214992 I understand it would be easier on devs to handle the update automatically. But, it might be very difficult to achieve this because we do not control the release of the core packages. Also, after the first time, we do not generate the metadata. I will keep checking if there us any way to achieve this. I have opened a seperate issue https://github.com/Azure/autorest.typescript/issues/1

[2021-06-23 17:10] #1048 closed

[2021-06-23 22:51] sarangan12 opened #1073 "[v3] Support source code transformations"
In the earlier versions of Autorest (V2), we used to have logic for source code transformations. For example, you can find the transformations set in https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/search/data-plane/Azure.Search/readme.md.  (Search for source-file-csharp)

But, in the latest versions of Autorest (V3), the source code transformations are not suppor

[2021-06-23 22:57] #998 closed

[2021-06-23 22:58] joheredi opened #1056 "[Rest Level Client] Test server coverage for body-file"
https://github.com/Azure/autorest.testserver/blob/main/swagger/body-file.json

[2021-06-23 22:59] joheredi opened #1057 "[Rest Level Client] TestServer coverage for custom-baseurl"
https://github.com/Azure/autorest.testserver/blob/main/swagger/custom-baseUrl.json

[2021-06-23 23:00] joheredi opened #1058 "[Rest Level Client] TestServer coverage for header"
https://github.com/Azure/autorest.testserver/blob/main/swagger/header.json

[2021-06-23 23:02] joheredi opened #1059 "[Rest Level Client] Test Server coverage for http-infrastructure"
https://github.com/Azure/autorest.testserver/blob/main/swagger/httpInfrastructure.json

Scenarios:
MultipleResponses
httpSuccess
httpClientFailure_<verb>400

[2021-06-23 23:03] joheredi opened #1060 "[Rest Level Client] Test Server coverage for lro"
https://github.com/Azure/autorest.testserver/blob/main/swagger/lro.json

[2021-06-23 23:04] joheredi opened #1061 "[RLC] TestServer coverage for paging"
https://github.com/Azure/autorest.testserver/blob/main/swagger/paging.json

[2021-06-23 23:05] joheredi opened #1062 "[RLC] TestServer coverage for URL scenarios"
https://github.com/Azure/autorest.testserver/blob/main/swagger/url.json

[2021-06-23 23:05] joheredi opened #1063 "[RLC] TestServer coverage for media-types"
https://github.com/Azure/autorest.testserver/blob/main/swagger/media_types.json

[2021-06-23 23:06] joheredi opened #1064 "[Epic] The Road To RLC"
- [x] LRO Helper #1001
   - [x] Add rest LRO package @azure-rest/core-client-lro
   - [x] Generate consumption of lro helper
- [x] Pagination Helper #1000
   - [x] Add pagination rest package @azure-rest/core-client-paging
   - [x] Generate consumption of pagination helper
- [x] Test Server Coverage
   - [x] body-string #996
   - [x] body-complex #997
   - [x] body-file #1056
   - [x] custom-baseU

[2021-06-23 23:12] joheredi commented on #1000
Initial work to add a core package to handle the logic of pagination is in https://github.com/Azure/azure-sdk-for-js/pull/15831

Once that work is merged we can implement the code-gen part which consist on generating a wrapper that feeds the helper nextLinkName and itemName if provided

Here is an example of how the generated code would look like:
https://github.com/Azure/azure-sdk-for-js/blob/9e2

[2021-06-23 23:17] joheredi commented on #1001
Initial work for LRO helper is in PR https://github.com/Azure/azure-sdk-for-js/pull/15898

This PR depends on https://github.com/Azure/azure-sdk-for-js/issues/15775

Once the core-client-lro-rest is merged we can start generating the wrapper that exposes it in the generated SDK, as an example the generated code would look like this:

https://github.com/Azure/azure-sdk-for-js/blob/132833b7053c0c5e4

[2021-06-24 05:41] sarangan12 commented on #1040
@propheel Thanks for raising this issue. In order to answer your question, I need some more details regarding this issue. I have sent you an offline chat about this issue. We will have a meeting about it soon and then I will work on this issue. Thanks

[2021-06-24 05:53] sarangan12 commented on #1053
@davidyuk This is really interesting problem. Now, there are 2 options that I can suggest:

1. This option is just as you mentioned. But, it requires changes to `@azure/core-client`. If this is the case, I would recommend you to raise this issue in the https://github.com/Azure/azure-sdk-for-js. Then the generator could make the changes accordingly. But, such changes would be done based on our back

[2021-06-24 12:21] dw511214992 opened #1065 "[Track2]The generated codes misses opearation and models"
Command:
[code]
Autorest Extension Log:
![image](https://user-images.githubusercontent.com/40835867/123261605-89f76780-d529-11eb-8402-e72bd4fd14f1.png)
Log in Generating codes:
![image](https://user-images.githubusercontent.com/40835867/123261683-a398af00-d529-11eb-8364-b88c05d26ac8.png)
You can find the generated codes misses operations and models.

Is there anything wrong with my command?
cc: @r

[2021-06-24 12:27] dw511214992 opened #1066 "[Track2] Generated codes by latest codegen compile failed"
generated codes: https://github.com/Azure/azure-sdk-for-js/tree/5e3b6d37d570ba71a421c28de58b60a639f3c34e/sdk/iotspaces/arm-iotspaces
command:
[code]
Compile Error:
[code]

[2021-06-24 12:27] dw511214992 commented on #1066
cc @ramya-rao-a @sarangan12

[2021-06-24 13:00] dw511214992 commented on #1065
Just find the swaggers are deleted, so it's not an issue.

[2021-06-24 13:00] #1065 closed

[2021-06-24 13:28] dw511214992 opened #1067 "[Track2] generated readme.md has a sample link, which is invalid"
The generated README.md has a sample link, for example:
[code]
[code]
Actually, management palne sdk doesn't have sample.

[2021-06-24 13:30] dw511214992 commented on #1067
cc @ramya-rao-a @sarangan12

[2021-06-24 13:38] dw511214992 opened #1068 "[Track2] The generated package.json doesn't include "pack" in script"
This error is reported by pipeline:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=964510&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=4fc2278e-dafd-525f-7501-d396c9a4758e

I make a quick fix manaully:
![image](https://user-images.githubusercontent.com/40835867/123272530-684fad80-d534-11eb-8617-6744424cfc2e.png)
cc: @ramya-rao-a @sarangan12

[2021-06-24 14:07] dw511214992 opened #1069 "[Track2] The generated package.json doesn't include "lint" in script"
This error is reported by pipeline:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=964536&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=aea0e0e1-1e00-5c1b-bba8-b2b238976da3
I make a fix manaully by adding:
[code]

[2021-06-24 14:29] dw511214992 opened #1070 "[Track2] The generated package.json doesn't include "format" in script"
This error is reported by pipeline:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=964549&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=d34cfe88-f3e1-5ca1-ec50-18a5cea1099a

cc: @ramya-rao-a @sarangan12

[2021-06-24 14:42] dw511214992 opened #1071 "[Track2] The generated package.json doesn't include "build:samples" and "build:test" in script"
smiliar to https://github.com/Azure/autorest.typescript/issues/1069

[2021-06-24 14:55] dw511214992 opened #1072 "[Track2] Some commands are missed in "scripts" of package.json"
Missed commands (Some of them are created github issues to track):
pack https://github.com/Azure/autorest.typescript/issues/1068
lint https://github.com/Azure/autorest.typescript/issues/1069
format https://github.com/Azure/autorest.typescript/issues/1070
check-format
build:samples https://github.com/Azure/autorest.typescript/issues/1071
build:test https://github.com/Azure/autorest.typescript/issue

[2021-06-24 14:55] dw511214992 commented on #1072
cc: @ramya-rao-a @sarangan12

[2021-06-24 15:33] #1069 closed

[2021-06-24 15:33] #1070 closed

[2021-06-24 15:33] #1071 closed

[2021-06-24 16:56] sarangan12 commented on #1073
Moving to backlog.

[2021-06-24 20:55] deyaaeldeen commented on #1038
@sarangan12 I added some logic in the readme file generator to calculate the this URL, you could use that to populate this field in `package.json` as well.

[2021-06-24 21:06] sarangan12 commented on #1038
I have made sure `autopublish` is correctly generated for Track 2 packages. For Track 1, I agree we need to fix it. But, since we have already decided that the new packages are not going to be released in Track 1 (unless they have exceptions) So, this issue happening in Track 1 is rare. Moving this issue to backlog based on issue priority.

[2021-06-24 21:10] deyaaeldeen commented on #1038
Oh I did not notice this is for Track1, ignore my comment earlier then.

[2021-06-24 21:18] deyaaeldeen commented on #1009
@ramya-rao-a  Yes we have a flag for management-plane libraries, I think it is `--azure-arm`.

[2021-06-24 21:51] AlexGhiondea opened #1076 "Autorest Code-Gen Commitments for JS"
This tracks the Autorest Code-Gen Commitments for JS for the Azure SDK team

[2021-06-24 22:00] AlexGhiondea opened #1077 "LLC CodeGen Commitments for JS"
This tracks the LLC CodeGen Commitments for JS for the Azure SDK team

[2021-06-24 22:50] ramya-rao-a commented on #1068
Closing in favor of #1072

[2021-06-24 22:50] #1068 closed

[2021-06-24 22:53] ramya-rao-a commented on #1067
@dw511214992 That is the expected link for the data plane libraries where we expect the sample to exist in the same folder as the source code.

For mgmt plane packages, we can use #1009 to track the need to use the sample samples link across packages instead.

[2021-06-24 22:53] #1067 closed

[2021-06-24 23:50] sarangan12 commented on #1049
Code complete with PR https://github.com/Azure/autorest.typescript/pull/1074

[2021-06-24 23:50] #1049 closed

[2021-06-24 23:51] sarangan12 commented on #1072
Code complete with https://github.com/Azure/autorest.typescript/pull/1074. Will be released on Monday

[2021-06-24 23:51] #1072 closed

[2021-06-24 23:56] sarangan12 commented on #1066
@dw511214992 I am investigating this issue. I will get back to you shortly

[2021-06-25 00:47] sarangan12 opened #1078 "Create a contributing Guide for autorest.typescript"
@ramya-rao-a FYI

[2021-06-25 00:48] deyaaeldeen opened #1079 "[V6] Decrease code duplication in generated around LROs"
Every LRO operation have something like this code: https://github.com/Azure/autorest.typescript/blob/5f7acf24417c9c4b8bdac7f59726792d90c537f6/test/integration/generated/lro/src/operations/lROs.ts#L194. This duplication across all operations could be factored into a single helper function.

[2021-06-25 02:10] dw511214992 commented on #1038
@sarangan12 what's value of `autopublish` you set in the track2 sdk? we will use the same release pipeline as dataplane, so I think the value should also be the same as dataplane's. thanks

[2021-06-25 02:15] dw511214992 commented on #1067
@ramya-rao-a agreed.

[2021-06-25 03:01] dw511214992 opened #1080 "[Track2] Disscussion: Is there any issues when we change the dependency version of generated codes manually"
hi @ramya-rao-a @sarangan12

As we discussed in https://github.com/Azure/autorest.typescript/issues/1048, we will change the dependency version of generated codes manually. However, I worry whether there is any issues because some dependencies' version are bumped and some ones' are downgraded.
I think we need to do some more test with the updated dependency version.

cc: @lirenhe

[2021-06-25 17:20] ramya-rao-a commented on #1080
@dw511214992 We have already logged #1054 which was linked from #1048 for this purpose. Can we use that issue and close this one instead?

[2021-06-25 23:20] ramya-rao-a commented on #1066
@sarangan12 In case you are updating the dev dependencies as part of this issue, also include updating `@types/node` to `^12.0.0` as we are moving away from Node.js 8 support. I am doing this change in the azure-sdk-for-js repo as par tof https://github.com/Azure/azure-sdk-for-js/pull/15996

[2021-06-26 00:18] sarangan12 commented on #1066
@dw511214992 There is an issue with packagefilegenerator code that does not include the core-auth package in the package.json file. I will get the fix in and include it on Tuesday's release.

One thing that was surprising for me in your code. I am checking the link here: https://github.com/Azure/azure-sdk-for-js/tree/5e3b6d37d570ba71a421c28de58b60a639f3c34e/sdk/iotspaces/arm-iotspaces Here, there

[2021-06-28 02:00] dw511214992 commented on #1080
@ramya-rao-a sure.

[2021-06-28 02:00] #1080 closed

[2021-06-28 02:06] dw511214992 opened #1081 "[Track1] The description of query parameter is wrong"
This issue comes from PR: https://github.com/Azure/azure-sdk-for-js/pull/16000
The swagger definition is correct:
[code]
So, the codegen adds a useless word `the`.

[2021-06-28 02:15] dw511214992 commented on #1066
sorry @sarangan12 It seems I give you a wrong link and the correct one is: https://github.com/Azure/azure-sdk-for-js/tree/ea962e606c59ee8b075fe5abf971b84dcdf4ad39/sdk/iotspaces/arm-iotspaces.
If you want to reproduce it you local, you need to revert your azure-rest-api-specs to commit id `f7535f8211b7fe9a8d5e5ebdc09830677b55285c` because the swaggers in iotspaces are deleted.

[2021-06-28 06:05] sarangan12 commented on #1066
@dw511214992 Thanks for the link. But, still if I have to reproduce it locally by regeneration, I do not get the lro folder. (And I do not see any lro op in swagger). So, can you tell me how you regenerated this? (Irrespective of that my fix will cover the scenario. But, I just wanted to make sure of the process)

[2021-06-28 17:38] sarangan12 commented on #1066
Code complete with PR https://github.com/Azure/autorest.typescript/pull/1082

[2021-06-28 17:38] #1066 closed

[2021-06-28 19:28] sarangan12 commented on #1040
@propheel Please find the example here for the scenario that we discussed: https://github.com/Azure/autorest.testserver/blob/main/swagger/body-complex.json#L972

[2021-06-28 19:40] sarangan12 commented on #1081
Since this is Track 1 and non blocking, I am moving this to Backlog. I have verified that this does not happen in Track 2

[2021-06-29 00:34] sarangan12 commented on #897
@ffMathy I have just checked the response headers section and I am able to read other headers also. In fact we have test cases for these scenarios such as https://github.com/Azure/autorest.typescript/blob/main/test/integration/azureSpecialProperties.spec.ts#L51.

Please check if this works for you. Else, Please let me know with the exact scenario/code that you have problem with.

[2021-06-29 04:10] ffMathy commented on #897
But you probably also have the headers defined in the Swagger.json file right? I'm talking about headers that aren't defined there.

Also, this issue may only affect the old client. Never tried with the new v2 one.

[2021-06-29 04:51] sarangan12 commented on #897
@ffMathy when you say old client, do you mean the package `@microsoft.azure/autorest.typescript`? Even in this old client, the **raw** response does have the headers (irrespective of whether they are defined in swagger) But, the response object (as defined in the swagger) will not have the additional headers which is expected and by design.

Do you see the same results? Or Do you not see the addit

[2021-06-29 06:52] ffMathy commented on #897
No, V2 of the HTTP Client or whatever it is called 🙂

[2021-06-29 09:19] dw511214992 opened #1084 "[Track2]Depended packages are unpublished to NPM"
We are testing the latest Codegen. To build it with rush, we update the dependencies manually:\
[code]
And then we get the packed package. However, when we try to install the package, we get error:
[code]
It seems the depended libraries haven’t been published to NPM.

So when will you publish these packages? Thanks

[2021-06-29 09:19] dw511214992 commented on #1084
cc: @ramya-rao-a @sarangan12

[2021-06-29 14:02] dw511214992 opened #1085 "[Track2] The generated codes compile failed"
When I generate codes for RP network with tag `package-2021-02`, the generated codes compile failed. Before generating codes, please change the readme.typescript.md because of https://github.com/Azure/autorest.typescript/issues/880:
![image](https://user-images.githubusercontent.com/40835867/123810951-67988c00-d925-11eb-9ebd-fc6bacf87582.png)

Also, please set the `typescript-sdks-folder` to the p

[2021-06-29 16:48] sarangan12 commented on #897
@ffMathy So, you are using @autorest/typescript package. I can see the headers in that also. Do you have a sample code/scenario that you tried and not able to get the headers?

Because, I just tried it and able to read the headers. Also, we have a test scenario covering that too. https://github.com/Azure/autorest.typescript/blob/28ebb6e2920a1adbc0a6b79b8a6a2383566f274b/test/integration/azureSpecia

[2021-06-29 17:15] ffMathy commented on #897
I see I was using the `parsedHeaders` property instead. So sorry!

[2021-06-29 17:56] #897 closed

[2021-06-29 19:50] #863 closed

[2021-06-29 19:54] #864 closed

[2021-06-29 20:47] sarangan12 commented on #1084
@dw511214992 In the code generation, I am able to see that `@azure/core-rest-pipeline` package depends only on the `^1.0.4` version. You can find it [here](https://github.com/Azure/autorest.typescript/blob/main/src/generators/static/packageFileGenerator.ts#L150).

Why are you updating it manually as `"@azure/core-rest-pipeline": "^1.1.0"`? That version has not been released yet. Based on my recent

[2021-06-29 22:18] sarangan12 commented on #1053
Closing this issue for now. If you still have any more questions, feel free to reopen the issue.

[2021-06-29 22:18] #1053 closed

[2021-06-29 22:24] sarangan12 commented on #1047
@wingrime With the latest code generator, if the enum is not extensible (i.e. if no new values are to be added to the enum value), the default behavior is to generate it as enum (which is also the behavior of `--enum-types`).

Is there any specific behavior you are missing with the new generator? If so, Could you please provide a specific scenario/swagger code?

[2021-06-30 01:48] dw511214992 commented on #1084
@sarangan12 As we disscussed before, to manage the generated codes with rush, we need to change the dependency version manually to keep consistent with dataplanes' dependencies.

[2021-06-30 04:05] sarangan12 commented on #1084
@dw511214992 I see the problem now. Did you update the package in rush.json file? You should update the package in rush.json, then execute rush update and then rush build. That should resolve this issue.

Could you please try it?

[2021-06-30 04:06] sarangan12 commented on #1085
I am looking into this issue. I will update you soon

[2021-06-30 04:07] dw511214992 commented on #1084
@sarangan12 yes, I have updated the rush.json and the package can be built and packed successfully under the directory of `azure-sdk-for-js`. However, when I want to install the packed tgz package in another project, it fails. I think customer uses our libraries in this way, instead of using it in  `azure-sdk-for-js`

[2021-06-30 04:50] sarangan12 commented on #1084
@dw511214992 Normally, You are correct. The customer will use the package in the way you just described and he/she will face the problem if they tried it now. But, no package will be/should be released if the underlying dependency is not released. This package should be released only after the core-rest-pipeline package is released.

Until then it cannot be released. In the meantime, for your test

[2021-06-30 07:18] dw511214992 opened #1087 "[Track2] set sdk-type to mgmt"
According PR: https://github.com/Azure/azure-sdk-for-js/pull/15975/files, please change value of the sdk-type to mgmt in package.json

@sarangan12 @ramya-rao-a

[2021-06-30 08:05] ffMathy opened #1088 "Get status code after switching from old client to new one"
After switching from Core HTTP 1 to 2 (or is it 6 now?), I am no longer getting a `._response` property on my responses, where I can access (for instance) HTTP status codes and headers etc.

How am I to do this with the new clients?

Great work on all of this by the way. Autorest rocks.

[2021-06-30 08:34] dw511214992 opened #1089 "[Track2]Cannot generate expected codes for Resources which includes batch task：the generated codes are the same"
RP resources contains many packages in [readme.typescript.md](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/readme.typescript.md):
[code]
When I generate codes for them, all the generated codes of diferent package are same.
To reproduce it, please follow the following steps (You also can checkout [my branch](https://github.com/Azure/azure-rest-a

[2021-06-30 09:00] dw511214992 commented on #1084
thanks @sarangan12 we are planing release track2 js sdk for 4 RPs in next week. so we hope these packages can be released as early as possible.
I think we shouldn't update the dependencies' version of dataplane sdk if the libraries are not published to NPM.

[2021-06-30 16:11] deyaaeldeen commented on #1088
@ffMathy thanks for the feedback!

Regarding `_response`, you can access the same information using the `onResponse` option. Please see this example for reference: https://github.com/Azure/autorest.typescript/blob/2a2060ce63f48f7838e32b341e7d9e79e207eba6/test/integration/additionalProperties.spec.ts#L172.

[2021-06-30 16:45] ffMathy commented on #1088
I must say I believe this is quite a big downgrade unfortunately. I often check the status code.

[2021-06-30 17:55] propheel commented on #1040
@sarangan12 Thanks for the example. Looks exactly as the problematic one. Still my case doesn't work. I used 6.0.0-beta.5 and core v2.

The input JSON is:
[code]

The JSON in the body of the POST request is:
[code]

So it's missing `coordinates` property of the `geometry`.

The JSON is a [GeoJSON object of type FeatureCollection](https://datatracker.ietf.org/doc/html/rfc7946#section-3.3). One of t

[2021-07-01 02:08] sarangan12 commented on #1087
Code complete with https://github.com/Azure/autorest.typescript/pull/1090

[2021-07-01 02:08] #1087 closed

[2021-07-01 12:28] TempleOfTemplar commented on #1047
i'll try to explain.
Using this config:
`{
  "input-file": "./swagger.json",
  "output-folder": "auto-generated-api",
  "clear-output-folder": true,
  "allow-insecure-connection": true,
  "typescript": true,
  "namespace": "Base",
}
`
Autorest generates enums like this:
`/** Known values of {@link Currency} that the service accepts. */
export const enum KnownCurrency {
  Rub = "rub",
  Usd = "usd"

[2021-07-01 13:24] sarangan12 commented on #1047
@TempleOfTemplar Thanks for explaining your requirement. With the recent versions, we are not using the `const enum`s anymore. Instead, we have used the `type` approach.

Let me give an example. If the swagger definition is:

[code]

The above code will produce SDK code as:

[code]

Now, If I modify the swagger as the following:

[code]

The above code will produce SDK code as:

[code]

Will this

[2021-07-02 06:50] sarangan12 commented on #1037
@dw511214992 I have confirmed with autorest crew that this logic has been removed V3 version of autorest. Now, the only way to do this is on the generator side. I have analyzed the required code changes to do this. It would create complexity in the code. On the other hand, the same result could be easily achieved by the swagger transform as:

[code]

Please share your thoughts on using the above s

[2021-07-02 08:28] TempleOfTemplar commented on #1047
@sarangan12 Unfortunately, I can hardly imagine what advantages this approach provides in my case( except for the need for massive rename of enams throughout the code. Maybe for those who would like to use just enams - can you make some kind of flag?

[2021-07-02 08:31] TempleOfTemplar commented on #1047
@sarangan12 Unfortunately, I can hardly imagine what advantages this approach provides in my case(
The disadvantage is the requirement for bulk renaming of enums throughout the whole project. Maybe for those who want to use just enam - can you make some kind of flag? Maybe for those who would like to use just enams - can you make some kind of flag?

[2021-07-02 08:49] dw511214992 commented on #1037
@sarangan12 Although the change can solve this issue, I have some other concerns about this change:
1. I worry whether the change leads to breaking changes to other sdk.
2. It's reasonable to define response with 204 No Content, which doesn't contain a body.
3. I worry there are many swaggers having this kind of response, and it's not easy to change all the swaggers. If this change leads to breaki

[2021-07-02 16:30] deyaaeldeen commented on #1088
@ffMathy I am sorry about this. Let me clarify why we did make this change, it was because `_response` did not play well with some response types (`null`, `void`, arrays, etc). If your API returns a null, there is no way to attach `_response` to it, so what were happening before is to return an empty object instead and then we attach `_response` to it. This is problematic because your API could re

[2021-07-02 16:37] sarangan12 commented on #1037
@dw511214992
1. It will not lead to any breaking changes to other SDKs. So, that is not a problem.
2. I agree it is reasonable to define a response with 204 No Content which doesn't contain a body. Our transformations, in general, are not to fix incorrect swaggers. They are to modify certain parts to fit the requirements of SDK. This would be a perfect candidate.
3. This is a valid concern. I thin

[2021-07-05 02:00] dw511214992 commented on #1037
@sarangan12 Yes, sounds good for me. Could you please create a PR for you transformations in swagger repository? I will review it. Thanks

[2021-07-05 08:05] dw511214992 opened #1091 "[Track2] Change the tsconfig.json, package.json and README.md according to PR comments"
@deyaaeldeen add some suggestions on changing the package.json and README.md in PR: https://github.com/Azure/azure-sdk-for-js/pull/16170 and https://github.com/Azure/azure-sdk-for-js/pull/16207. Please change the codegen. thanks
cc: @sarangan12 @ramya-rao-a

[2021-07-05 08:08] dw511214992 opened #1092 "@azure/core-tracing related error when packing management plane sdk"
CI pipeline of generated codes runs failed in step “Pack libraries”. I have checked the error message and find:

[code]

It seems there is something wrong with the dependency `@azure/core-tracing`, but I’m not sure the root cause and this error doesn’t exist in my local environment. @deyaaeldeen @sarangan12  Cloud you please check the root cause? Thanks

[2021-07-05 08:56] ffMathy commented on #170
@RikkiGibson this is still an issue.

[2021-07-06 05:52] dw511214992 opened #1093 "[Track2] Shouldn't run"

[2021-07-06 05:53] dw511214992 opened #1094 "[Track2] Shouldn't run "npm install" in prepack"
We are using rush to  manage our sdks, so we shouldn't run "npm install" in prepack. "npm install" leads to the failure of ci pipeline.
You can refer to this [commit](https://github.com/Azure/azure-sdk-for-js/pull/16170/commits/ad5137bf6566465fbd0ecc7165da048932f7a378) as an example.

@sarangan12 @ramya-rao-a

[2021-07-06 06:04] dw511214992 commented on #1092
the root cause is that `prepack` runs `npm install`, which is not allowed because we are using Rush to manage all sdks. A new issue is created: https://github.com/Azure/autorest.typescript/issues/1094, and this one will be closed.

[2021-07-06 06:04] #1092 closed

[2021-07-06 07:56] #1093 closed

[2021-07-06 09:10] dw511214992 commented on #1037
@sarangan12 I have mode the changes in swagger readme.md and generated the package. However, the package doesn't work.
The test code we use is:
[code]
When we use the track1 package, it works as expect and prints: `{body: true}`
When we use the track2 package, it prints `undefined` immediately and then the program is stuck for a while.

So I think the generated codes is incorrect when adding this

[2021-07-06 09:22] dw511214992 commented on #1085
it seems git ignores the File name case changes, which leads to this issue. It should be the root cause

[2021-07-07 05:06] #1085 closed

[2021-07-07 05:11] #1044 closed

[2021-07-08 00:39] sarangan12 commented on #1047
@TempleOfTemplar Currently, we do not have plans to add flags for going back to enums. But, I will keep this in our backlog for further discussion with my team. Thanks

[2021-07-09 15:36] sarangan12 commented on #1013
Code complete with PR https://github.com/Azure/autorest.typescript/pull/1097

[2021-07-09 15:36] #1013 closed

[2021-07-09 17:31] sarangan12 commented on #1078
Completed with PR https://github.com/Azure/autorest.typescript/pull/1096

[2021-07-10 00:40] sarangan12 commented on #1009
Code complete with https://github.com/Azure/autorest.typescript/pull/1098

[2021-07-10 00:40] #1009 closed

[2021-07-10 00:41] #1078 closed

[2021-07-12 21:15] sarangan12 commented on #1088
No more action items on this issue. Closing this for now.

[2021-07-12 21:15] #1088 closed

[2021-07-13 17:41] jeremymeng opened #1102 "FATAL: Error: Unexpected value type: sealed-choice using 6.0.0-beta5"
The same swagger file works fine using beta4.

[code]

swagger readme yaml:

[code]

[2021-07-14 18:45] ramya-rao-a commented on #1084
@sarangan12, @dw511214992 This is no longer a problem, correct? All dependent core packages are now released

[2021-07-15 16:33] sarangan12 commented on #1037
Summary:

This issue is the result of 2 items:

1. In the v4x generator, the Autorest Modelerfour handled the required transformations and `body:boolean;` was readily available for the generators. But, in the v6x generator, the Modelerfour stopped this transformation. Alternatively, a new flag called `head-as-boolean` is introduced. The inidividual generators should handle the required code change

[2021-07-15 16:33] #1037 closed

[2021-07-15 16:37] sarangan12 commented on #1084
@ramya-rao-a Yes. The dependent packages are released. Closing this issue.

[2021-07-15 16:37] #1084 closed

[2021-07-15 16:54] sarangan12 commented on #1102
@jeremymeng Thanks for filing this issue. I am able to confirm and get the repro. Yes. The swagger works fine until `beta.4` version. It fails from `beta.5` version.  I am investigating the issue and provide updates shortly.

[2021-07-15 18:54] sarangan12 commented on #1102
The error could be reproduced by the following swagger:

[code]

(I have taken the container registry json file and stripped all the unnecessary pieces and keeping only the code that causes the error)

[2021-07-15 21:06] sarangan12 commented on #1102
Code changes complete with PR https://github.com/Azure/autorest.typescript/pull/1103

[2021-07-15 21:06] #1102 closed

[2021-07-15 23:22] sarangan12 commented on #1094
Code changes complete with PR

[2021-07-15 23:22] #1094 closed

[2021-07-16 16:04] sarangan12 opened #1105 "Remove additional licensing comments"
In the generated SDK, all the files insider LRO folders have 2 sets of License comments on top such as:

[code]

The one in the top must be used. The one at the bottom could be removed.

[2021-07-16 16:06] sarangan12 opened #1106 "Removal of preserveConstEnums option from tsconfig file"
In our generated SDKs, we do not generate `const enums` anymore. So, we should consider removing the option from `preserveConstEnums: true` from the generated tsconfig.json file

[2021-07-16 19:33] deyaaeldeen commented on #1105
Just a heads up: the LRO folder will be deleted soon.

[2021-07-16 22:36] sarangan12 commented on #1105
Will wait until the release. After the release, this task can be closed.

[2021-07-16 22:57] sarangan12 commented on #1015
@deyaaeldeen Please add more context to this issue. I could not get any requirement from the attached sheet. What is the requirement? What is the problem that this issue trying to resolve?

[2021-07-16 23:09] sarangan12 commented on #947
Removed the skips from `test/integration/header.spec.ts` file. The case of `test/integration/bodyFormData.spec.ts` is still pending.

[2021-07-16 23:09] sarangan12 commented on #1017
Code complete with PR https://github.com/Azure/autorest.typescript/pull/1107

[2021-07-16 23:09] #1017 closed

[2021-07-16 23:14] sarangan12 commented on #888
This issue has been resolved already.

[2021-07-16 23:14] #888 closed

[2021-07-16 23:18] sarangan12 commented on #862
Closing this issue as there are no more action items

[2021-07-16 23:18] #862 closed

[2021-07-16 23:25] sarangan12 commented on #849
I am closing this issue for now. We have already made several changes and these appear to be irrelevant

[2021-07-16 23:25] #849 closed

[2021-07-16 23:30] sarangan12 commented on #757
No longer required

[2021-07-16 23:30] #757 closed

[2021-07-19 16:46] sarangan12 commented on #467
@joheredi Do you think if the Rest Level Client will satisfy the ask here?

[2021-07-19 16:48] sarangan12 commented on #430
@joheredi Do you think if a flag is good for this approach? I think we could have names in the same swagger which should be normalized (as is now) and names that should not be normalized (like JWT...) I think the right candidate should be an extension on AutoRest level like "x-ms-normalize-name". Any thoughts???

[2021-07-19 16:50] sarangan12 commented on #412
@timotheeguerin Can you please take a look into this and let me know if M4 supports this scenario?

[2021-07-19 16:58] sarangan12 commented on #814
@joheredi Could you please confirm if this task is already completed? I am able to see the expected changes in the generated code.

[2021-07-19 17:30] timotheeguerin commented on #412
Yeah right now this doesn't work. The library doing the yaml parsing doesn't support it.

[2021-07-19 17:45] timotheeguerin commented on #412
Added support for it https://github.com/Azure/autorest/pull/4221

[2021-07-19 21:21] #613 closed

[2021-07-19 23:11] deyaaeldeen commented on #1105
code complete after v6-beta.8 has been released: https://www.npmjs.com/package/@autorest/typescript/v/6.0.0-beta.8

[2021-07-19 23:11] #1105 closed

[2021-07-19 23:13] deyaaeldeen commented on #1060
FYI: `LroEngine` already gets tested against most of the routes in the lro server here: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/core/core-lro/test/engine.spec.ts. Note that the tests use a clone of the test server lro routes and does not run the server itself.

[2021-07-19 23:58] deyaaeldeen commented on #1015
@sarangan12 this issue is to simply make sure that code gen respects the behavior described in the document. I am not sure what is the current behavior is in all cases so tests for all cases should be added first.

[2021-07-20 00:36] sarangan12 commented on #1015
@deyaaeldeen Ok. But, what is the behavior described in the document? It does not provide any information.

<html>
<body>
<div ccp_infra_version='3' ccp_infra_timestamp='1626741323118' ccp_infra_user_hash='315826507' ccp_infra_copy_id='0b47c82a-5b96-42bc-b341-44e085a87b20' data-ccp-timestamp='1626741323118'><html>

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Micros

[2021-07-20 18:09] sarangan12 commented on #1106
Code complete with PR https://github.com/Azure/autorest.typescript/pull/1111

[2021-07-20 18:09] #1106 closed

[2021-07-20 23:07] sarangan12 commented on #1041
1. Nightly Builds are set to release to npm.
2. Version is changed to 6.x.x version
3. Removed the Github releases since we have nightly releases directly to npm.

[2021-07-20 23:07] #1041 closed

[2021-07-21 00:00] ramya-rao-a commented on #1041
Thanks @sarangan12

Does that mean that we will have tags corresponding to each release?

![image](https://user-images.githubusercontent.com/16890566/126409911-c8694091-376e-494b-92c2-9d2e378e3205.png)

[2021-07-21 01:22] sarangan12 commented on #1041
We will not have any tags corresponding to each release in github. It will be released only to github. I time boxed it to two days and the github release code still seems to have issues. So, I disabled that part of the code. If you still want the github tags, I can continue working on it.

[2021-07-21 05:16] ramya-rao-a commented on #1041
Great!

[2021-07-21 15:06] sarangan12 opened #1115 "[v6] - Monitor SDK Error while regenerating using Autorest"
_On Behalf of @KarishmaGhiya_

While using this file: https://github.com/Azure/azure-sdk-for-js/blob/b014c3ab06d9862ee3bde80c592589a9f06915d9/sdk/monitor/monitor-query/README.md for regeneration, the following error happens:

[code]

While using the `--verbose` option, the error `No Input files provided` is reported.

[2021-07-21 15:28] mohamadLy opened #1116 "Failed to generate typescript client"
I am seeing an issue while generating the typescript client. This started 2 days ago it use to work fine. Autorest core version did not changed see below version. But maybe the typescript version did change since it is bundle with autorest client. I don't remember which version of typescript was being used before.

Current version

Issue log
[code]

autorest version
[code]

I don't see the issue i

[2021-07-21 15:59] sarangan12 commented on #1115
@KarishmaGhiya I have looked into the issue and observed a few things:

1. Yes. I can reproduce the error.
2. All of the configurations are combined into 1 README.md file and it is not recommended.
3. The SDK Generator version used is an old dev version. I think the recent modelerfour version and this does not work well together, causing the error.

**Solution**
1. Split the files
2. Updated the S

[2021-07-21 23:28] sarangan12 commented on #1115
Issue has been resolved. I have discussed with Karishma and explained the steps in detail. Resolving this issue.

[2021-07-21 23:28] #1115 closed

[2021-07-21 23:32] sarangan12 commented on #1116
@mohamadLy Thanks for reporting this issue. Yes. This issue is because of the recent changes in modelerfour and the suggested to solution is to upgrade autorest core to 3.5.0.

Also, The recommended v`@autorest\typescript` version (as of now) is the latest 6.0.0-beta.8.

There is no other pending action items for this issue. Please let me know if you need any further actions from our end.

[2021-07-22 11:38] qiaozha opened #1117 "lro can't work correctly with latest @autorest/typescript@6.0.0-beta.8"
we use the latest beta version 6.0.0-beta.8 to generate @azure/arm-compute package. and found out the lro can not working correctly. we also tried the latest dev version 6.0.0-alpha.8.20210721.1 of @autorest/typescript still not working.

here's the autorest command and input
[code]

here's the code for repro:
[code]

here's the result we get
![image](https://user-images.githubusercontent.com/5568

[2021-07-22 14:53] joheredi commented on #1117
@deyaaeldeen would it be that the body is not being cleared when sending the poll requests?

[2021-07-22 17:02] deyaaeldeen commented on #1117
@qiaozha thanks for filing the issue and including those details.

@joheredi I think you're right. We used to clear them here: https://github.com/Azure/autorest.typescript/blob/51ed88b0719ce89c001a58330f6566d05b83bb64/src/lro/pollingMethod.ts#L52 but I stopped doing that here https://github.com/Azure/autorest.typescript/blob/c4c682a63a3995addbc5eb4d765416358b43b3c2/src/lroImpl.ts#L133 because test

[2021-07-22 21:29] #1117 closed

[2021-07-23 23:01] #996 closed

[2021-07-26 13:48] mohamadLy commented on #1116
@sarangan12 thanks for reply and explanation. Yes upgrading autorest core to 3.5.0 fixed the issue for the typescript client generation but created another issue for the java client generation. I am guessing that @autorest\<languages> are tied to specific autorest core.  I was just wondering why we are suddenly issue the issue without upgrading the autorest core itself. We were using the same vers

[2021-07-26 16:49] deyaaeldeen opened #1120 "Bug in Boolean parameters with false default value"
Swagger: https://github.com/Azure/azure-rest-api-specs/blob/e3dbb827d99eaadf132075707373f6b4bda08fd9/specification/cognitiveservices/data-plane/TextAnalytics/stable/v3.1/TextAnalytics.json#L839

Expected: generate a parameter with default value: false
[code]
Actual: generate a parameter with no default values
[code]